@import 'src/vars';

.visibility-lamp {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: .5rem;
    cursor: pointer;

    & > div {
        transition: width 165ms ease-in-out;
    }

    &:not(.is-public) {
        & > div {
            transition: width 165ms ease-in-out,
                        background-color $quickShift ease-in-out;
            background-color: $gray400;
        }

        &:hover > div {
            background-color: $gray600;
        }
    }

    &.is-public > div {
        background-color: $brightGreen;
    }

    & > div:first-of-type {
        width: .7rem;
        height: 1.4rem;
        border-radius: .7rem 0 0 .7rem;
    }

    .bulb {
        color: #FFF;
        height: 1.4rem;
        overflow:hidden;
        font-size: 1rem;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 1rem;
            height: 1rem;

            path {
                fill: #FFF;
            }
        }

        span {
            vertical-align: middle;
        }
    }

    & > div:last-of-type {
        width: .7rem;
        height: 1.4rem;
        border-radius: 0 .7rem .7rem 0;
    }
}
