@import 'src/vars';
.wr-coll-sidebar .lists-body ul li.all-pages .wrapper .visibility-lamp svg{
    vertical-align: top;
    g > g{
            fill: $gray500;
        }
}
.private-coll{
    .visibility-lamp{
        &.is-public{
            &:hover > div {
                border: 1px solid $gray500;
            }
            .bulb{
                color: $gray500;
            }
            .lamp{
                background: $gray500;
            }
        }
    }
}
.visibility-lamp {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: .5rem;
    cursor: pointer;

    & > div {
        transition: width 165ms ease-in-out;
    }

    &:hover > div{
        background: $white;
    }

    &:not(.is-public) {
        & > div {

            transition: 165ms ease-in-out,
                        background-color $quickShift ease-in-out;
            // background-color: $gray400;;

        }

        &:hover > div {
            // background-color: $gray600;
            border:1px solid $gray500;
        }
        .bulb{
            color: $gray500;
            svg{

            }
        }
    }

    &.is-public{
        &:hover > div {
            border: 1px solid $brightGreen;
        }
        .bulb{
            color: $brightGreen;
        }
    }
    .lamp{
         background: $brightGreen;
         border-radius: 1.4rem;
         width: 1.4rem;
         height: 1.4rem;
         display: inline-block;
        }
    & > div{
        min-width: 2.4rem;
        text-align: center;
        height: 2.4rem;
        padding: 0.4rem;
        border-radius: 2.4rem;
        border: 1px solid rgba(0,0,0,0);
    }
    .svg{
        display: inline-block;
        vertical-align: top;


    }
    .bulb {
        height: 1.4rem;
        overflow:hidden;
        font-size: 1rem;
        text-transform: uppercase;
        display: inline-block;
        text-align: left;
        justify-content: left;
        align-items: center;

        svg {
            width: 1rem;
            height: 1rem;

            path {
                fill: #FFF;
            }
        }

        span {
            padding-right: 0.4rem;
            vertical-align: middle;
        }
    }
}