@import 'src/vars';

header {
    background-color: #333;

    h1 {
        margin: 0;
        padding: 2rem 1rem;
        text-align: left;
        color:#ACACAC;

        span:nth-child(1) {
            color: $white;
        }
        span:nth-child(2) {
            color: #D1D1D1;
        }
    }
}
