@import 'src/vars';

.wr-inspector {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // FF targeted fix for flex child taking content height and not
    // remaining container height breaking inner scroll
    @-moz-document url-prefix() {
        overflow: auto;
    }

    .sidebar-header {
        margin-bottom: 0;
    }

    .inspector-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        overflow: auto;

        // resize handle buffer
        margin-right: rem(.4rem);

        & > h5 {
            font-size: b16(14px);
            padding: rem(1.5rem);
        }

        h4 {
            text-transform: uppercase;
            color: $gray600;
            font-size: rem(1rem);
            font-weight: 300;
            margin-bottom: rem(0.5rem);
            letter-spacing: 0.5pt;

            &:first-of-type {
                margin-top: 0;
            }

            svg {
                vertical-align: bottom;
                margin-right: rem(0.6rem);
            }
        }

        .bookmark-cap {
            padding: rem(1.5rem);

            h2 {
                font-size: rem(1.6rem);
                color: $slate;
                margin-top: rem(0.95rem);
                margin-bottom: rem(2rem);
                line-height: 1.2em;
                word-wrap: break-word;
                width: 100%;
            }
        }

        .page-metadata {
            background: $gray200;
            padding: rem(1.5rem);
            flex-grow: 1;

            h4 > svg {
                width: rem(1.2rem);
                height: rem(1.2rem);

                path {
                    fill: $gray600;
                }
            }

            ul {
                padding: 0;
                list-style-type: none;

                li {
                    margin-bottom: rem(2.5rem);

                    h5 {
                        text-transform: uppercase;
                        color: #B5B5B5;
                        font-size: rem(1.1rem);
                        font-weight: 300;
                        margin-bottom: rem(0.5rem);
                        letter-spacing: 0.5pt;
                    }

                    .value {
                        word-wrap: break-word;
                        color: $gray600;

                        a {
                          color: $gray600;
                          font-size: rem(1.15rem);
                        }
                    }
                }
            }
        }

        .bookmark-cap + .page-metadata {
            border-top: solid rem(.1rem) $gray500;
        }
    }
}
