@import 'src/vars';

.autopilot-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35rem;
    background: rgba(0,0,0,.6);
    color: $white;
    padding: 1.5rem;
    overflow: auto;
    pointer-events: auto;

    p {
        margin-bottom: 1.5rem;
    }

    h4 {
        margin-top: 0;

        svg {
            g {
                fill: $white;
            }
        }
    }

    .behaviors {
        transition: opacity .25s ease-in-out;
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            input {
                margin-right: 1rem;
            }

            .desc {

                .heading {
                    font-size: 2rem;
                }

                .last-modified {
                    font-size: 1.2rem;
                    margin-bottom: .5rem;
                }
            }
        }

        &.active {
            opacity: .75;

            li {
                cursor: initial;
            }
        }
    }

    .behavior-log {
        background: #000;
        list-style-type: none;
        padding: 1rem;
        height: 15rem;
        overflow: auto;

        li {

        }
    }

    .browser-selection {
        margin: 1.5rem 0;

        .browser-label {
            display: block;
            font-weight: 300;
        }

        .dropdown {
            width: 100%;

            button {
                background: none;
                color: $white;
                border-color: $white;
                width: 100%;
                text-align: left;
            }

            .dropdown-menu {
                width: 100%;
            }

            img {
                vertical-align: text-top;
                margin-right: .5rem;
            }
        }
    }

    .rounded {
        margin: 1.5rem 0 .5rem 0;
        color: $white;
        width: 100%;
        font-size: 1.6rem;
        padding: 1rem 0;

        svg {
            margin-right: 1rem;

            path {
                fill: #FFF;
            }
        }

        &:disabled {
            opacity: 0.85;
        }

        &.complete {
            color: $white;
            background-color: $bright-green-highlight;
            opacity: 1;
            border: none;

            svg {
                width: 1.5rem;
                height: 1.5rem;

                path {
                    fill: $white;
                }
            }
        }

    }

    .best-practices {
        border: solid .1rem $white;
        border-width: .1rem 0 0 0;
        margin-top: 5rem;
        padding-top: 2.5rem;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .autopilot-message {
        text-align: center;
        margin: 1.5rem 0;
    }

    .behaviorInfo {
        margin-top: 20px;
        color: $white;

        h4 {
            margin-bottom: .5rem;
        }

        .behaviorStats {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                font-weight: 300;
                font-size: 1.6rem;
            }
        }

    }

    .behaviorMsg {
        font-family: monospace;
        padding-bottom: 20px;
        word-break: break-all;
    }
}
