.tos-sub {
    list-style-type: lower-alpha;
}

ol.tos {

    padding-left: 16px;
}

.tos li {
    margin-top: 18px;
}

.privacy li {
    list-style-type: none;
}

.section-updated {
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: italic;
}