@import 'src/vars';

.wr-editor {
    max-width: 59rem;
    position: relative;

    & > div {
        border: none;
    }

    .wr-editor-instance {
        &.read-only {
            border: none;

            .public-DraftEditor-content {
                min-height: inherit;
                padding: 0;
            }
        }
    }

    .markdown-button {
        &.active {
            background: #d8d8d8;
        }

        & > span {
            background-image: url('../../shared/images/markdown-mark.svg');
            background-size: 2.2rem;
            background-repeat: no-repeat;
        }
    }

    .close-markdown {
        transition: fill $quickShift ease-in-out;
        position: absolute;
        right: .5rem;
        top: .5rem;
        z-index: 105;

        &:hover {
            fill: red;
        }
    }

    .markdown-editor {
        position: absolute;
        top: .5rem;
        left: .5rem;
        width: calc(100% - 1rem);
        height: calc(100% - 5rem);
        border: none;
        resize: none;
        background: #FFF;
        z-index: 100;
        padding: 1rem 2rem 1rem 1rem;

        &:focus {
            outline: none;
        }
    }

    .public-DraftEditor-content {
        min-height: 12.5rem;
        font-family: $sans;
        font-size: 1.4rem;
    }

    .editor-button-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        & > button:last-of-type {
            margin-left: .5rem;
        }
    }

    .wr-edit-button {
        transition: opacity $midShift ease-in-out;
        opacity: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &:hover {
        .wr-edit-button {
            opacity: 1;
        }
    }
}
