@import 'src/vars';

.wr-editor {
    min-height: rem(2.5rem);
    max-width: rem(59rem);
    position: relative;

    &.click-to-edit:not(.open) {
        display: flex;
        align-items: center;
    }

    & > div {
        border: none;
    }

    .wr-editor-instance {
        &.read-only {
            border: none;

            .public-DraftEditor-content {
                min-height: inherit;
                padding: 0;
            }
        }
    }

    .markdown-button {
        &.active {
            background: $gray350;
        }

        & > span {
            background-image: url('../../shared/images/markdown-mark.svg');
            background-size: rem(2.2rem);
            background-repeat: no-repeat;
        }
    }

    .close-markdown {
        transition: fill $quickShift ease-in-out;
        position: absolute;
        right: rem(.5rem);
        top: rem(.5rem);
        z-index: 105;

        &:hover {
            fill: red;
        }
    }

    .markdown-editor {
        position: absolute;
        top: rem(.5rem);
        left: rem(.5rem);
        width: calc(100% - 1rem);
        height: calc(100% - 5rem);
        border: none;
        resize: none;
        background: #FFF;
        z-index: 100;
        padding: rem(1rem) rem(2rem) rem(1rem) rem(1rem);

        &:focus {
            outline: none;
        }
    }

    &.no-buttons .markdown-editor {
        height: calc(100% - 1rem);
    }

    .public-DraftEditor-content {
        min-height: rem(12.5rem);
        font-family: $sans;
        font-size: rem(1.4rem);
    }

    .DraftEditor-editorContainer {
        max-height: rem(30rem);
        overflow: auto;
    }

    .editor-button-row {
        display: flex;
        justify-content: flex-end;
        margin-top: rem(1rem);
        text-transform: uppercase;


        button+button {
            margin-left: rem(1.5rem);
        }
    }

    .click-indicator {
        transition: opacity $quickShift ease-in-out;
        margin-left: rem(1rem);
        cursor: pointer;
        opacity: 0;

        svg {
            width: rem(1.4rem);
            height: rem(1.4rem);
        }
    }

    &:hover .click-indicator {
        opacity: 1;
    }

    .toggle-btn-row {
        display: flex;
        justify-content: center;
        margin-top: rem(.5rem);

        .wr-edit-button {
            transition: opacity $midShift ease-in-out;
            text-transform: uppercase;
            padding: rem(0.4rem) rem(2rem);
        }
    }
}
