@import 'src/vars';

.wr-breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: rem(.1rem);
    border: none;
    display: inline-block;

    li {
        display: inline;

        &:not(:first-of-type):before {
            content: '/';
            color: $white;
            padding:0 rem(1rem);
        }

        a, span {
            color: $white;
            max-width: rem(10rem) !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a:focus, a:hover, a:active {
          text-decoration: underline;
        }

        a.branding {
            text-decoration: none;
        }
    }
}
