#wb_iframe_container, .wb_iframe {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: scroll !important;
    position: fixed;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}