{
  "compact": true,
  "presets": [
    "react",
    [
      "env",
      {
          "useBuiltIns": true,
          "targets": {
              "browsers": ["last 2 versions", "ie >= 11"]
          }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "transform-react-remove-prop-types",
    ["transform-imports", {
      "react-bootstrap": {
        "transform": "react-bootstrap/lib/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
