{
  "presets": [
    "react",
    [
      "env",
      {
          "targets": {
              "browsers": ["last 2 versions", "ie >= 11"]
          }
      }
    ],
    "stage-0"
  ],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}
