{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
  },
  "rules": {
    "arrow-body-style": 0,
    "camelcase": 1,
    "class-methods-use-this": 1,
    "comma-dangle": 0,
    "comma-spacing": 1,
    "consistent-return": 1,
    "curly": 0,
    "eqeqeq": 1,
    "global-require": 0,
    "implicit-arrow-linebreak": 1,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "import/prefer-default-export": 1,
    "indent": [2, 2, {"SwitchCase": 1}],
    "jsx-a11y/href-no-hash": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/label-has-associated-control": 1,
    "jsx-a11y/no-autofocus": 1,
    "jsx-a11y/no-noninteractive-element-interactions": 1,
    "jsx-a11y/media-has-caption": [ 0, {
      "audio": [ "Audio" ],
      "video": [ "Video" ],
      "track": [ "Track" ],
    }],
    "jsx-a11y/mouse-events-have-key-events": 1,
    "jsx-a11y/iframe-has-title": 0,
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 1,
    "jsx-a11y/anchor-is-valid": 1,
    "keyword-spacing": 0,
    "max-len": [0, 800, 2],
    "new-cap": 0,
    "no-alert": 0,
    "no-bitwise": 0,
    "no-console": 0,
    "no-else-return": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-prototype-builtins": 1,
    "no-shadow": 1,
    "no-restricted-globals": 1,
    "no-restricted-properties": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-useless-escape": 0,
    "no-var": 1,
    "object-curly-newline": 0,
    "object-curly-spacing":1,
    "object-shorthand": 1,
    "operator-linebreak": 0,
    "padded-blocks": 0,
    "prefer-template": 1,
    "quote-props": 1,
    "quotes": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": 1,
    "react/jsx-no-target-blank": 0,
    "react/no-multi-comp": 0,
    "react/no-unescaped-entities": 0,
    "react/no-did-update-set-state": 1,
    "react/no-unused-prop-types": 0,
    "react/no-unused-state": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-find-dom-node": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 1,
    "react/sort-comp": 1,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,
    "react/jsx-wrap-multilines": 0,
    "react/no-access-state-in-setstate": 1,
    "semi": 1,
    "spaced-comment": 0,
    "vars-on-top": 1,
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__PLAYER__": true,
    "__DESKTOP__": true,
    "socket": true,
    "expect": true,
    "ContentFrame": false,
    "CBrowser": true
  }
}
