@import 'src/vars';

.list-entry {
    width: 100%;
    margin-top: rem(3.5rem);

    .wr-editor {
        .DraftEditor-editorContainer {
            max-height: inherit;
        }
    }

    .list-title {
        display: flex;
        align-items: flex-start;
        border: solid 0 $gray500;
        border-width: 0 0 rem(.2rem) 0;
        padding: 0 rem(1.5rem) rem(1rem) 0;

        .list-metadata {
            a {
                &:link, &:visited {
                    color: $gray600;
                    text-decoration: underline;
                }
            }
        }

        .title-container {
            display: flex;
            align-items: center;

            h1 {
                display: inline-block;
                margin: 0;
                font-size: rem(2.6rem);
            }

            .visibility-badge {
                background: $brightGreen;
                color: $white;
                font-size: rem(1rem);
                border-radius: rem(.3rem);
                padding: rem(.1rem) rem(.4rem);
                margin-left: rem(1rem);
            }
        }

        h3 {
            font-weight: 400;
            margin: 0;

            & > a {
                transition: color $quickShift ease-in-out;
                text-decoration: none;
                display: inline-block;

                &:link, &:visited {
                    color: #000;
                }

                &:hover {
                    color: blue;
                }
            }
        }

        svg {
            width: rem(1.5rem);
            height: rem(1.5rem);
            vertical-align: bottom;
            margin-right: rem(1rem);

            g {
              fill: $gray600;
            }
        }
    }

    .desc {
        padding: rem(1rem) 0 0 rem(2.5rem);
        margin-bottom: rem(3rem);
        font-size: rem(1.6rem);
        word-break: break-word;

        .wr-truncate {
            align-items: flex-start;
        }

        div + .list-link {
            display: inline-block;
            margin-top: rem(0.2rem);
        }

        .list-link {
          &:link, &:visited {
              color: $gray600;
          }

          &:hover, &:active {
              color: $pine;
          }
        }
    }

    & > ol {
        li {
            margin-bottom: rem(3.5rem);

            .link-group {
                display: block;
                width: fit-content;

                &:hover {

                    h4 {
                        text-decoration: underline;
                    }

                    .source-link {
                        color: $pine;
                    }
                }
            }

            h4 {
                margin-bottom: rem(.2rem);
            }

            .source-link {
                display: inline-block;
                color: $gray600;
                text-decoration: underline;
            }

            .bk-timestamp {
                display: block;
                margin: rem(0.5rem) 0;
                color: $gray525;
                font-weight: 300;
            }

            .wr-editor {
                margin-top: rem(1rem);
            }
        }
    }
}