@import 'src/vars';

.faq {
    .heading {
        display: flex;
        align-items: center;
        margin: b16(100px) 0 b16(50px) 0;

        aside  {
            text-align: right;
        }

        img {
            width: 100%;
            max-width: rem(15.6rem);
            display: inline-block;
        }
    }

    aside {
        padding-right: 7%;

        img {
            &.rhizome-logo {
                width: 75%;
            }

            &.mellon-logo {
                width: 85%;
                height: rem(10rem);
            }

            &.knight-fnd {
                width: 65%;
                height: rem(7.5rem);
            }
        }

        a {
            display: inline-block;
        }

        a:link, a:visited {
            color: #CCC;
        }

        a:hover {
            color: #337ab7;
        }
    }

    h2 {
        font-weight: 300;
        margin: 0;
        line-height: 1.25;
    }

    .credit {
        color: #CCC;
        text-align: right;
        margin-bottom: rem(2.5rem);
        font-size: rem(1.2rem);

        & > span {
            display: inline-block;
            padding: rem(1rem) 0;
        }
    }

    h4:not(:first-of-type) {
        margin-top: rem(2.5rem);
    }

}

.a {
    position: relative;
    padding-left: rem(1rem);

    &:before {
        content: '';
        border: solid rem(.1rem);
        border-width: 0 0 0 rem(.2rem);
        border-color: #429EEC;
        position: absolute;
        height: calc(100% - .8rem);
        top: rem(.4rem);
        left: 0;
    }
}

.support-logos {
    margin: rem(5.6rem) 0;

    & > a {
        margin-right: rem(5.6rem);

        img {
            width: rem(20rem);
        }
    }
}


@media (max-width: 544px) {
    .faq {
        .heading {
            margin: rem(2.5rem) 0;
        }
        h2 {
            font-size: rem(2rem);
        }
    }
}
