matrix:
  include:
    - os: linux
      language: python
      python: "3.5"
      sudo: false
    - os: osx
      osx_image: xcode6.4
      language: generic
      sudo: required

env:
  global:
    - ARTIFACTS_TARGET_PATHS="webrecorder-player/$TRAVIS_BRANCH"


addons:
  artifacts:
    paths:
      - webrecorder-player-$TRAVIS_OS_NAME

before_install: |
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      brew update;
      brew upgrade pyenv;
      eval "$(pyenv init -)";
      PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.5.3;
      pyenv global 3.5.3;
      pip install -U setuptools;
      pip install pyopenssl;
  fi

install:
  - cd webrecorder
  - python setup.py install
  - pip install coverage pytest-cov codecov
  - pip install pyinstaller

script:
  - python setup.py test
  - cd webrecorder/standalone
  - pyinstaller --clean --additional-hooks-dir ./hooks/ -y -F ./webrecorder_player.py
  - mv ./dist/webrecorder_player $TRAVIS_BUILD_DIR/webrecorder-player-$TRAVIS_OS_NAME
  - $TRAVIS_BUILD_DIR/webrecorder-player-$TRAVIS_OS_NAME -v


after_success:
  - codecov

