version: '2'

services:
    app:
        build: ./webrecorder
        command: uwsgi /code/apps/apiapp.ini

        env_file:
            - ./wr.env

        depends_on:
            - warcserver
            - recorder
            - redis
            - shepherd
            - dat

        volumes:
            - ./webrecorder/:/code/
            - ./webrecorder/proxy-certs:/code/proxy-certs
            - ./data:/data

        networks:
            - default
            - browsers

    frontend:
        build:
            context: ./frontend

        env_file:
            - ./wr.env

        command: sh run.sh

        depends_on:
            - app

        volumes:
            - ./frontend/:/code/
            - /code/node_modules

        ports:
            - 8096:8096 # for HMR on dev

    dat:
        image: webrecorder/dat-share
        environment:
            - PORT=3282
            - ROOT_DIR=/data/storage

        ports:
            - "3282:3282/tcp"
            - "3282:3282/udp"

        volumes:
            - ./data:/data
            - ./data/dat/secret_keys:/root/.dat/secret_keys

    recorder:
        build: ./webrecorder
        command: uwsgi /code/apps/rec.ini

        env_file:
            - ./wr.env

        depends_on:
            - warcserver
            - redis

        volumes:
            - ./webrecorder/:/code/
            - ./data:/data

    warcserver:
        build: ./webrecorder
        command: uwsgi /code/apps/load.ini

        env_file:
            - ./wr.env

        depends_on:
            - redis

        volumes:
            - ./webrecorder/:/code/
            - ./data:/data

    nginx:
        build: ./nginx
        image: webrecorder/nginx
        depends_on:
            - app
            - frontend

        volumes:
            - ./data:/data
            - ./webrecorder/:/code/
            - ./frontend/:/frontend/

        ports:
            - 8089:80
            - 8092:81

    behaviors:
      image: "webrecorder/behaviors:latest"

    shepherd:
        image: oldwebtoday/browser-shepherd

        env_file:
            - ./wr.env

        environment:
            - SCREEN_WIDTH=1280
            - SCREEN_HEIGHT=800

            - PROXY_HOST=app
            - PROXY_PORT=8088
            - PROXY_GET_CA=http://wsgiprox/download/pem

            - CONTAINER_EXPIRE_SECS=3600
            - IDLE_TIMEOUT=120

            - BROWSER_NET=webrecorder_browsers
            - MAIN_NET=webrecorder_default

        ports:
            - 9020:9020

        depends_on:
            - redis

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock


    redis:
        build: ./redis

        env_file:
            - ./wr.env

        volumes:
            - ./data:/data

    # Postfix (if sending mail locally)
    mailserver:
        restart: always
        image: catatnight/postfix

        environment:
            - "maildomain=localhost"
            - "smtp_user=test:archive"


networks:
    default:
        driver: bridge


    browsers:
        driver: bridge

