@import 'src/vars';

.wr-collection-menu {
    display: inline-block;
    width: 100%;

    & > div {
        display: inline-block;
        width: 100%;
    }

    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        svg {
            vertical-align: bottom;
        }
    }

    .dropdown-menu {
        width: 100%;
        max-height: 40rem;
        overflow: auto;
        padding: 0;
        border-radius: 0;

        li {
            a {
                padding: 1rem 1rem;

                &:focus {
                    outline: none;
                }

            }

            &.active {
                a {
                    background: $blue;
                }

                polygon, polyline, path {
                    stroke: #FFF;
                }

                #W {
                    fill: #FFF;
                }
            }

            &.divider {
                margin: 0;
            }

            &.make-wrap a {
                white-space: normal;
            }

            svg {
                vertical-align: bottom;
            }
        }
    }
}

