@import 'src/vars';

.wr-collection-menu {
    display: inline-block;
    width: 100%;

    & > div {
        display: inline-block;
        width: 100%;
    }

    .dropdown-toggle {
        svg {
            position: relative;
            top: b16(-1px);
            width: b16(18px);
            height: b16(18px);
            margin-right: rem(0.2rem);
        }
    }

    .dropdown-menu {
        width: 100%;
        max-height: rem(40rem);
        overflow: auto;
        padding: 0;
        border-radius: 0;

        .dropdown-divider {
            margin: 0;
        }


        .dropdown-item {
            padding: rem(1rem) rem(1rem);

            &.make-wrap a {
                white-space: normal;
            }

            svg {
                vertical-align: top;
            }
        }
    }
}
