html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
}

footer {
    padding: 20px 0 40px 0;
}

.footer-label {
    position: relative;
    font-size: 9px;
}
.footer-label > div {
    margin-left: 2px;
}
.footer-label > a {
    display: block;
}
.rhizome-logo {
    width: 118px;
    padding-top: 5px;
}
.project-info a {
    margin-right: 10px;
}
.project-info a svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.project-info a svg.tw {
    width: 26px;
    height: 26px;
}
.project-info a svg.gh {
    width: 26px;
    height: 26px;
}
.project-info a svg.contact {
  margin-right: 5px;
}
.project-info a:hover svg.contact path{
    fill: #23527c;
}

.project-info a:hover svg path {
    fill: #337ab7;
}
.project-info a:hover svg circle {
    stroke: #337ab7;
}
.project-info a.divider:before {
    content:'';
    display: inline-block;
    width: 1px;
    height: 15px;
    margin-right: 10px;
    background: #000;
    vertical-align: sub;
}

@media (max-width: 767px) {
    .project-info {
        text-align: center;
    }
    .footer-label {
        padding: 10px 0;
        text-align: center;
    }
}

@media (min-width: 767px) {
    footer .container .row {
        display: flex;
        display: -ms-flexbox;
        align-items: flex-end;
        -ms-flex-align: end;
    }
}
