/* bootflat overriedes */
.dropdown-menu {
    background-color: #FFF;
}

.navbar-default {
    background: #f8f8f8;
}

.footer {
    background: inherit;
}

body {
    font-family: 'HKGrotesk';
}

h1 {
    font-family: 'InknutAntiqua';
}

a, a:visited, a:hover, a:active {
    color: #0000ee;
}
a:hover {
  text-decoration: underline;
}

.btn-primary, .btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary[disabled] {
  color: #fff;
  background-color: #0000ee;
  border-color: #0000ee;
}
a.btn-primary  {
  color: #fff;
}

.btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
  color: #0000ee;
  background-color: #fff;
  border-color: #0000ee;
}

.badge {
    font-family: sans-serif;
}

.alert-info {
    color: #333;
    background-color: #eee;
    border-color: #333;
}

.panel-info>.panel-heading {
  color: #000;
  background-color: #FFF900;
  border-color: #eee;
}

.temp-move-coll {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    -ms-flex-align: start;
}
.temp-move-coll input {
    margin-right: 10px;
}
.temp-move-coll label {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
}



/*
 * Header top bar
 *
 */
.navbar {
    min-height: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    border: 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-webrecorder {
    background-color: #0000ee;
}

.header-webrecorder a,
.header-webrecorder a:visited,
.navbar-user-links>ul>li>a,
.navbar-user-links>ul>li>a:visited {
    color: #fff;
}

.header-webrecorder a:focus,
.header-webrecorder a:hover,
.navbar-user-links>ul>li>a:focus,
.navbar-user-links>ul>li>a:hover {
    text-decoration: underline;
    background-color: #0000ee;
    color: #fff;;
}

.header-webrecorder a:active,
.navbar-user-links>ul>li>a:active {
    outline: 0;
    color: #74B9F3;
}

.navbar-user-links {
    margin-right: 0px;
}

.navbar-user-links>ul>li>a {
    display: inline;
    font-size: 1.0em;
    padding: 0px;
    padding-right: 15px
}

.navbar-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    color: #FFF;
    margin:0;
    z-index: 50;
}

.wr-breadcrumb {
    background-color: transparent;
    padding: 0px !important;
    padding-left: 5px;
    margin: 1px;
    border: none;
}

.wr-breadcrumb>li>a.branding {
    text-decoration: none;
}
.wr-breadcrumb>li>a.branding:hover {
    text-decoration: underline;
    color: #fff;
}

.wr-breadcrumb>li>span {
    color: #fff;
}


.wr-breadcrumb>li>a:focus,
.wr-breadcrumb>li>a:hover {
  color: #fff;
  text-decoration: underline;
}

.wr-breadcrumb>li>a:active,
.wr-breadcrumb>li>a:hover {
  color: #fff;
  text-decoration: underline;
}

.wr-breadcrumb>li>span,
.wr-breadcrumb>li>a {
    max-width: 100px !import;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.wr-timer {
    color: #ccc;
    margin-left: 16px;
    margin-top: 1px;
    list-style: none;
    font-style: italic;
}

.wr-divider {
    margin: 0 15px;
    width: 1px;
    height: 60%;
    background: #ccc;
}

.num-collections {
    color: white;
    padding: 0 1px;
}
/* End header top bar */


/* Global */
.wr-content {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-grow: 1;
    -ms-flex: 1 0 auto;
}
#replay_iframe {
    transition: padding .3s ease-in-out;
}
/* toolbin bodyclass */
.wr-toolbin-open #replay_iframe {
    padding-top: 40px;
}

/* End global */

/*
 * Homepage
 *
 */
.wr-hp h4 {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}
.homepage-user-links>ul>li>a,
.homepage-user-links>li>a:visited {
    color: #429EEC;
}

.header-webrecorder a:focus,
.header-webrecorder a:hover,
.homepage-user-links>ul>li>a:focus,
.homepage-user-links>ul>li>a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    color: #095596;
}

.header-webrecorder a:active,
.homepage-user-links>ul>li>a:active {
    outline: 0;
    color: #095596;
}

.homepage-user-links>ul>li>a {
    display: inline;
    font-size: 1.0em;
    padding: 0px;
    padding-right: 15px
}

input.homepage-title {
    min-width: 160px !important;
}

.landing-info {
  padding: 60px;
  border-bottom: 1px solid #eee;
  margin-bottom: 60px
}
.landing-info ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.8rem;
}
.landing-info ul li {
  margin: 2.5rem 0;
  padding-left: 0;
  text-indent: -0.8rem;
}
.landing-info ul li::before {
  content: "• ";
  color: #ccc;
  position: relative;
  left: -10px;
}

.panel-body ul {
    margin-top: .5em;
}
    .panel-body li {
        margin-bottom: 1em;
    }

a#collapse-vid-toggle {text-decoration: none}
/*a#collapse-vid-toggle .glyphicon {
    color: #333;
}*/
a#collapse-vid-toggle[aria-expanded=false] .glyphicon-triangle-right {
    display: inline;
}
a#collapse-vid-toggle[aria-expanded=false] .glyphicon-triangle-bottom {
    display: none;
}
a#collapse-vid-toggle[aria-expanded=true] .glyphicon-triangle-right {
    display: none;
}
a#collapse-vid-toggle[aria-expanded=tru] .glyphicon-triangle-bottom {
    display: inline;
}

#news-alert {
    margin: 1rem auto 3rem auto;
    background-color: white;
    background-image: none;
    border: 1px solid #0232F5;
    color: black;
}
#news-alert a {
    margin-top: 10px;
    font-weight: bold;
    color: #0232F5;
}
#news-alert .wr-alert-logo {
    float: left;
    max-width: 80px;
    min-height: 100%;
}
#news-alert .wr-alert-logo img {
    width: 100%;
}
#news-alert .wr-alert-info {
    display: table;
}
#news-alert .wr-alert-info h5 {
    padding: 0 4%;
}
#news-alert .wr-alert-info p {
    margin: 0 5% 10px 5%;
}

/* End homepage */


/* registration */

.announce-mailer {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    align-items: center;
    -ms-flex-align: center;
}
.announce-mailer input {
    margin: 0;
    font-size: 150%;
}
.announce-mailer label {
    font-weight: 400;
    width: calc(100% - 50px);
    margin: 0;
}

/*
 * Documentation
 *
 */

.documentation ol.instructions{
  margin-bottom: 60px;
}
.documentation ol.instructions li{
  padding-bottom: 20px;
}

.documentation span.keyword {
  font-weight: bold;
}

/*
 * FAQ
 *
 */


.faq .heading {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    margin: 50px 0;
}

.faq .heading aside {
    text-align: right;
}

.faq .heading img {
    width: 100%;
    max-width: 156px;
    display: inline-block;
}

.faq aside {
    padding-right: 7%;
}
.faq aside a {
    display: block;
}

.faq aside img.rhizome-logo {
    width: 75%;
}
.faq aside img.mellon-logo {
    width: 85%;
}
.faq aside img.knightfdn-logo {
    width: 65%;
}

.faq h2 {
    font-weight: 300;
    margin: 0;
    line-height: 1.25;
}

.faq .credit {
    color: #CCC;
    text-align: right;
    margin-bottom: 25px;
    font-size: 12px;
}

.faq .credit > span {
    display: inline-block;
    padding: 10px 0;
}

.faq aside a:link, .faq aside a:visited {
    color: #CCC;
    text-decoration: underline;
}
.faq aside a:hover {
    color: #337ab7;
}

.faq h4:not(:first-of-type) {
    margin-top: 25px;
}

.a {
    position: relative;
    padding-left: 10px;
}

.a:before {
    content: '';
    border: solid 1px;
    border-width: 0 0 0 2px;
    border-color: #eee;
    position: absolute;
    height: calc(100% - 8px);
    top: 4px;
    left: 0;
}

.support-logos {
    margin: 56px 0;
}

.support-logos > a {
    margin-right: 56px;
}

.support-logos > a img {
    width: 200px;
}

@media (max-width: 544px) {
    .faq .heading {
        margin: 25px 0;
    }

    .faq h2 {
        font-size: 20px;
    }
}
/* end faq */

/*
 * Archive Page (Collections Listings Page)
 *
 */

.collection-list>li {
    margin: 0px
}

.collection-title {
    font-size: 20px;
}

    .collection-list>li>a {
        display: block;
        position: relative;
        padding: 8px;
    }
        .collection-list>li:hover {
            text-decoration: underline;
            background-color: #eee;
            cursor: pointer;
        }


.collection-metadata, .collection-desc {
    color: #333 !important;
}
    .collection-desc {
        font-size: 14px;
        margin-top: 14px;
    }

.collection-description {
    position: relative;
}
    .collection-description.page-archive button.edit-description {
        position: absolute;
        top: 19px;
        left: -8px;
        z-index: 666;
        transform: scale(-1,1);
    }

/*End Archive Page*/

/* Upload */

.upload-progress {
    position: relative;
    margin-top: 30px;
    display: none;
}

#upload-status {
    display: none;
}

.upload-percent {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.upload-error {
    font-weight: bold;
    color: darkred;
}

input.upload-choice {
    margin-right: 8px;
}

.upload-coll-button {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    margin-left: 8px;
}
.upload-coll-button .upload-label {
    font-size: 12px;
    vertical-align: text-top;
}


/*
 * Recorder
 *
 */
.breadcrumb-webrecorder {
    display: inline-block;
    margin-bottom: 0px;
}

.banner-status {
    padding: 5px 0px 5px 0px;
    line-height: 1.5em;
}

.recorder-status {
    font-weight: bold;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: darkred;
}

.recording, .patching {
    color: darkred;
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.start-recording-spacer {
    height: 20px;
}

.title-inline {
    width: 300px;
    display: inline-block;
}

.space-usage {
    width: 150px;
}

.alert-during-recording {
    position: fixed;
    top: 20px;
    z-index: 2;
    height: 40px;
    display: none;
    padding: 10px;
}

.doesnt-look-right {
    font-size: 11px;
}

.replay-recording .btn-xs,
.recording-in-progress .btn-xs,
.patch-recording .btn-xs
 {
  padding: 0px 5px;
}

.form-group-recorder-url .input-group-addon {
    background-color: transparent;
    border: 0px;
}

.replay-date {
    position: relative;
    z-index: 10;
    font-size: 14px;
    margin-top: -26px;
    margin-right: 16px;
    float: right;
    font-feature-settings: "tnum";
}

.url-input-recorder {
    width: 92%;
    display: inline-block;
}

.url-input-replay {
    width: 88%;
    display: inline-block;
}

.extract-selector {
    display: none;
    height: 100%;
}
.extract-selector .sources-widget ul {
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -ms-flex-pack: center;
}
.extract-selector .sources-widget {
    min-width: 150px;
    padding: 0 15px 0 8px;
    height: 100%;
    border-radius: 0;
}
.extract-selector .btn-group {
    height: 100%;
}
.extract-selector .sources-widget li {
    font-size: 11px;
}
.extract-selector .sources-widget li.ts {
    font-weight: 300;
}
.extract-selector .sources-widget li.mnt-label {
    font-weight: 400;
    letter-spacing: 1px;
}

.extract-selector > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.extract-selector > button > span:last-child {
    display:inline-block;
}
.extract-selector > button > span:last-child::first-letter {
    text-transform: uppercase;
}
.extract-selector img {
    width: 16px;
    height: 16px;
}
.extract-selector .dropdown-menu {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: scale(0.98, 0.98);

    top: -9999px;
    left: -9999px;
    opacity: 0;
    display: flex;
    display: -ms-flexbox;
    border-radius: 0px;
    margin: 0;
    min-width: 400px;
    padding: 15px;

    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .extract-selector .dropdown-menu {
        min-width: 300px;
    }
}

.ra-mode-row {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    -ms-flex-align: start;
}
.ra-mode-badge {
    padding: 0 5px;
    font-size: 13px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 300;
    letter-spacing: 1px;
}
.ra-mode-badge.extract {
    background-color: #265a88;
    margin-right: 5px;
}
.ra-mode-badge.patch {
    background-color: rgb(204,204,204);
    margin-right: 5px;
}

.ra-collection {
    text-decoration: underline;
    margin-left: 5px;
    white-space: normal;
}
.ra-info {
    display: flex;
    display: -ms-flexbox;
    border-left: 10px solid rgb(242,242,242);
    padding-left:15px;
    margin-top: 15px;
}
.ra-info > div:first-of-type {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: flex-end;
    -ms-flex-align: end;
    margin-right: 10px;
}
.ra-info > div:last-of-type {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: flex-start;
    -ms-flex-align: start;
}
.ra-source-name {
    white-space: normal;
}
.ra-source-name a {
    color: #000;
}
.ra-source-name a:hover {
    color: #337ab7;
    text-decoration: none;
}
.ra-source-name a span:first-of-type {
    text-decoration: underline;
}
.ra-source-name .glyphicon-new-window {
    margin-left: 5px;
}


.ra-dropdown-menu h5 {
    margin: 0;
}
.ra-replay-info-label {
    color: rgb(153,153,153);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px
}
.ra-recording-block {
    margin-top: 15px;
}
.ra-recording-block h5 {
    display: inline-block;
}
.ra-resources {
    border: solid 1px rgb(204,204,204);
    padding: 5px 10px;
    margin-top: 15px;
}
.ra-resources > ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}


.archive-toggle {
    transition: border-color .25s ease-in-out;
    white-space: initial;
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    display: -ms-flexbox;
    border-color: rgb(204,204,204);
}
.archive-toggle.on {
    border-color: rgb(228, 121, 46);
}
.archive-toggle > label {
    padding: 5px 0;
    font-weight: normal;
}
.archive-toggle .checkbox-block {
    transition: background-color .25s ease-in-out;
    width: 75px;

    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    -ms-align-items: start;
    background-color: rgb(204,204,204);
    margin-right: 10px;
}
.archive-toggle.on .checkbox-block {
    background-color: rgb(228, 121, 46);
}
.archive-toggle .checkbox-block input {
    margin-top: 10px;
    font-size: 50px;
}

.record-action button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}
.remote-archive .extract-selector {
    display: table-cell;
}
.remote-archive .record-action {
    display: none;
}
.containerized .extract-selector li {
    text-align: left;
}

.truncate-expand {
    color: #429EEC;
    cursor: pointer;
}
.truncate-expand.open {
    color: #000;
    cursor: inherit;
}

/* End recorder */


/*
 * Interstitial pages
 * Pages w/recorder but no content
 */
.interstitial-page {
    background-color: #808080;
}
.interstitial-page .wr-tools {
    display: none;
}
.interstitial-page .wr-controls {
    background-image: initial;
    background-color: initial;
    box-shadow: initial;
}
/* End interstitial page */


/*
 * Collection Info page
 *
 */
.edit-title-form input {
    margin-bottom: 5px;
}
.edit-title-form-visible {
    display: inline-block;
}
.wr-collection-info {
    position: relative;
    flex-grow: 1;
    -ms-flex: 1 0 auto;
    min-height: 400px;
}

.collection-info-title {
    font-family: 'HKGrotesk', sans-serif;
    position: relative;
    font-size: 21px;
    /* font-weight: 300; */
}
h1 button.edit-title {
    position: absolute;
    left: -20px;
    top: 4px;
    transform: scale(-1,1);
}

.glyphicon-star {
    color: rgb(251,200,24);
}
.glyphicon-star-empty {
    color: rgb(207,207,207);
}

.wr-coll-actions {
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-end;
    -ms-flex-pack: end;
    align-items: center;
    -ms-flex-align: center;
}
.wr-coll-actions > *:not(:last-child) {
    margin-right: 10px;
}
@media (max-width: 400px) {
    .wr-coll-actions {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .wr-coll-actions > * {
        margin: 0 0 10px 0;
    }
}

.rec-filter {
    padding: 10px 0;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    text-transform: uppercase;
    font-size: 11px;
}


.hide-loading-spinner,
.edit-title-loading-spinner {
    display: inline-block;
    background-image: url(/static/images/edit_title_spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
}

.edit-title-loading-spinner {
    width: 22px;
    height: 22px;
}

.hide-loading-spinner {
    width: 14px;
    height: 14px;
    background-position-x: 0px;
    background-position-y: 2px;
}

.access-switch {

}

.recording-panel {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-right: 0px;
    padding-left: 0px;

    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
}

.recording-panel-top-spacer {
    height: 30px;
}

.recording-selector {
    margin-top: 8px;
    border: solid 1px #b9b9b9;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    height: 100%;

    -ms-flex: 1 1 100%;
}
.recording-selector:after {
    content: "";
    position:absolute;
    z-index: 10;
    left: 1px;
    bottom: 1px;
    height: 30px;
    width: calc(100% - 17px);
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    pointer-events: none;
}

/* Hack for FF flexbox issue, add up recording header, buttons and margin */
@-moz-document url-prefix() {
    .recording-selector {
        height: calc(100% - (35px + 9px));
    }

    div + .recording-selector {
        height: calc(100% - (35px + 30px + 9px));
    }
}

.icon-button {
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
    background: transparent;
}

.icon-button:focus {
    outline: none;
    background: transparent;

}

.collection-description {
    position: relative;
}
    .collection-description button.edit-description {
        position: absolute;
        top: 0;
        left: -8px;
        z-index: 666;
        transform: scale(-1,1);
    }

div.filter-label {
    background: no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    background-image: url(/static/images/filter-icon.png);
    background-size: 16px 16px;
}

    div.filter-label.active {
        background-image: url(/static/images/filter-icon-selected.png);
        background-color: #337ab7;
        color: white
    }

.card {
    /*border-top: 1px solid #ccc;*/
    padding: 4px 0 4px 10px;
    cursor: pointer;
    position: relative;

    display: flex;
    display: -ms-flexbox;
}

.card:last-of-type {
    margin-bottom: 15px;
}

.card-top {
    padding: 5px 0px 10px 10px;
    border-bottom: solid 1px #b9b9b9;
}

#clear-all-widget {
    transition: opacity .125s ease-in-out;
    opacity: 1;
}
.clear-all-btn.disabled {
    display: none;
}

#clear-all-widget.clear-all-btn.disabled {
    display: block;
    color: #CCC;
    text-decoration: none;
    cursor: default;
}

.checkbox-column {
    display: inline-block;
    width: 25px;
    vertical-align: top;
}
.checkbox-column input {
    font-size: 20px;
}

.content-column {
    display: inline-block;
    width: 100%;
}
.recording-content {
    width: calc(100% - 20px);
}

.card .sub-menu {
    position: absolute;
    top: 0px;
    right: 2px;
}

.card .sub-menu.disabled {
    color: lightgray;
    background-color: white;
}

.recording-sources-dropdown button {
    background: none;
    text-decoration: underline;
}
.recording-sources-dropdown .dropdown-menu {
    left: 0;
    border-radius: 0;
    width: 90%;
    margin: 10px 5% 0 5%;
    top: inherit;
    font-size: 12px;
}
.recording-sources-dropdown .dropdown-menu>li>a {
    white-space: inherit;
}
.recording-sources-dropdown .arrow_box:before,
.recording-sources-dropdown .arrow_box:after {
    left: 50%;
}

.card .recording-actions .btn {
    background-color: transparent;
}

.card-selected .recording-actions .btn {
    border-color: #aaa;
}

.card:hover,
.card-selected:hover {
    background-color: #F6F9F9;
}

.recording-title {
    overflow-wrap: break-word;
    font-weight: bold;
    /*font-weight: bold;*/
    /*color: #1932bd;*/
}

.recording-time-info {
    color: #777;
}

.recording-bin.animate .card .recording-details {
    transition: height .3s ease-in-out;
}
.recording-details {
    overflow: hidden;
}
.recording-details.closed {
    height: 0 !important;
}

.recording-fn-row {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    margin-top: 5px;
}
.recording-fn-row > * {
    flex-grow: 2;
    -ms-flex: 2 0 auto;
    text-align: center;
}
.recording-fn-row a:link,
.recording-fn-row a:visited {
    transition: color .125s ease-in-out;
    color: rgb(163,163,163);
}
.recording-fn-row a:hover {
    color: #337ab7;
}
.recording-fn-row .glyphicon {
    font-size: 12px;
}
.recording-fn-row > *:last-child {
    flex-grow: 4;
    -ms-flex: 4 0 auto;
    text-align: right;
}
.recording-fn-row > *:last-child > a {
    padding: 5px;
}
.recording-fn-row > *:last-child > a:hover {
    color: red;
}

.mode-selector {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
}

.recording-actions {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
}
.recording-actions > *:not(:last-child) {
    margin-right: 5px;
}

.bookmarks-panel {
    margin-left: 220px;
}
@media (max-width: 768px) {
    .bookmarks-panel {
        margin-left: 0;
        padding: 0 15px;
    }
}

.table-noborder  {
    border: 0px;
}

.table-noborder>tbody>tr, .table-noborder>tbody>tr>td {
    border: 0px;
}

.table-bookmarks {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
    margin-top: -2px;
}
@media (max-width: 1200px) {
    .table-bookmarks {
        table-layout: auto;
        width: 100% !important;
    }
}

.table-bookmarks>thead>tr>th.bookmark-title,
.table-bookmarks>thead>tr>th.bookmark-tag,
.table-bookmarks>thead>tr>th.bookmark-browser,
.table-bookmarks>thead>tr>th.timestamp,
.table-bookmarks>thead>tr>th.bookmark-url {
    border-right: 1px solid #ddd;
}

.table-bookmarks>thead>tr>th {
    border-bottom: none;
}

/* mirror pen glyph */
.table-bookmarks>tbody>tr>td>button.edit-title {
    transform: scale(-1, 1);
    opacity: 0;
}
.table-bookmarks>tbody>tr:hover button.edit-title {
    opacity: 1;
}
.table-bookmarks>thead>tr>th.bookmark-edit-title,
.table-bookmarks>tbody>tr>td.bookmark-edit-title {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table-bookmarks>thead>tr>th.bookmark-hidden-switch,
.table-bookmarks>tbody>tr>td.bookmark-hidden-switch {
    padding: 0px !important;
    /*padding-right: 0px !important;*/

    text-align: center;
}
    .table-bookmarks>thead>tr>th.bookmark-hidden-switch>.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
    .table-bookmarks>thead>tr>th.bookmark-hidden-switch>.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
    .table-bookmarks>thead>tr>th.bookmark-hidden-switch>.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
        font-family: 'Glyphicons Halflings';
        padding: 1px 3px;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        color: #999;
    }
    .table-bookmarks>thead>tr>th.bookmark-hidden-switch>.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on {

    }

/* long URLs */
.table-bookmarks>tbody>tr>td.bookmark-url {
    overflow-wrap: break-word;
}




.table-bookmarks>tbody>tr>td.bookmark-title>a,
.table-bookmarks>tbody>tr>td.bookmark-url>a {
    word-wrap: break-word;
    display: block;
    width: 100%;
}

.table-bookmarks>tbody>tr>td.bookmark-tag {
    text-align: center;
}

.table-bookmarks>tbody>tr>td.rec-browser {
    text-align: center;
}

.table-bookmarks>tbody>tr>td.timestamp,
.table-bookmarks>tbody>tr>td.bookmark-url,
.table-bookmarks>tbody>tr>td.bookmark-recording-title {
    font-size: 85%;
}

.table-bookmarks>tbody>tr>td,
.table-bookmarks>tbody>tr>th,
.table-bookmarks>tfoot>tr>td,
.table-bookmarks>tfoot>tr>th,
.table-bookmarks>thead>tr>td,
.table-bookmarks>thead>tr>th {
    vertical-align: middle;
    line-height: 1.2;
}

.table-bookmarks>tbody>tr>td.timestamp {
    text-align: right;
    padding-right: 20px;
}

.table-bookmarks thead>tr>th {
    padding-right: 0px !important;
}

.table-bookmarks.dataTable thead .sorting:after,
.table-bookmarks.dataTable thead .sorting_asc:after,
.table-bookmarks.dataTable thead .sorting_desc:after {
    top: 8px;
}
@media (max-width: 1200px) {
    .table-bookmarks.dataTable thead .sorting:after,
    .table-bookmarks.dataTable thead .sorting_asc:after,
    .table-bookmarks.dataTable thead .sorting_desc:after {
        display: none;
    }
}

.table-bookmarks-bottom div.dataTables_info {
    display: inline-block;
}

.table-bookmarks-bottom div.dataTables_length {
    display: inline-block;
    margin-left: 20px;
}

.table-bookmarks-bottom div.dataTables_paginate {
    display: inline-block;
    float: right;
}

.hidden-bookmark {
    font-style: italic;
    color: lightgray;
}

.hidden-bookmark a {
    font-style: italic;
    color: lightgray;
}

.hidden-bookmark .glyphicon-pencil {
    color: lightgray;
}

.dropdown-menu > .tag > a {
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.dropdown-item {
    position: relative;
}
.dropdown-menu > .tag > span.glyphicon {
    display: none;
    position: absolute;
    top:25%;
    left:4px;
}
.dropdown-menu > .tag.tagged > span.glyphicon {
    display: block;
}
.dropdown-menu > .tagged > span.glyphicon-ok {
    color: #449d44;
}
.dropdown-menu > .tagged > span.glyphicon-minus {
    color: #d9534f;
}
.dropdown-menu > .tag.tagged > span.glyphicon-minus {
    display: none;
}
.dropdown-menu > .tag.tagged:hover > span.glyphicon-minus {
    display: block;
}
.dropdown-menu > .tag.tagged:hover > span.glyphicon-ok {
    display: none;
}

.recording-bin {
    overflow: auto;
    height: 100%;
    -ms-flex: 0 1 100%;
}

/* End collection info page */

/*
 * Links selecter/finder
 *
 */
#links-modal input[type=checkbox] {
    margin-right: 4px;
}

#links-selected-list {
    overflow-y: scroll;
    max-height: 400px;
    height: 100%
}

#links-toggle-all {
    margin-left: 16px;
}
/* End links selector/finder */


/*
 * Glyphicons
 *
 */
.glyphicon-button {
    top: 2px;
    margin-right: 3px;
}

.dropdown-menu .glyphicon {
    top: 2px;
    margin-right: 5px;
    font-size: 0.8em;
}



.glyphicon-lg {
    font-size: 1.5em;
}

.glyphicon-recording-status {
    margin: 0px;
    padding: 0px;
    vertical-align: sub;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-sm:before {
    content: "\25cf";
    font-size: 1.5em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-lg:before {
    content: "\25cf";
    font-size: 2em;
    vertical-align: sub;
    line-height: 0.1em;
}

/* End glyphicons */


/*
 * Spacers and buffers
 *
 */
.top-buffer-none {
    margin-top: 0px;
}

.top-buffer-sm {
    margin-top: 5px;
}

.top-buffer-md {
    margin-top: 10px;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-lg {
    margin-top: 40px;
}

.left-buffer {
    margin-left: 20px;
}

.left-buffer-md {
    margin-left: 10px;
}

.left-buffer-sm {
  margin-left: 5px;
}

.left-buffer-xs {
    margin-left: 1px;
}

.right-padding {
  padding-right: 20px;
}

.right-buffer {
  margin-right: 20px;
}

.right-buffer-sm {
  margin-right: 5px;
}

.bottom-buffer-lg {
  margin-bottom: 40px;
}
/* End spacers and buffers */


/**
 * containerized browser ui
 */

.rb-dropdown #cnt-button {
    border-width: 1px 0px 1px 1px;
}
.rb-dropdown .dropdown-toggle.light-toggle {
    background-image: none;
    background-color: #F8F8F8;
}
.rb-dropdown .open > .dropdown-toggle.light-toggle, .rb-dropdown .dropdown-toggle.light-toggle:active,
.rb-dropdown .dropdown-toggle.light-toggle.active, .rb-dropdown .dropdown-toggle.light-toggle:hover {
    background-color: #F7F7F7;
}
.share-container .dropdown-menu, .linklist .dropdown-menu, .rb-dropdown .dropdown-menu,
.wr-mode-selector .dropdown-menu {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: scale(0.98, 0.98);

    top: -9999px;
    left: -9999px;
    opacity: 0;
    display: block;
    border-radius: 0px;
    padding: 0px;
}



.linklist > .dropdown-menu, .rb-dropdown .dropdown-menu { max-height: 33vh; overflow: auto; }
.linklist.open > .dropdown-menu,
.rb-dropdown.open > .dropdown-menu,
.wr-info-widget.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: 100%;
    left: 0;
}

.extract-selector .open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: 100%;
    left: inherit;
    right: 0;
}

.wr-mode-selector.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: 100%;
    left: auto;
}

.share-container.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: calc(100% + 15px);
    left: auto;
}

.wr-info-widget.open > .dropdown-menu {
    /* -.5 width - 40px padding, -6px icon padding, -.5 icon width */
    left: calc(-250px + (40px + 6px + 7px));
}
@media (min-width: 768px) and (max-width: 1200px) {
    .wr-info-widget.open > .dropdown-menu {
        left: initial;
        right: 0;
    }
}
@media (max-width: 767px) {
    .wr-info-widget.open > .dropdown-menu {
        left: initial;
        right: -19px;
    }
}

.linklist .dropdown-menu, .containerized .dropdown-menu,
.share-container .dropdown-menu, .wr-mode-selector .dropdown-menu {
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.175);
    box-shadow: 2px 2px 5px rgba(0,0,0,.175);
}

.rb-dropdown .dropdown-header {
    padding: 5px 0;
}
.rb-dropdown ul, .extract-selector ul {
    margin: 0;
    padding: 0;
}
.rb-dropdown ul > li, .extract-selector ul > li {
    list-style-type: none;
}
.rb-dropdown h6 {
    margin: 0;
    font-size: 16px;
    color: #353535;
    font-weight: bold;
}
.rb-dropdown .row:first-child {
    padding: 5px 0;
}
.rb-dropdown .row {
    padding: 10px 0;
    margin: 0 -15px 0 -15px;
}
.rb-dropdown li {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}
.rb-dropdown li:first-of-type {
    text-align: left;
}

.rb-dropdown li.light-toggle {
    text-align: left;
}
.rb-dropdown .btn img {
    margin-right: 5px;
}
.rb-dropdown li > img {
    margin-right: 5px;
}

.cnt-browser:not(.disabled):not(.active) { cursor: pointer; }
.cnt-browser.disabled { opacity: 0.6; filter: grayscale(100%); }
.cnt-browser:nth-child(odd) { background-color: #FFF; }
.cnt-browser:nth-child(even) { background-color: #F6F6F6; }
.cnt-browser.active { background-color: #eef9ea;}
.cnt-browser:not(.disabled):not(.active):hover { background-color: #E3E3E3; }

.rb-dropdown .container {
    width: 60vw;
}

.collection-dropdown .dropdown-menu, #move-modal .dropdown-menu {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}
.collection-dropdown .dropdown-menu li a, #move-modal .dropdown-menu li a {
    white-space: inherit;
}

/**
 * This is a bit of a hack to fit absolute postion dropdowns within the grid system
 * for the homepage.
 */
@media (min-width: 544px) and (max-width: 767px) {
    .start-recording-homepage .containerized .container {
        width: 544px;
    }
}
@media (min-width: 768) and (max-width: 991px) {
    .start-recording-homepage .containerized .container {
        width: 768px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .start-recording-homepage .containerized .container {
        /* grid width * column fraction + grid gutter * 2 */
        width: calc(992px * 0.6 + 60px);
    }
}
@media (min-width: 1200px) {
    .start-recording-homepage .containerized .container {
        /* grid width * column fraction + grid gutter * 2 */
        width: calc(1200px * 0.6 + 60px);
    }
}

@media (max-width: 767px) {
    .start-recording-homepage .dropdown-menu {
        left: -75px;
    }
    .start-recording-homepage .input-group {
        padding: 0 10px;
    }
    .start-recording-homepage .form-inline label:last-of-type {
        margin: 20px 0 0 0;
    }
    .start-recording-homepage .form-inline {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
        -ms-flex-align: center;
    }
    #collapse-vid iframe {
        width: 100%;
        height: auto;
    }
}

/* containerized browser style overrides */
#browserMsg, #message {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.cbrowser .navbar-default {
    background: #FFF;
    box-shadow: none;
}
.cbrowser .navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.cbrowser #noVNC_screen canvas {
    position: fixed;

    /*box-shadow: 5px 5px 8px rgba(0,0,0,0.3);*/
    -webkit-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.2);
}

#browser-countdown-label {
    float: right;
    display: none;
}

#browser-countdown {
    font-weight: bold;
}

.pager_iframe {
    width: 100%;
    height: calc(100vh - 65px);
    border: solid 1px rgba(0,0,0,0.1);
    border-width: 1px 0 0 0;
}

.paging-container {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -ms-flex-pack: center;

    height: 65px;
}

.linklist {
    position: relative;
}
.linklist .form-control {
    border-radius:0;
    float: none;
    cursor: pointer;
}
.paging-container .linklist .main-replay-date {
    background: linear-gradient(90deg, rgba(255,255,255,0), #FFF 15%, #FFF);
}
.paging-container .linklist:hover .main-replay-date {
    background: linear-gradient(90deg, rgba(255,255,255,0), #F8F8F8 15%, #F8F8F8);
}
.linklist:hover input {
    background: #F8F8F8;
}
.linklist:hover .wr-replay-info {
    background: linear-gradient(90deg, rgba(255,255,255,0), #F8F8F8 15%, #F8F8F8);
}
.linklist:hover .replay-date > span {
    color: #429EEC;
}
.linklist .replay-date > span {
    transition: color .125s ease-in-out;
    margin-left: 5px;
}

.linklist > .dropdown-menu {
    width: 100%;
    overflow-x: hidden;
}

.dropdown-menu li a {
    color: #000;
}

.linklist > .dropdown-menu li {
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
}
.linklist > .dropdown-menu li img {
    float: left;
}
.linklist > .dropdown-menu li.active {
    background: #eef9ea;
}
.linklist > .dropdown-menu li:hover {
    background-color: #eee;
}
.linklist > .dropdown-menu .replay-date {
    position: absolute;
    top: 50%;
    right: 5px;
    margin: 0;
    float: none;
    margin-top: -10px;
    background: linear-gradient(90deg, rgba(255,255,255,0), #FFF 15%, #FFF);
    padding-left: 40px;
}
.linklist > .dropdown-menu li.active .replay-date {
    background: linear-gradient(90deg, rgba(255,255,255,0), #eef9ea 15%, #eef9ea);
}
.linklist > .dropdown-menu li:hover  .replay-date {
    background: linear-gradient(90deg, rgba(255,255,255,0), #eee 15%, #eee);
}

.linklist > .dropdown-menu .url {
    width: 75%;
    text-align: left;
    white-space: nowrap;
}

.linklist > .dropdown-toggle, #page-display {
    background: #FFF;
}

.linklist .main-replay-date {
    font-style: normal;
    color: #555;
    margin: 0;
    float: none;
    cursor: pointer;
}
.wr-replay-info {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    position: absolute;
    right: 0;
    top: 4px;
    height: calc(100% - 8px);
    z-index: 10;
    padding-left: 40px;
    margin-right: 10px;

    background: linear-gradient(90deg, rgba(255,255,255,0), #FFF 15%, #FFF);
}

.wr-info-widget {
    transition: opacity .25s ease-in-out;
    opacity: 0;
}
.wr-info-widget.visible {
    opacity: 1;
}
.wr-info-widget .dropdown-toggle {
    border: none;
    background: inherit;
}
.wr-info-widget .glyphicon-info-sign {
    transition: color .2s ease-in-out;
    vertical-align: text-top;
}
.wr-info-widget .glyphicon-info-sign:hover {
    color: rgb(89,158,230);
}
.wr-info-widget.open .glyphicon-info-sign {
    color: rgb(89,158,230);
}
.wr-info-widget > .dropdown-menu {
    width: 500px;
    padding: 15px;
    margin-top: 10px;
}
.wr-info-widget .arrow_box:before, .wr-info-widget .arrow_box:after {
    left: 50%;
}
@media (max-width: 1200px) {
    .wr-info-widget .arrow_box:before, .wr-info-widget .arrow_box:after {
        left: initial;
        right: 18px;
    }
}

div.paging-container .home-link {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;

    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
}
div.paging-container .home-link .glyphicon {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

div.paging-container:hover .home-link {
    opacity: 1;
}


/*
    Sharing widget
*/
.share-container {
    position: relative;
}

.share-container .share-modal {
    min-width: 300px;
    border-radius: 0;
    padding: 10px;
}
.share-modal p {
    margin: 0px 40px 10px 0px;
}
.share-modal .glyphicon-remove-circle, .ra-dropdown-menu .glyphicon-remove-circle {
    transition: color .2s ease-in-out;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    cursor: pointer;
}
.share-modal .glyphicon-remove-circle:hover, .ra-dropdown-menu .glyphicon-remove-circle:hover {
    color: red;
}
.share-modal label {
    display: block;
    clear: both;
}
.share-modal input {
    margin-bottom: 10px;
}
.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    /* 100% - width of share button divided by 2 */
    left: calc(100% - 20px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 12px;
    margin-left: -12px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(0,0,0,.15);
    border-width: 13px;
    margin-left: -13px;
}
.shareables {
    /*position: relative;*/
    -webkit-transition: height .22s ease-out;
    transition: height .22s ease-out;
    overflow: hidden;
}
.shareables textarea { overflow: hidden; }
.shareables textarea, .shareables input { width: 100%; }

.public-switch.hidden {
    display: none;
}
.shareables.disabled {
    height: 0px !important;
}

.wr-controls {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    position: relative;
    z-index: 10;
    border-radius: 0;
}
.wr-controls.public {
    position: relative;
    justify-content: center;
    -ms-flex-pack: center;
}
.wr-controls > * {
    margin-top: 12px;
    margin-bottom: 12px;
}
.wr-controls > *:not(:last-child) {
    margin-right: 15px;
}
.main-bar {
    width: 100%;
    flex-grow: 1;
    -ms-flex: 30%;
}

/* anon view */
.wr-controls.public .main-bar {
    max-width: 60vw;
}
.wr-controls.public .recording-actions {
    position: absolute;
    top: 0;
    right: 15px;
}

.new-recording {
    margin-bottom: 12px;
}
.wr-modes {
    min-width: 350px;
    position: relative;
}
.wr-mode {
    position: relative;
}
.wr-mode.active:after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
    background: #5fd85f;
}
.wr-modes .wr-mode-icon {
    font-size: 2em;
}
.wr-modes svg {
    width: 28px;
    height: 28px;
}
.wr-mode-selector {
    display: -ms-flexbox;
    display: flex;
}
.wr-mode-selector ul {
    margin: 0;
    padding: 10px 0;
}
.wr-mode-selector ul > li {
    list-style-type: none;
}
.wr-mode-selector .row {
    padding: 10px 0;
    display: table;
    width: 100%;
}
.wr-mode-selector li {
    word-wrap: break-word;
    white-space: normal;
}
.wr-mode-selector li h4 {
    margin: 0;
}
.wr-mode-selector li:first-child {
    display: table-cell;
    float: none;
    text-align: center;
    vertical-align: middle;
}


.wr-mode-selector .wr-mode:not(.disabled):not(.active) { cursor: pointer; }
.wr-mode-selector .wr-mode.active { /*border-left: solid 10px #54e44b;*/ background: #eef9ea; }
.wr-mode-selector .wr-mode.disabled { opacity: 0.6; filter: grayscale(100%); }
.wr-mode-selector .wr-mode:not(.disabled):not(.active):hover { background-color: #E3E3E3; }

.sharing-widget svg, .recording-actions .btn svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.wr-mode-message {
    display: -ms-flexbox;
    display: flex;

    justify-content: center;
    -ms-flex-pack: center;
}
.wr-mode-message > span {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transition-delay: .045s;
}
.wr-mode-message > span:first-of-type {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
}
.wr-mode-message:hover > span + span, .wr-mode-message:active > span + span {
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}
.wr-mode-message:hover > span:first-of-type, .wr-mode-message:active > span:first-of-type {
    opacity: 1;
}

.wr-mode-selector .wr-mode-message .glyphicon {
    vertical-align: text-top;
}
.wr-mode-selector .wr-mode-message .glyphicon-stop {
    font-size:13px;
}
.wr-mode-selector .dropdown-toggle .glyphicon {
    vertical-align: middle;
}
.wr-mode-selector .wr-mode-message svg {
    width: 14px;
    height: 14px;
    vertical-align: text-top;
}
#page-display {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    border-width: 1px 0 1px 1px;
    border-radius: 0;
    font-feature-settings: "tnum";
}
#wr-tw {
    display: inline-block;
    width: 76px;
    height: 37px;
    float: left;
}
#wr-fb {
    float: left;
    margin-left: 5px;
}

body:not(.cbrowser) .wr-tools {
    border-top: solid 1px #ccc;
}

.wr-tools {
    transition: margin-top .3s ease-in-out;
    margin-top: -40px;
    height: 40px;
    background: #F3F3F3;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
}
.wr-tools.open {
    margin-top: 0;
}
.wr-tools .share-container {
    margin-left: auto;
}

@media (max-width: 500px) {
    .wr-controls:not(.public) {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .wr-controls:not(.public) .main-bar {
        flex-basis: 100%;
        -ms-flex: 1 0 100%;
    }

    .wr-controls > *:not(:last-child) {
        margin-right: 0;
    }

    .wr-controls:not(.public) > .main-bar {
        margin-bottom: 0;
    }

    .mode-selector {
        order: 1;
        -ms-flex-order: 1;
    }

    .recording-actions {
        order: 2;
        -ms-flex-order: 2;
        margin-left: auto;
    }

    .wr-replay-info {
        margin-right: 1px;
    }
}

@media (max-width: 767px) {
    .wr-breadcrumb {
        min-height: 40px;
    }

    .navbar-user-links .nav {
        text-align: center;
    }
    .navbar-user-links .nav li {
        padding: 5px 0;
    }
    .navbar-user-links .nav li a {
        display: block;
    }

    .public .form-group-recorder-url .input-group {
        display: block;
    }

    .wr-controls.public {
        justify-content: flex-start;
        -ms-flex-pack: start;
    }

    .containerized .dropdown-menu {
        width: 60vw;
    }
    .containerized .container {
        min-width: 500px;
    }
}
