@import 'src/vars';

.rectangular {
    border-radius: 0;
    text-align: center;
    display: block;
    margin: 2rem auto 1rem;
    min-width: 25rem;
    font-size: 1.4rem;
}

.dat-modal {
    .dat-info {
        margin-bottom: 1.5rem;

        .dat-current {
            color: $brightGreen;
            margin-top: .5rem;
        }
        .dat-current.update-dat{
            color: $warning;
            display: inline-block;
            width: 75%;
            vertical-align: middle;
        }
        button {
            margin-top: 2rem;
        }

        .clipboard {
            vertical-align: top;
            margin-right: 0.4rem;
        }
        input[name="datUrl"] {
            width: 75%;
            display: inline-block;
            height: 30px;
            background: $white;
        }
        .rounded {
            display: inline-block;
            margin-top:0;
            margin-bottom:0.5rem;
            margin-left: 1rem;
            padding: 0.6rem 1.5rem;
            vertical-align: top;
        }
        .rounded.copy-dat {
            padding: 0.6rem 1.4rem;
        }
    }

    .loading-dat {
        h4 {
            text-align: center;
            margin: 2rem 0;
        }

        .dat-note {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

header.wr-collection-header {
    padding: 1rem 2rem;
    border-bottom: solid .1rem $mgmt-gray;

    .dat-shared {
        background: $brightGreen;
        color: $white;
        font-weight: 600;

        svg{
            vertical-align: top;
        }
    }

    .overview {
        .heading-row {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1.5rem;
            width: 100%;

            .capstone {
                margin: .5rem 0;
            }

            h1 {
                display: inline-block;
                font-family: $sans;
                margin: 0;
                font-size: 2.2rem;
                font-weight: 400;
                color: $body-gray;
                word-break: break-word;
            }

            .desc {
                position: relative;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                font-size: 1.4rem;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 6rem;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FFF 100%, #FFF);
                }
            }

            .button-link {
                color: $gray600;
            }
        }


        .menu-row {
            display: flex;
            justify-content: flex-start;
            margin: 1.5rem 0;

            .new-session {
                padding: .7rem 1.2rem;
            }

            sup {
                color: green;
            }

            & > *:not(:first-child) {
                margin-left: .5rem;
            }

            .dropdown-menu > li > a{
              margin: 0;
              padding: 1rem 2rem;
            }

            button#coll-menu {
              width: 3.2rem;
              height: 3.2rem;
              padding: 0;

              svg {
                width: 1.4rem;
                height: .6rem;
              }
            }
        }

        .access-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media(max-width:768px){
    .dat-modal{
        .dat-info{
            input[name="datUrl"]{
                width: 65%;
            }

            .dat-current.update-dat{
                width: 65%;
            }
        }
    }
}
