@import 'src/vars';

$movement: -75px;
header.wr-collection-header {
    transition: height 300ms ease-in-out;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    border-bottom: solid .1rem $mgmt-gray;
    transform: translateZ(0);

    & > div {
        width: 100%;
    }

    .overview {
        transition: opacity 200ms ease-in-out,
                    transform 200ms ease-out;

        &.condense-enter {
            opacity: 0;

            &.condense-enter-active {
                opacity: 1;
            }
        }

        &.condense-leave {
            opacity: 1;
            transform: translateY(0px);

            &.condense-leave-active {
                opacity: 0;
                transform: translateY($movement);
            }
        }

        .heading-row {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.5rem;
            width: 100%;

            .capstone {
                margin: 2rem 0 0.6rem 0;
            }

            &.is-public {
                .capstone {
                    margin: 2rem 0 0 0;
                }
            }

            .access-switch {
                display: flex;
                align-items: center;
                margin-right: 1rem;
            }

            .utility-row {
                margin-top: 1.5rem;

                & > *:not(:first-child) {
                    margin-left: .5rem;
                }

                button#coll-menu {
                  padding:0.7rem;
                  svg {
                    width: 1.5rem;
                  }
                }
                .dropdown-menu > li > a{
                  margin: -8px 0;
                  padding: 11px 20px;
                }
            }

            .heading-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .coll-status {
                    color: $gray600;

                    .public-lists {
                        border: solid .1rem $gray600;
                        border-width: 0 0 0 .1rem;
                        padding-left: .7rem;
                    }
                }

                h1 {
                    display: inline-block;
                    font-family: $sans;
                    margin: 2rem 0 0 0;
                    font-size: 3.2rem;
                    font-weight: 300;
                    color: black;
                }
            }
        }
    }

    .collection-bar {
        transition: opacity 200ms ease-in-out,
                    transform 250ms ease-in-out;
        width: 100%;
        height: 7.4rem;
        position: absolute;
        top: 0;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "blank title utility";
        background: #FFF;
        z-index: 20;

        &.condense-enter {
            opacity: 0;
            transform: translateY($movement);

            &.condense-enter-active {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        &.condense-leave {
            opacity: 1;
            transform: translateY(0px);

            &.condense-leave-active {
                opacity: 0;
                transform: translateY($movement);
            }
        }

        .bar-heading {
            grid-area: title;
            justify-self: center;

            .coll-title {
                h1 {
                    font-size: 2.4rem;
                    margin: 0 0 0 1.5rem;
                }

                & > svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .utility-row {
            grid-area: utility;
            justify-self: end;

            & > * {
                margin-left: .5rem;
            }
        }

        @media (max-width: 950px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "title utility";

            .bar-heading {
                justify-self: start;
            }
        }
    }

    &.condensed {
        height: 7.5rem !important;
    }
}
