@import 'src/vars';

.wr-list-table {
    width: 100%;

    thead {
        th {
            text-align: center;
            padding: 1rem 0;

            &:focus {
                outline: none;
            }

            &.reactable-header-sortable {
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
            }

            &.reactable-header-sort-asc {
                color: $blue;

                &:after {
                    content: '▲';
                    font-size: 1rem;
                    vertical-align: middle;
                    margin-left: .5rem;
                    color: $blue;
                }
            }

            &.reactable-header-sort-desc  {
                color: $blue;

                &:after {
                    content: '▼';
                    font-size: 1rem;
                    vertical-align: middle;
                    margin-left: .5rem;
                    color: $blue;
                }
            }
        }
    }

    tbody.reactable-data > tr {
        &:nth-child(even) {
            background-color: $light-gray;
        }

        &:hover {
            background-color: $list-highlight;
        }

        td {
            text-align: center;
            position: relative;
            word-wrap: break-word;

            .green {
                color: $green;
            }

            .yellow {
                color: $yellow;
                font-weight: bold;
            }

            .red {
                color: $red;
                font-weight: bold;
            }

            a {
                padding: 1rem 0;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                padding: 1rem 0;
                display: inline-block;
            }
        }
    }

    tbody.reactable-pagination {

        td {
            padding-top: 2rem;
            text-align: center;

            a {
                padding: .5rem 1rem;

                &.reactable-current-page {
                    background-color: #B0E892;
                }
            }
        }
    }
}

.reactable-filter-input {
    width: 30rem;
}

.show-all {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top:1.5rem;
}