.wr-controls {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
    border-radius: 0;
    border-bottom: solid .1rem #97989A;
    width: 100%;

    .public {
        position: relative;
        justify-content: center;

        .main-bar {
            max-width: 60vw;
        }
        .recording-actions {
            position: absolute;
            top: 0;
            right: 1.5rem;
        }
    }

    & > * {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    & > *:not(:last-child) {
        margin-right: 1.5rem;
    }
}

.iframe-container {
    position: relative;
    flex-grow: 1;
    display: flex;

    &.embed {
        flex-direction: column;

        iframe {
            width: 100%;
        }
    }

    .wr-sidebar {
        z-index: 100;
    }

    // hack for ie, fix flexbox bug where children won't stretch without fixed container height
    *::-ms-backdrop, iframe {
        min-height: 100%;
    }

    .react-tabs__tab-panel {
        min-height: 0;
    }
}

@media (max-width: 500px) {
    .wr-controls {
        &:not(.public) {
            flex-wrap: wrap;

            .main-bar {
                flex-basis: 100%;
            }
        }

        & > *:not(:last-child) {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .wr-controls {
        .public {
            justify-content: flex-start;
        }
    }
}
