@import 'src/vars';
@import './circle';

.radial-graph {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .legend {
        width: 80%;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: $gray;
    }
}