@import 'src/vars';

.blink {
	animation: blinker 0.8s alternate infinite;
}

.glyphicon-dot-sm {
	color: $warning;
}

@keyframes blinker {
    10% { opacity: 1; }
	20% { opacity: 0; }
	25% { opacity: 1; }
	33% { opacity: 0; }
	48% { opacity: 1; }
	66% { opacity: 0; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}