@import 'src/vars';

nav {
    /* TODO: figure out better bootstrap overrides */
    display:flex !important;
    flex-direction:row;

    background: $header-bg;
    padding: 0 1rem;
    font-size: 1.7rem;

    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);

    a {
        padding: 1rem 1rem;

        &:link, &:visited {
            color: $white;
        }

        &:hover {
            color: $white;
            background-color: #9A9E96;
        }

        &:last-of-type {
            margin-left: auto;
        }
    }
}