@import 'src/vars';


.navbar-tools {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .active-collection {
        margin-left: rem(.5rem);
    }

    .managing-collection {
        flex-shrink: 0;
        margin-right: rem(1rem);
    }

    .collection-manager.rounded {
        padding: rem(.5rem) rem(1.5rem);
        margin-right: rem(1.5rem);
        color: $white;
        border-color: $mgmt-gray;

        .caret {
            transform: rotateZ(90deg);
            margin-right: rem(.5rem);
        }
    }

    .visibility-badge {
        background: $brightGreen;
        color: $white;
        font-size: rem(1rem);
        border-radius: rem(.3rem);
        padding: rem(.1rem) rem(.4rem);
        margin-left: rem(1rem);
    }

    .wr-collection-menu {
        flex-grow: 1;
        max-width: rem(35rem);

        @media (max-width: $xs) {
            width: rem(15rem);
        }

        .dropdown {
            .dropdown-toggle {
                background: transparent;
                color: $white;
                border-color: $pine;
                border-width: 0 0 rem(.3rem) 0;
                border-radius: 0;
                box-shadow: none;

                span {
                    text-overflow: elipsis;
                    overflow: hidden;
                }

                svg {
                    path, polyline, polygon {
                        stroke: $white;
                    }

                    .w-letter {
                        fill: $white;
                    }
                }
            }

            &.open > .dropdown-toggle {
                &:hover {
                    color: inherit;
                    background-color: inherit;
                }
            }

            .dropdown-menu {
                background: $slate;

                input {
                    background: transparent;
                    color: $white;
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                }

                .dropdown-item {

                    &:not(:hover):not(.active) {
                        color: $white;

                        svg {
                            path, polyline, polygon {
                                stroke: $white;
                            }

                            .w-letter {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
