@import 'src/vars';

#share-widget .dropdown-menu {
    padding: rem(1rem);
}

.share-container {
    position: relative;

    .access-switch {
        display: flex;

        & > div {
            margin-left: rem(1rem);
        }
    }

    .dropdown-menu {
        min-width: rem(35rem);
    }

    .share-modal {
        min-width: rem(30rem);

        label {
            display: block;
            clear: both;
        }

        input {
            margin-bottom: rem(1rem);
        }

        p {
            margin: 0 rem(4rem) rem(1rem) 0;
        }
    }

    .shareables {
        transition: height $midShift ease-out;
        overflow: hidden;
        margin-top: rem(1.5rem);

        &.disabled {
            height: 0 !important;
        }

        textarea { overflow: hidden; }
        textarea, input {
            width: 100%;
        }
    }
}
