@import 'src/vars';

.wr-coll-meta {
    margin-top: 5rem;

    button + button {
        margin-left: 1.6rem;
    }
}

.collection-time {
    font-size:1.2rem;
    color: $gray550;
    padding: 1.4rem 0 0 0;
    text-align: center;
}

.collection-title {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

a:link.collection-title, a:visited.collection-title {
    color: $blue;
}

a.collection-title:hover {
    text-decoration: underline;
}

.collections-index-nav {
    margin: 1rem 0;

    .btn-default:hover {
        background: rgba(0,0,0,0);
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: sub;

        path,polygon {
            fill: $gray600;
            stroke: $gray600;
        }
    }
}

.collection-description {
    margin-top:4.5rem;

    .collection-username {
        font-size: 1.8rem;
        color: $gray550;
        margin: 0 auto;

        .glyphicon {
            font-size: 1.1rem;
        }
    }

    .wr-editor {
        color: $gray550;
        max-width: 35rem;
        word-break: break-word;

        &:not(.click-to-edit) > div {
            width: 100%;
        }

        * {
            max-width: 35rem;
        }

        .public-DraftEditor-content {
            font-size: 1.2rem;
        }

        .DraftEditor-editorContainer {
            max-height: inherit;
        }
    }

    .wr-editor-readonly {
        width: 100%;
        word-break: break-word;
    }

    .wr-inline-editor {
        line-height: 1;
        color: $gray550;
        width: 100%;

        .glyphicon {
            color: $gray500;
        }
    }

    .user-link {
        margin: 1.5rem 0;
        word-break: break-all;
        display: flex;

        svg {
            margin-right: 0.3rem;
            color: $gray500;
        }

        span {
            word-wrap: break-word;
            color:$gray500;
        }

        a {
            text-decoration: none;
        }
    }


    h2 {
        color: #000;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 3.4rem;
        word-break: break-word;
    }
}

.collection-list {
    margin: 1rem 0;

    .btn-default:hover {
        background: rgba(0,0,0,0);
    }

    li {
        margin: 0;
        border:none;
        border-radius: 0;

        .visibility-button {
            background: $gray500;
            color: $white;
            font-size: 1.2rem;
            padding: 0.3rem 0.8rem;
            border-radius: 0.7rem;
            margin-top: 1rem;
            display: inline-block;

            &.is-public {
                background: $brightGreen;
            }
        }

        &:nth-of-type(odd) {
            background-color: $table-zebra;
        }

        p {
            padding: .8rem 0rem 0rem;
            margin-bottom: 5px;
        }

        .collection-list-description {
            color: $gray550;
            font-size: 1.2rem;
            margin-bottom: 1.4rem;
            padding:0;
        }

        .rounded {
            font-size: 1.2rem;
            padding: 0.6rem 2rem;
            color: $gray550;
            text-decoration: none;
            background: $white;
        }

        .rounded + .rounded {
            margin-left: .6rem;
        }

        a {
            display: inline-block;
            position: relative;
        }

        .collection-list-size span {
            font-size: 1.2rem;
            color: $gray550;
            padding: 1.4rem 0 0 0;
            display: inline-block;

            @media (min-width: 1200px) {
                white-space: nowrap;
            }
        }

        .collection-delete-action {
        	button:last-of-type {
                background: rgba(0,0,0,0);
                border: none;
                padding:1.5rem 0 0;
                float:right;

                svg {
	                width:15px;
	                height:15px;
                    &:hover + .tooltip.top {
                        display: block;
                    }
	            }
        	}
        }

        .tooltip.top {
            position: absolute;
            right: -8px;
            top: -25px;
            display: none;
            .tooltip-arrow {
                border-top-color: $gray600;
            }
            .tooltip-inner {
                background: $gray600;
            }
        }
    }
}

@media (min-width: 768px){
    .collection-list li {
        .collection-list-size span {
            padding: 2rem 0;
        }
        .collection-time {
            padding: 2rem 0;
        }
        .visibility-button {
           margin-top: 1.8rem;
        }
        .collection-delete-action {
            button:last-of-type {
                padding:2.2rem 0 0;
            }
        }
        .collection-list-description {
            margin-bottom: 0;
            padding:0;
        }
    }


    .collection-description .wr-coll-meta {
        margin-top: 3.5rem;
    }
    .collection-list li.has-description {
        .collection-list-size span {
            padding: 0.7rem 0;
        }
        .collection-time {
            padding: 0.7rem 0;
        }
        .visibility-button {
            margin-top: 0.3rem;
        }
        .collection-delete-action {
            button:last-of-type {
                padding:0.7rem 0;
            }
        }
        .collection-list-description {
            margin-bottom: 1.5rem;
            padding: 0;
        }
    }
}
