@import 'src/vars';

.wr-coll-meta {
    margin-top: rem(3.5rem);

    button + button {
        margin-left: rem(1.6rem);
    }
}

.collection-start-form {

    & > h4 {
        margin-top: 0;
        padding-left: rem(1.5rem);
    }

    .start-recording-homepage > div {
        width: 100%;
        margin-left: 0;
    }

    .start-form:after {
        content: '';
        display: block;
        width: 100%;
        border: solid rem(.1rem) $black;
        border-width: 0 0 rem(.1rem) 0;
        padding-top: rem(3.5rem);
        margin-bottom: rem(3.5rem);
    }
}

.collection-time {
    font-size:rem(1.2rem);
    color: $gray550;
    padding: rem(1.4rem) 0 0 0;
    text-align: center;
}

.collection-title {
    font-size: rem(2rem);
    margin-bottom: rem(0.4rem);
}

a.collection-title:hover {
    text-decoration: underline;
}

.collections-index-nav {
    margin: rem(1rem) 0;

    h4 {
        display: inline-block;
    }

    &.desktop {
        button {
            float: right;
        }
    }

    button + button {
        margin-right: rem(.5rem);
    }

    .btn-default:hover {
        background: rgba(0,0,0,0);
    }

    svg {
        width: rem(1.5rem);
        height: rem(1.5rem);
        vertical-align: sub;

        path,polygon {
            fill: $gray600;
            stroke: $gray600;
        }
    }
}

.collection-description {
    margin-top: rem(3.5rem);

    .collection-username {
        font-size: rem(1.8rem);
        color: $gray550;
        margin: 0 auto;

        svg {
            margin-right: rem(.5rem);
        }

        a {
            margin-left: rem(.5rem);

            svg {
                path {
                    fill: $deep-pine;
                }
            }
        }
    }

    .wr-editor {
        color: $gray550;
        max-width: rem(35rem);
        word-break: break-word;

        &:not(.click-to-edit) > div {
            width: 100%;
        }

        * {
            max-width: rem(35rem);
        }

        .public-DraftEditor-content {
            font-size: rem(1.2rem);
        }

        .DraftEditor-editorContainer {
            max-height: inherit;
        }
    }

    .wr-editor-readonly {
        width: 100%;
        word-break: break-word;
    }

    .wr-inline-editor {
        margin-top: 0 !important;
        line-height: 1;
        color: $gray550;
        width: 100%;

        h2 {
            margin-top: 0;
        }

        .glyphicon {
            color: $gray500;
        }
    }

    .user-link {
        margin: rem(1.5rem) 0;
        word-break: break-all;
        display: flex;

        svg {
            margin-right: rem(0.3rem);
            color: $gray600;
        }

        span {
            word-wrap: break-word;
            color:$gray600;
        }

        a {
            text-decoration: none;
        }
    }


    h2 {
        color: #000;
        font-weight: normal;
        margin-bottom: 0;
        font-size: rem(3.4rem);
        word-break: break-word;
    }
}

.collection-list {
    margin: rem(1rem) 0;

    .btn-default:hover {
        background: rgba(0,0,0,0);
    }

    li {
        margin: 0;
        border:none;
        border-radius: 0;

        .visibility-button {
            background: $gray500;
            color: $white;
            font-size: rem(1.2rem);
            padding: rem(0.3rem) rem(0.8rem);
            border-radius: rem(0.7rem);
            margin-top: rem(1rem);
            display: inline-block;

            &.is-public {
                background: $brightGreen;
            }
        }

        &:nth-of-type(odd) {
            background-color: $table-zebra;
        }

        p {
            padding: rem(.8rem) rem(0rem) rem(0rem);
            margin-bottom: 5px;
        }

        .collection-list-description {
            color: $gray550;
            font-size: rem(1.2rem);
            margin-bottom: rem(1.4rem);
            padding:0;
        }

        a {
            display: inline-block;
            position: relative;
        }

        .collection-list-size span {
            font-size: rem(1.2rem);
            color: $gray550;
            padding: rem(1.4rem) 0 0 0;
            display: inline-block;

            @media (min-width: 1200px) {
                white-space: nowrap;
            }
        }

        .collection-delete-action {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .visibility-button {
                display: inline-block;
                margin-top: b16(10px);
            }

        	button {
                svg {
	                width: b16(15px);
	                height: b16(15px);
	            }
        	}
        }
    }
}
