@import 'src/vars';

footer {
    width: 100%;
    margin-top: rem(5rem);
    padding: rem(4rem) 0 rem(3rem) 0;
    color: $white;
    background: $slate;

    .project-info {

        .links {
            display: flex;
            justify-content: space-between;

            ul {
                padding: 0;
                list-style-type: none;

                &:last-of-type {
                    margin-right: 20%;
                }

                li {
                    margin-bottom: rem(1rem);

                    a {
                        color: $white;
                    }
                }
            }
        }

        #email-signup {
            margin-bottom: rem(2rem);
            padding-left: 0;

            .form-group-sm {
                display: flex;

                input {
                    width: rem(15rem);
                }
            }

            input {
                border: none;
                border-radius: 0;
                height: rem(4rem);
            }
        }
    }

    .donate-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10%;

        button {
            margin: rem(1rem) 0 rem(1.5rem) 0;
        }

        a {
            display: block;
        }
    }
}

@media (max-width: 767px) {
}
