@import 'src/vars';

footer {
    width: 100%;
    padding-bottom: 2.4rem;

    #email-signup {
        padding-left: 0;

        .form-group-sm {
            display: flex;

            input {
                width: 15rem;
            }
        }
    }
}

.footer-label {
    position: relative;
    font-size: .9rem;

    & > div {
        margin-left: .2rem;
    }

    & > a {
        display: block;
    }
}
.rhizome-logo {
    padding-top: .5rem;
    width: 11.8rem;
}
.project-info {

    a {
        margin-right: 1rem;

        &:hover {
            svg path {
                fill: $blue;
            }

            svg circle {
                stroke: $blue;
            }
        }

        &.divider:before {
            content:'';
            display: inline-block;
            width: .1rem;
            height: 1.5rem;
            margin-right: 1rem;
            background: #000;
            vertical-align: sub;
        }

        svg {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 1rem;
            vertical-align: middle;
        }

        &.contact {
            svg {
                margin-right: .5rem;
                width: 1.6rem;
                height: 1.6rem;

                path {
                    fill: $blue;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .project-info {
        text-align: center;
    }
    .footer-label {
        padding: 1rem 0;
        text-align: center;
    }
}

@media (min-width: 767px) {
    footer .container .row {
        display: flex;
        align-items: flex-end;
    }
}