@import 'src/vars';


#landingContainer {
  flex-grow: 1;
  display: grid;
  margin: 5vh 0;
  grid-template-columns: auto;
  grid-template-rows: 35vh auto auto;
  justify-items:center;

  .logo {
    width: 35vw;
    align-self: end;
    margin-bottom: 2rem;
  }

  .dat-container {
    width: 50vw;
    margin: 25vh auto 0 auto;
  }
}

#loadingGif {
  animation: spin 2s linear infinite;
  height: 4.5rem;
}


.dat-url {
  width: 35vw;

  .dat-input {
    display: flex;

    input {
      border-radius: .3rem 0 0 .3rem;
    }

    button {
      border-left-width: 0;
      border-radius: 0 .3rem .3rem 0;
    }
  }
}

.bigOpen {
  text-align: center;
  display: flex;
  flex-direction: column;

  button {
    background-color: $blue;
    position: relative;
    color: #FFF;
    border-radius: 3rem;
    padding: 1.2rem 4.5rem;
    border-style: none;
    font-size: 1.8rem;
    font-family: $sans;
    font-weight: 500;
  }

  a {
    margin-top: 1.5rem;
  }
}


#loadWarc {
  margin: 2rem 8rem;
  width: 10rem;
}

.projectByRhizome {
  align-self: end;

  p {
    width: 22rem;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1;
    font-family: sans-serif;
  }

  img {
    display: block;
    margin: 1rem auto;
    width: 22rem;
  }
}
