@import 'src/vars';

.query-box {
    max-width: 35rem;
    min-width: 20rem;
    margin-right: .5rem;

    .input-group-addon {
        position: relative;
        background: none;
        color: $blue;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: .5rem;
            width: .1rem;
            height: calc(100% - 1rem);
            background: $blue;
        }
    }

    .input-group-addon + input {
        border-left: 0;
    }
}