
.wr-list-metadata {
    border: solid .1rem;
    border-width: .1rem 0 0 0;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;

    .bookmark-title {
        margin-bottom: .5rem;

        .public-DraftEditor-content {
            font-size: 1.8rem;
        }
    }
}