
/* colors */
$white: #FFF;
$blue: #429EEC; /* link hover */
$header-bg: #83877E;
$gray: #A2A2A2;
$light-gray: #F9F9F9; /* table stripe */
$list-highlight: rgba(218, 218, 218, 0.33); /* table highlight */

/* space warning colors */
$green: #65CD49;
$yellow: #E8DD5F;
$red: #F04245;


/* utils */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}