/* TODO: clean this up */
.share-container .dropdown-menu,
.bookmark-list > .dropdown-menu,
.start-recording-homepage .containerized .dropdown-menu,
.patch-selector .dropdown-menu {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: scale(0.98, 0.98);

    top: -9999px;
    left: -9999px;
    opacity: 0;
    display: block;
    border-radius: 0;
}
.bookmark-list > .dropdown-menu,
.containerized > .dropdown-menu {
    max-height: 33vh;
    overflow: auto;
}

.bookmark-list.open > .dropdown-menu,
.start-recording-homepage .containerized .open > .dropdown-menu,
.patch-selector.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: 100%;
    left: 0;
}

.bookmark-list > .dropdown-menu,
.containerized > .dropdown-menu,
.share-container .dropdown-menu,
.wr-mode-selector .dropdown-menu {
    -webkit-box-shadow: .2rem .2rem .5rem rgba(0,0,0,.175);
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,.175);
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    /* 100% - width of share button divided by 2 */
    left: calc(100% - 2rem);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 1.2rem;
    margin-left: -1.2rem;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(0,0,0,.15);
    border-width: 1.3rem;
    margin-left: -1.3rem;
}