@import 'src/vars';

.wr-addRemove-table {
    width: 100%;
    margin-bottom: 1.5rem;

    th {
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .reactable-data > tr {
        &:nth-child(even) {
            background-color: $light-gray;
        }

        &:hover {
            background-color: $list-highlight;
        }

        td {
            padding: 1rem 0;
            text-align: center;
        }
    }

    tbody.reactable-pagination {

        td {
            padding-top: 2rem;
            text-align: center;

            a {
                padding: .5rem 1rem;

                &.reactable-current-page {
                    background-color: #B0E892;
                }
            }
        }
    }
}