@import 'src/vars';

.wr-header-btn {
    border: none;
    background: transparent;
    color: $link;

    &:hover {
        color: $linkHover;
    }
}

.wr-login-form {
    margin: 20px 40px 20px 40px;

    p {
        margin-top: 20px;
    }
}