.wr-controls {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    border-radius: 0;
    border-bottom: solid .1rem #97989A;

    .public {
        position: relative;
        justify-content: center;

        .main-bar {
            max-width: 60vw;
        }
        .recording-actions {
            position: absolute;
            top: 0;
            right: 1.5rem;
        }
    }

    & > * {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    & > *:not(:last-child) {
        margin-right: 1.5rem;
    }
}

@media (max-width: 500px) {
    .wr-controls {
        &:not(.public) {
            flex-wrap: wrap;

            .main-bar {
                flex-basis: 100%;
                margin-bottom: 0;
            }
        }

        & > *:not(:last-child) {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .wr-controls {
        .public {
            justify-content: flex-start;
        }
    }
}
