@import 'src/vars';

.wr-coll-sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
    min-height: 35rem;

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-minimize {
            font-size: 4rem;
            line-height: 2rem;
        }
    }

    .lists-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem 0;

        h4 {
            display: inline;
            margin-left: .5rem;
            font-size: 1.4rem;
            margin: 0;
        }

        .list-edit {
            font-size: 1.2rem;
        }
    }

    .lists-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1.5rem;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                position: relative;

                svg {
                    margin: 0 1rem 0 .5rem;
                }

                .wrapper {
                    transition: background-color $slowShift ease-in-out;
                    padding: .2rem 0 .2rem 0;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    a {
                        display: block;
                        width: 100%;
                    }
                }

                &.targeted {
                    .wrapper {
                        background-color: $light-gray;
                    }
                }

                .visiblity-toggle {
                    transition: background $quickShift ease-in-out;
                    content: ' ';
                    padding: .7rem;
                    border-radius: 50%;
                    border: none;
                    background: #eee;
                    margin-right: .5rem;

                    &:focus {
                        outline: none;
                    }

                    &.public {
                        background: $brightGreen;
                    }
                }

                &.selected {
                    .wrapper {
                        background-color: $dark-gray;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: .2rem;
                        top: 12.5%;
                        width: 1.4rem;
                        height: 1.4rem;
                        background: url('../../../shared/images/active_bookmark_ico.svg');
                        background-size: cover;
                    }

                    svg {
                        fill: #FFF;
                    }

                    a:visited, a:link, a:hover {
                        color: #FFF;
                    }
                }
            }
        }

        & > button {
            margin-top: auto;
        }
    }
}

.lists-edit-modal {
    width: 30vw;
    max-width: 45rem;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            display: flex;
            position: relative;

            &:first-child {
                margin-bottom: 1rem;
            }

            &:not(:first-child) {
                margin: 1rem 0;
            }

            input {
                flex-grow: 1;
            }
        }
    }
}