@import 'src/vars';

.wr-coll-sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    height: 100%;

    .wr-coll-sidebar__contentOuter {
        overflow: auto !important;
    }

    .sidebar-header {
        margin: 0;
    }

    .lists-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem 0;
        // scrollbar padding
        padding-right: 1rem;

        h4 {
            display: inline;
            font-size: 1.5rem;
            color: $mid-gray;
            font-weight: bold;
            margin: 0 0 0 1.5rem;
            text-transform: uppercase;
        }

        .list-edit {
            font-size: 1.2rem;
            margin-left: auto;
            font-weight: 500;
            color: $mid-gray;
            font-size: 1.5rem;
            text-decoration: underline;
        }
    }

    .lists-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;

        .collection-header {
            background: $blue;
            color: #FFF;
            padding: 1rem;
            margin-bottom: .5rem;

            h4 {
                margin: .5rem 0 0 0;
                font-weight: 300;
                font-size: 1.6rem;
            }

            h2 {
                font-size: 2.4rem;
                font-weight: 600;
                margin: 1.5rem 0 .5rem 0;
            }

            svg {
                vertical-align: bottom;

                polygon, path, polyline {
                    stroke: #FFF;
                }

                #W {
                    fill: #FFF;
                }
            }
        }

        .wr-editor {
            padding: 1rem;
        }

        ul {
            list-style-type: none;
            padding: 0 1rem 0 0;

            li {
                position: relative;
                padding-left: .75rem;

                &:before {
                    transition: background-color $quickShift ease-in-out;
                    position: absolute;
                    left: 0;
                    content: '';
                    width: .75rem;
                    height: 100%;
                }

                .wrapper {
                    transition: background-color $slowShift ease-in-out;
                    padding: .4rem 0 .4rem 1rem;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    svg {
                        fill: $mid-gray;
                    }

                    a {
                        display: block;
                        width: 100%;
                        margin: 0 .5rem;
                        text-decoration: none;
                        color: $mid-gray;
                        font-weight: 500;
                        font-size: 1.6rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .visiblity-toggle {
                        transition: background $midShift ease-in-out;
                        content: ' ';
                        padding: .7rem;
                        border-radius: 50%;
                        border: none;
                        background: $gray400;
                        margin-right: .5rem;

                        &:focus {
                            outline: none;
                        }

                        &.public {
                            background: $brightGreen;
                        }
                    }
                }

               &:not(.all-pages) .wrapper:before {
                    content: '';
                    width: 1.8rem;
                    height: 1.8rem;
                    background-image: url('../../../shared/images/private-list.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-right: .5rem;
                }

                &.is-public {
                    .wrapper {
                        &:before {
                            background-image: url('../../../shared/images/public-list.svg');
                        }

                        a {
                            color: $dark-gray;
                        }
                    }
                }

                &.movable:hover {
                    .wrapper {
                        &:before {
                            background-image: url('../../../shared/images/handle.svg');
                        }
                    }
                }

                &:hover {
                    background: $gray300;

                    .wrapper {
                        a {
                            color: #000;
                        }

                        .visiblity-toggle.public {
                            background-color: $bright-green-highlight;
                        }
                    }
                }

                &.targeted {
                    .wrapper {
                        background-color: $gray300;
                        color: #FFF;
                    }
                }

                &.selected {
                    color: $dark-gray;

                    &:before {
                        background-color: $blue;
                    }

                    a:visited, a:link, a:hover {
                        color: $dark-gray;
                    }
                }

                &.divider {
                    margin: 1rem 0;
                    background: $mgmt-gray;
                    height: .1rem;
                }

                &.all-pages .wrapper svg {
                    vertical-align: middle;
                }
            }
        }
    }
}

.lists-edit-modal {
    width: 30vw;
    max-width: 45rem;

    header {
        width: 100%;
        padding-bottom: 1rem;
        display: flex;
        position: relative;

        input {
            flex-grow: 1;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 50vh;
        overflow: auto;

        li {
            display: flex;
            position: relative;

            &:first-child {
                margin-bottom: 1rem;
            }

            &:not(:first-child) {
                margin: 1rem 0;
            }

            input {
                flex-grow: 1;
            }
        }
    }
}