@import 'src/vars';

.wr-coll-sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    height: 100%;

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-minimize {
            font-size: 4rem;
            line-height: 2rem;
        }
    }

    .lists-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem 0;
        // scrollbar padding
        padding-right: 1rem;

        h4 {
            display: inline;
            margin-left: .5rem;
            font-size: 1.5rem;
            color: $light-gray;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }

        .list-edit {
            font-size: 1.2rem;
            margin-left: auto;
            font-weight: 500;
            color: $light-gray;
            font-size: 1.5rem;
            text-decoration: underline;
        }
    }

    .lists-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1.5rem;
        overflow: auto;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                position: relative;
                padding-left: .75rem;

                &:before {
                    transition: background-color $quickShift ease-in-out;
                    position: absolute;
                    left: 0;
                    content: '';
                    width: .75rem;
                    height: 100%;
                }

                &:hover {
                    &:before {
                        background-color: $blue;
                    }

                    .feature-list:not(.featured) svg {
                        opacity: .25;
                    }
                }

                .feature-list {
                    margin-left: .5rem;

                    svg {
                        transition: opacity $quickShift ease-in-out;
                        vertical-align: middle;
                        width: 1.2rem;
                        height: 1.2rem;
                        opacity: 0;

                        #Symbols {
                            fill: #7A7A7A;
                        }
                    }

                    &:hover svg {
                        opacity: 1 !important;
                    }

                    &.featured svg {
                        opacity: 1;
                    }
                }

                .wrapper {
                    transition: background-color $slowShift ease-in-out;
                    padding: .4rem 0;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    a {
                        display: block;
                        width: 100%;
                        margin: 0 .5rem;
                        text-decoration: none;
                        color: $dark-gray;
                        font-weight: 500;
                        font-size: 1.6rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &.targeted {
                    .wrapper {
                        background-color: $light-gray;
                    }
                }

                .visiblity-toggle {
                    transition: background $midShift ease-in-out;
                    content: ' ';
                    padding: .7rem;
                    border-radius: 50%;
                    border: none;
                    background: #eee;
                    margin-right: .5rem;

                    &:focus {
                        outline: none;
                    }

                    &.public {
                        background: $brightGreen;
                    }
                }

                &.selected {
                    .wrapper {
                        background-color: $blue;
                    }

                    .feature-list {
                        svg #Symbols {
                            fill: #FFF;
                        }
                    }

                    &:before {
                        background-color: $blue;
                    }

                    a:visited, a:link, a:hover {
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.lists-edit-modal {
    width: 30vw;
    max-width: 45rem;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            display: flex;
            position: relative;

            &:first-child {
                margin-bottom: 1rem;
            }

            &:not(:first-child) {
                margin: 1rem 0;
            }

            input {
                flex-grow: 1;
            }
        }
    }
}