html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 98px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 98px; /* Set the fixed height of the footer here */
    /*line-height: 76px;*/
    padding-bottom: 24px;
}

.footer-label {
    position: relative;
    top: 3px;
    font-size: 9px;
}
