html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
	background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.github-mark:before {
    content: url(/static/__shared/GitHubMark.png);
}

.twitter-mark {
    top: 3px;
}

.twitter-mark:before {
    content: url(/static/__shared/TwitterLogo.png);
}