/*
 * Header top bar
 *
 */
.navbar {
    min-height: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    border: 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-webrecorder {
    background-color: #373944;
}

.header-webrecorder a,
.header-webrecorder a:visited,
.navbar-user-links>ul>li>a,
.navbar-user-links>ul>li>a:visited {
    color: #429EEC;
}

.header-webrecorder a:focus,
.header-webrecorder a:hover,
.navbar-user-links>ul>li>a:focus,
.navbar-user-links>ul>li>a:hover {
    text-decoration: underline;
    background-color: #373944;
    color: #74B9F3;
}

.header-webrecorder a:active,
.navbar-user-links>ul>li>a:active {
    outline: 0;
    color: #74B9F3;
}

.navbar-user-links>ul>li>a {
    display: inline;
    font-size: 1.0em;
    padding: 0px;
    padding-right: 15px
}

.wr-timer {
    color: #ccc;
    margin-left: 16px;
    margin-top: 1px;
    list-style: none;
    font-style: italic;
}
/* End header top bar */


/*
 * Homepage
 *
 */
.homepage-user-links>ul>li>a,
.homepage-user-links>li>a:visited {
    color: #429EEC;
}

.header-webrecorder a:focus,
.header-webrecorder a:hover,
.homepage-user-links>ul>li>a:focus,
.homepage-user-links>ul>li>a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    color: #095596;
}

.header-webrecorder a:active,
.homepage-user-links>ul>li>a:active {
    outline: 0;
    color: #095596;
}

.homepage-user-links>ul>li>a {
    display: inline;
    font-size: 1.0em;
    padding: 0px;
    padding-right: 15px
}

input.homepage-title {
    min-width: 160px !important;
}
/* End homepage */


/*
 * Recorder
 *
 */
.breadcrumb-webrecorder {
    display: inline-block;
    margin-bottom: 0px;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.start-recording-spacer {
    height: 20px;
}

.title-inline {
    width: 300px;
}

.space-usage {
    width: 25%;
    min-width: 150px;
}

.alert-during-recording {
    position: fixed;
    top: 20px;
    z-index: 2;
    height: 40px;
    display: none;
    padding: 10px;
}

.doesnt-look-right {
    font-size: 11px;
}

.replay-recording .btn-xs,
.recording-in-progress .btn-xs,
.patch-recording .btn-xs
 {
  padding: 0px 5px;
}

.form-group-recorder-url {
    margin-bottom: 4px;
}

.form-group-recorder-url .form-control:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.replay-date {
    position: relative;
    z-index: 10;
    color: #ccc;
    font-style: italic;
    text-size: 10px;
    margin-top: -26px;
    margin-right: 16px;
    float: right;
}

.url-input-recorder {
    width: 92%;
    display: inline-block;
}

.url-input-replay {
    width: 88%;
    display: inline-block;
}
/* End recorder */


/*
 * Interstitial pages
 * Pages w/recorder but no content
 */
.interstitial-page {
    background-color: #808080;
}
/* End interstitial page */


/*
 * Collection Info page
 *
 */
.edit-title-form-visible {
    display: inline-block;
}

.hide-loading-spinner,
.edit-title-loading-spinner {
    display: inline-block;
    background-image: url(/static/__shared/edit_title_spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
}

.edit-title-loading-spinner {
    width: 22px;
    height: 22px;
}

.hide-loading-spinner {
    width: 14px;
    height: 14px;
    background-position-x: 0px;
    background-position-y: 2px;
}

.access-switch {
    padding-top: 15px;
}

.recording-panel {
    padding-right: 0px;
    padding-left: 0px;
}

.recording-panel-top-spacer {
    height: 30px;
}

.recording-selector {
    border: 1px solid #ccc;
    margin-top: 11px;
    border-radius: 4px;
}

.bookmarks-panel {
    padding-right: 0px;
}

.card {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.checkbox-column {
    display: inline-block;
    width: 13px;
    vertical-align: top;
    margin-top: 2px;
}

.content-column {
    display: inline-block;
    width: 90%;
}

.card-top {
    border-top: 0px;
}

.card .recording-actions .btn {
    background-color: transparent;
}

.card-selected .recording-actions .btn {
    border-color: #aaa;
}

.card:hover,
.card-selected:hover {
    background-color: #eee;
}

.card-selected {
    background-color: #ddd;
}

.recording-title {
    overflow-wrap: break-word;
    font-size: 18px;
    color: #1932bd;
}

.recording-time-info {
    color: #777;
}

.recording-actions {
    height: 22px;
}

.table-bookmarks {
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}

.table-bookmarks>tbody>tr>td a {
    word-wrap: break-word;
}

.table-bookmarks>tbody>tr>td.timestamp {
    font-size: .8em;
}

.table-bookmarks>tbody>tr>td,
.table-bookmarks>tbody>tr>th,
.table-bookmarks>tfoot>tr>td,
.table-bookmarks>tfoot>tr>th,
.table-bookmarks>thead>tr>td,
.table-bookmarks>thead>tr>th {
    vertical-align: middle;
    line-height: 1.2;
}


.table-bookmarks.dataTable thead .sorting:after,
.table-bookmarks.dataTable thead .sorting_asc:after,
.table-bookmarks.dataTable thead .sorting_desc:after {
    top: 2px;
}

.table-bookmarks-bottom div.dataTables_info {
    display: inline-block;
}

.table-bookmarks-bottom div.dataTables_length {
    display: inline-block;
    margin-left: 20px;
}

.table-bookmarks-bottom div.dataTables_paginate {
    display: inline-block;
    float: right;
}
/* End collection info page */

/*
 * Links selecter/finder
 *
 */
#links-modal input[type=checkbox] {
    margin-right: 4px;
}

#links-selected-list {
    overflow-y: scroll; 
    max-height: 400px; 
    height: 100%
}

#links-toggle-all {
    margin-left: 16px;
}
/* End links selector/finder */


/*
 * Glyphicons
 *
 */
.glyphicon-button {
    top: 2px;
    margin-right: 3px;
}

.glyphicon-lg {
    font-size: 1.5em;
}

.glyphicon-recording-status {
    margin-left: 7px;
    margin-left: 7px;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-sm:before {
    content: "\25cf";
    font-size: 1.5em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-lg:before {
    content: "\25cf";
    font-size: 2em;
    vertical-align: sub;
    line-height: 0.1em;
}

/* End glyphicons */


/*
 * Spacers and buffers
 *
 */
.top-buffer-none {
    margin-top: 0px;
}

.top-buffer-sm {
    margin-top: 5px;
}

.top-buffer-md {
    margin-top: 10px;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-lg {
    margin-top: 40px;
}

.left-buffer {
    margin-left: 20px;
}

.left-buffer-sm {
  margin-left: 5px;
}

.left-buffer-xs {
    margin-left: 1px;
}

.right-padding {
  padding-right: 20px;
}

.right-buffer {
  margin-right: 20px;
}

.right-buffer-sm {
  margin-right: 5px;
}

.bottom-buffer-lg {
  margin-bottom: 40px;
}
/* End spacers and buffers */
