@import 'src/vars';

.terms-policies {
    margin-top: b16(100px);

    h1 {
        font-family: $serif;
        font-size: rem(5.1rem);
    }

    h1, h3 {
        color: #434a54;
    }

    a[name="tos"], a[name="privacy"], a[name="copyright"] {
        text-decoration: none;
    }

    .tos-sub {
        list-style-type: lower-alpha;
    }

    ol.tos {

        padding-left: rem(1.6rem);
    }

    .tos li {
        margin-top: rem(1.8rem);
    }

    .privacy li {
        list-style-type: none;
    }

    .section-updated {
        margin-top: rem(2rem);
        margin-bottom: rem(4rem);
        font-style: italic;
    }
}
