.tos-sub {
    list-style-type: lower-alpha;
}

ol.tos {

    padding-left: 1.6rem;
}

.tos li {
    margin-top: 1.8rem;
}

.privacy li {
    list-style-type: none;
}

.section-updated {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-style: italic;
}