
#info-container {
    display:flex;

    h4 {
        margin-top:0;
        display: inline-block;
    }

    #info {
        width: 30%;

        dl {
            text-align: left;

            dd {
                margin-bottom: 1.5rem;
                word-wrap: break-word;
            }
        }
    }

    #collections {
        .wr-usage {
            display: flex;
            margin-bottom: 2.5rem;

            dl {
                margin-left: 2.5rem;
            }
        }

        width: 70%;
    }

    // spacing for inline buttons
    .btn {
        margin-left: .5rem;
    }
}