@import 'src/vars';

.wr-delete-modal {
    label {
        display: block;
        margin-top: rem(2.5rem);
    }

    button {
        svg {
            margin-right: rem(.5rem);
            vertical-align: text-top;

            path {
                fill: #FFF;
            }
        }
    }

    input {
        width: 100%;
    }
}
