@import 'src/vars';


.keystone {
    display: flex;
    margin-top: rem(3rem);
    padding: rem(10rem) rem(2.5rem) rem(5rem) rem(2.5rem);

    figure {
        display: flex;
        width: 50%;

        object, img {
            width: 100%;
        }

        @media (max-width: $xs) {
            width: 75%;
            margin: 0 auto;
        }
    }

    .intro {
        width: 50%;
        margin-left: rem(3rem);
        color: $slate;

        @media (max-width: $xs) {
            width: 100%;
        }

        h1 {
            font-family: $serif;
            font-size: rem(6.8rem);
        }

        h2 {
            font-size: rem(2.8rem);
            font-weight: 100;
            margin-bottom: rem(1.6rem);
        }

        h4 {
            font-weight: 100;
        }

        p {
            font-weight: 100;
            font-size: rem(1.6rem);
        }

        .cta {
            margin: rem(1.5rem) 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            button {
                flex-grow: 1;
                width: 100%;
                padding-top: rem(2rem);
                padding-bottom: rem(2rem);

                @media (max-width: $xs) {
                    padding-top: rem(1rem);
                    padding-bottom: rem(1rem);
                }

                &.button-link {
                    font-size: rem(1.4rem);
                    color: $slate;
                    text-decoration: underline;
                    transition: color $quickShift ease-in-out;

                    &.existing-users-btn {
                      padding-top: rem(0.5rem);
                      padding-bottom: rem(1.5rem);
                    }

                    &:hover {
                        color: $vivid-pine;
                    }
                }
            }

            button + button {
                margin-top: rem(1rem);
            }
        }

        .desktop-feature {
            display: flex;
            align-items: flex-start;
            margin-top: rem(3rem);
            border: solid rem(.1rem) $black;
            padding: rem(1.5rem);

            img {
                flex-shrink: 0;
            }

            & > div {
                margin-left: rem(1.5rem);

                h5 {
                    margin-top: 0;
                }
            }
        }

        .note {
            font-size: rem(1.4rem);

        }

        .note + .note {
            margin-top: rem(1rem);
        }
    }

    @media (max-width: $xs) {
        flex-direction: column;

        figure > img {
            width: 100%;
        }

        .intro {
            margin-left: 0;
        }
    }
}

.landing-info {
    padding: rem(10rem) rem(2.5rem);
    border-bottom: rem(.1rem) solid $gray300;

    &:first-of-type {
        border-top: rem(.1rem) solid $gray300;
        margin-top: rem(4rem);
    }

    // & > div {
    display: flex;
    align-items: center;
    // }

    @media (max-width: $mobile) {
        padding: rem(2rem);
    }

    video {
        width: 100%;
    }
}

.advanced-features {
    border-bottom: rem(.1rem) solid $gray300;
    margin-top: rem(1.5rem);
    padding: rem(10rem) rem(2.5rem);

    h3 {
        font-size: rem(2.8rem);
        font-weight: 300;
    }

    dt {
        font-size: rem(1.8rem);
        line-height: 1.4;
        font-weight: 500;
        margin-top: rem(1.5rem);
    }

    dd {
        font-size: rem(1.6rem);
        line-height: 1.6;
        margin-bottom: rem(1.6rem);
    }
}

.supporter {
    margin-top: rem(8rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(3rem);

    @media (max-width: $xs) {
        grid-gap: rem(1.5rem) rem(1rem);
    }

    header {
        margin-top: rem(3rem);
        text-align: center;
        color: $deep-pine;
        height: rem(15rem);
        text-shadow: 2px 2px 0 $pine;

        grid-column: 1 / span 2;
    }

    .oss-intro {
        grid-column: 1;

        @media (max-width: $xs) {
            grid-column: 1 / span 2;
        }
    }

    .tools-intro {
        grid-column: 1 / span 2;
    }

    h3 {
        font-weight: 100;
        font-size: rem(1.8rem);
        line-height: 1.6;
    }

    p {
        font-weight: 100;
        font-size: rem(1.6rem);
        line-height: 1.6;
    }

    .supportCTA {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(3rem);
        border: solid rem(.3rem) $pine-sap;
        justify-content: center;

        @media (max-width: $xs) {
            grid-column: 1 / span 2;
        }

        h3 {
            margin-top: 0;
        }

        button {
            margin: rem(1.5rem) 0;
            flex-grow: 0;
            padding: rem(2rem) rem(3rem);
        }

        a {
            margin-bottom: rem(1.5rem);
        }

        p {
            margin-bottom: 0;
        }
    }

    .tool {
        display: grid;
        grid-template-rows: rem(20rem) min-content 1fr min-content;

        h4 {
            margin-top: rem(1.5rem);
        }

        button {
            justify-self: center;
        }

        img {
            height: 100%;
            width: 90%;
            object-fit: contain;
            justify-self: center;
        }
    }

}
