@import 'src/vars';

section {
    opacity: 1;
    transition: opacity $slowShift ease-in-out;

    &.loading {
        opacity: 0.45;
    }
}

.container {
    flex-grow: 1;
}

.oos-alert {
    position: absolute;
    z-index: 1000;
    top: 4.5rem;
    left: 1.5rem;

    p {
        margin-bottom: .5rem;
    }
}
