@import 'src/vars';

section {
    opacity: 1;
    transition: opacity $slowShift ease-in-out;

    &.loading {
        opacity: 0.45;
    }
}

.container {
    flex-grow: 1;
}

.navbar {
    transition: box-shadow $slowShift ease-in-out;

    min-height: .2rem;
    margin-bottom: .1rem;
    -webkit-box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
    box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
    border: 0;
}

.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.header-webrecorder {
    background-color: #0000ee;
}

.header-webrecorder a,
.header-webrecorder a:visited,
.navbar-user-links>ul>li>a,
.navbar-user-links>ul>li>a:visited {
    color: #FFF;
}

.header-webrecorder a:focus,
.header-webrecorder a:hover,
.navbar-user-links>ul>li>a:focus,
.navbar-user-links>ul>li>a:hover {
    text-decoration: underline;
    background-color: inherit;
    color: #FFF;
}

.header-webrecorder a:active,
.navbar-user-links>ul>li>a:active {
    outline: 0;
    color: #FFF;
}

.navbar-user-links {
    margin-right: 1.5rem;
}

.navbar-user-links>ul>li>a {
    display: inline;
    font-size: 1em;
    padding: 0;
    padding: .2rem .6rem .3rem .6rem;
}

