@import 'src/vars';

.wr-breadcrumb {
    background-color: transparent;
    padding: 0 !important;
    padding-left: .5rem;
    margin: .1rem;
    border: none;

    li {

        &:before {
            content: '/';
            color: #CCC;
            padding:0 1rem;
        }

        a, span {
            max-width: 10rem !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span {
            color: $white;
        }

        a:focus, a:hover, a:active {
            text-decoration: underline;
            color: $linkHover;
        }

        a.branding {
            text-decoration: none;
        }
    }
}