@import 'src/vars';

.signup-form {
    margin-top: rem(3.5rem);

    .signup-alert {
        position: fixed;
        top: rem(4rem);
        z-index: 100;
    }

    .wr-signup {
        opacity: 1;
        transition: opacity $slowShift ease-in-out;

        &.success {
            opacity: 0.5;
        }

        .btn {
            .wr-loader {
                margin-right: rem(.5rem);

                path {
                    fill: #FFF;
                }
            }
        }
    }
}
