@import 'src/vars';

.page-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: solid 0 $brightGreen;
    border-width: .4rem 0 0 0;
    padding-top: 1rem;
    user-select: none;

    .pages {
        position: relative;
        flex-grow: 1;

        &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            width: calc(100% - 1rem);
            height: 3rem;
            z-index: 5;
            pointer-events: none;
        }

        &:before {
            top: 0;
            background: linear-gradient(0deg, rgba(255,255,255,0), #FFF 85%);
        }

        &:after {
            bottom: 0;
            background: linear-gradient(180deg, rgba(255,255,255,0), #FFF 85%);
        }
    }

    & > header {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        white-space: nowrap;
        overflow: hidden;

        em {
            text-transform: lowercase;
        }

        .glyphicon {
            color: rgb(125, 125, 125);
        }
    }

    .ReactVirtualized__Table__Grid {
        padding-top: 2rem;
    }

    .ReactVirtualized__Table__row {
        color: $bookmarkListDefault;
        cursor: pointer;
        padding-left: 2rem;

        &:focus {
            outline-width: 0;
        }

        .page-title {
            h2 {
                transition: color $quickShift ease-in-out;
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0;
                line-height: 1.3rem;
            }

            span {
                font-size: 1rem;
            }
        }

        &.selected {
            color: $blue;

            &:before {
                content: '';
                position: absolute;
                left: .9rem;
                top: .9rem;
                width: 1.4rem;
                height: 1.4rem;
                background: url('../../../shared/images/active_bookmark_ico.svg');
                background-size: cover;
            }
        }

        &:not(.selected):hover {
            color: $blue;
        }
    }

    .search-box {
        input {
            text-indent: 3rem;
        }
    }
}
