
.capstone {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 4rem 0;
    color: #7e7e7e ;

    h4 {
        margin: 0 0.5rem 0 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;

        svg {
            vertical-align: bottom;
            opacity: 0.4;
        }
    }

    a {
      color: #7e7e7e !important;
      font-weight: 400;
      font-size: 1.2rem;
      text-decoration: underline;
    }
}
