@import 'src/vars';

.capstone {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 4rem 0;
    color: $gray500;

    h4 {
        margin: 0 0.5rem 0 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;

        svg {
            vertical-align: bottom;
            opacity: 0.4;
        }
    }

    .user-link {
        a {
            &:link, &:visited, &:active, &:hover {
              color: $gray500;
              font-weight: 400;
              font-size: 1.2rem;
              text-decoration: underline;
            }
        }
    }

    .capstone-column {
        margin-left: 1rem;

        h3 {
            margin: 0;
            color: $body-gray;
        }

        .user-link {
            color: $gray600;

            a {
                &:link, &:visited, &:active, &:hover {
                    color: $gray600;
                }
            }

        }
    }
}
