
.capstone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;

    h4 {
        margin: 0 1.5rem 0 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;

        svg {
            vertical-align: bottom;
        }
    }
}