.recording-selector {
    margin-top: .8rem;
    border: solid .1rem #b9b9b9;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;

    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    height: 100%;

    -ms-flex: 1 1 100%;
}
.recording-selector:after {
    content: "";
    position:absolute;
    z-index: 10;
    left: .1rem;
    bottom: .1rem;
    height: 3rem;
    width: calc(100% - 1.7rem);
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    pointer-events: none;
}

.card-top {
    padding: .5rem 0 1rem 1rem;
    border-bottom: solid .1rem #b9b9b9;
}
.recording-bin {
    overflow: auto;
    height: 100%;
    -ms-flex: 0 1 100%;
}

.rec-filter {
    padding: 1rem 0;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    text-transform: uppercase;
    font-size: 1.1rem;
}
