@import 'src/vars';

h4 {
    display: inline-block;
}

.wr-overview {
    dt {
        float:left;
        margin-right: 1rem;
    }

    @extend .clearfix;
}

.wr-charts {
    .wr-activity {
        .wr-activity-charts {
            display: flex;
            justify-content: center;

            @include breakpoint(xs) {
                flex-direction: column;
                align-items: center;

                .radial-graph {
                    margin: 0 0 2.5rem 0;
                }
            }

            .radial-graph {
                margin-right: 2.5rem;
            }
        }
    }

    .wr-collections {

        .wr-list-table {
            th:first-child, tbody.reactable-data > tr td:first-child {
                text-align: left;
                padding-left:1rem;
            }
        }

        h4 {
            margin-bottom: 0;
        }
    }
}


.wr-usage {
    width: 100%;
    height: 35rem;
    margin-bottom: 10rem;

    h4 {
        margin-bottom: 0;
    }

    .wr-dateRange {
        margin-left: 1.5rem;
    }
}
