@import 'src/vars';

.wr-coll-detail {
    margin: 0 2.5rem;

    & > header {
        margin-bottom: 5rem;

        h1 {
            font-family: serif;
        }

        hr {
            border-top: solid .3rem yellow;
        }
    }

    .wr-coll-detail-table {
        nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2.5rem;

            & > * {
                margin-right: 2.5rem;


                &.glyphicon {
                    font-size: 1.8rem;
                }
            }

            .toggle-label {
                display: flex;
                align-items: center;

                & > span:first-of-type {
                    vertical-align: top;
                    font-weight: bold;
                    padding-right: 1rem;
                    cursor: pointer;
                }
            }

            .search-box {
                position: relative;
                margin: 0 0 0 auto;

                input {
                    border-width: 0 0 1px 0;
                    border-color: #8F9294;
                }

                .glyphicon {
                    position: absolute;
                    right: 0;
                    color: #8F9294;
                }
            }
        }

        table {
            tr {
                td {
                    text-align: center;

                    &:nth-child(-n+2) {
                        width: 2rem;
                    }

                    &.bookmark-url {
                        //white-space: nowrap;
                    }
                }

            }
        }
    }

    .wr-coll-session {
        header {
            display: flex;
            justify-content: flext-start;
            align-items: center;
            padding: 1rem 0;

            &.collapsible {
                cursor: pointer;

                &:hover {
                    color: $collTrigger;
                }
            }

            h2 {
                transition: color 200ms ease-in-out;
                font-size: 1.4rem;
                margin: 0;
            }

            .session-ts {
                margin-left: auto;
                margin-right: 1.5rem;
            }


            .glyphicon-triangle-right {
                transition: transform 350ms ease-in-out;
                transform-origin: center center;
                margin-right: .5rem;
                color: $collTrigger;
            }
        }

        .Collapsible__trigger {
            &.is-open {
                h2 {
                    color: $collTrigger;
                }

                .glyphicon-triangle-right {
                    transform: rotateZ(90deg);
                }
            }
        }
    }
}