@import 'src/vars';

.search-box {
    position: relative;
    width: 100%;

    .search-box {
        .input-wrapper {
            position: relative;

            .search-icon {
                position: absolute;
                left: 1rem;
                height: 3rem;
                z-index: 20;
                display: flex;
                flex-direction: column;
                justify-content: center;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;

                    path {
                        fill: $gray500;
                    }
                }
            }

            input {
                padding-left: 3.2rem;
                padding-right: 4rem;
                flex-grow: 1;
                border: solid .4rem $pine;
                border-width: 0 0 .4rem 0;
                outline: none;
                box-shadow: none;
            }

            .searchbar-actions {
                position: absolute;
                right: .2rem;
                height: 3rem;
                z-index: 20;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .advanced-options {
                    // position: absolute;
                    // right: .2rem;
                    // top: .2rem;
                    // height: 2.6rem;
                    // z-index: 20;
                    font-size: 1rem;
                    background: linear-gradient(-90deg, #FFF 80%, rgba(255,255,255,0));
                    // padding-left: 1rem;
                    color: $gray600;

                    .glyphicon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .adv-search-filters {
        position: absolute;
        top: 3.5rem;
        right: 0;
        z-index: 100;
        border: solid .1rem $gray500;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
        background: #FFF;

        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 1.5rem;

        .label {
            color: $gray600;
            font-weight: 300;
            font-size: 1.4rem;
            flex-shrink: 0;
            display: block;
            margin: 0;
            text-align: right;
        }

        input[name=searchFrag], input[name=urlFrag] {
            border-width: 0 0 .1rem 0;
            width: 100%;
        }

        .dropdown {
            width: 100%;

            .dropdown-menu {
                max-height: 30rem;
                overflow: auto;
            }
        }

        .dropdown + .dropdown {
            margin-top: .5rem;
        }

        ul {
            list-style-type: none;
            padding: 0;

            label {
                color: $gray600;
                font-weight: 300;
                font-size: 1.4rem;
            }
        }

        .sub-filters {
            display: flex;
            margin-top: .5rem;
        }

        .date-select {
            margin-top: 1.5rem;

            .label {
                text-align: left;
                padding-left: 0;
            }

            .react-datepicker-wrapper + .react-datepicker-wrapper {
                margin-top: .5rem;
            }


            .end-date {
                margin-top: 1.5rem;
            }
        }

        .actions {
            margin: 1.5rem;
            grid-column: 2;
            justify-self: end;

            .button-link {
                color: $gray600;
            }

            button + button {
                margin-left: 1.5rem;
            }
        }
    }
}
