@import 'src/vars';

.search-box {
    position: relative;
    width: 100%;

    .input-group {
        border: solid rem(.4rem) $pine;
        border-width: 0 0 rem(.4rem) 0;

        .input-group-text {
            background-color: transparent;
            border: none;
        }

        input {
            padding-right: rem(4rem);
            flex-grow: 1;
            border: none;
            outline: none;
            box-shadow: none;

            &:focus {
                box-shadow: none;
            }
        }
    }

    svg {
        height: 100%;
    }

    .input-group-append {

        .btn-link {
            color: $slate;
        }
    }

    .adv-search-filters {
        position: absolute;
        top: rem(3.5rem);
        right: 0;
        z-index: 100;
        border: solid rem(.1rem) $gray500;
        width: 100%;
        padding: rem(1rem) rem(1rem) 0 rem(1rem);
        background: #FFF;

        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: rem(1.5rem);

        .label {
            color: $gray600;
            font-weight: 300;
            font-size: rem(1.4rem);
            flex-shrink: 0;
            display: block;
            margin: 0;
            text-align: right;
        }

        input[name=searchFrag], input[name=urlFrag] {
            border-width: 0 0 rem(.1rem) 0;
            width: 100%;
        }

        .dropdown {
            width: 100%;

            .dropdown-menu {
                max-height: rem(30rem);
                overflow: auto;
            }
        }

        .dropdown + .dropdown {
            margin-top: rem(.5rem);
        }

        ul {
            list-style-type: none;
            padding: 0;

            label {
                color: $gray600;
                font-weight: 300;
                font-size: rem(1.4rem);
            }
        }

        .sub-filters {
            display: flex;
            margin-top: rem(.5rem);
        }

        .date-select {
            margin-top: rem(1.5rem);

            .label {
                text-align: left;
                padding-left: 0;
            }

            .react-datepicker-wrapper + .react-datepicker-wrapper {
                margin-top: rem(.5rem);
            }


            .end-date {
                margin-top: rem(1.5rem);
            }
        }

        .actions {
            margin: rem(1.5rem);
            grid-column: 2;
            justify-self: end;

            .button-link {
                color: $gray600;
            }

            button + button {
                margin-left: rem(1.5rem);
            }
        }
    }
}
