

.wr-edit-modal {
    .modal-header {
        border: none;
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        border: none;

        button+button {
            margin-left: 1.5rem;
        }

        &:before, &:after {
            content: none;
        }

        .btn-success {
            border-radius: 2.7rem;
            padding: 0.7rem 3rem;
            font-size: 1.15rem;

            svg {
                vertical-align: text-bottom;
                margin-right: .5rem;

                path {
                    fill: #FFF;
                }
            }
        }
    }
}
