@import 'src/vars';

.pw-reset-form {
    transition: opacity $slowShift ease-in-out;
    margin: b16(100px) 0;

    h4 {
        margin-bottom: rem(2.5rem);
    }

    &.success {
        opacity: 0.5;
    }

    .form-option {
        display: flex;
        margin-bottom: rem(1rem);

        span{
            flex-grow: 1;
            margin: rem(1rem) 0;
            border-bottom: solid rem(.1rem) $gray500;
        }

        .opt {
            flex-grow: 0;
            border: none;
            margin: 0 rem(1.5rem);
        }
    }
}
