@import 'src/vars';

.pw-reset-form {
    transition: opacity $slowShift ease-in-out;
    margin-top: 2.5rem;

    h4 {
        margin-bottom: 2.5rem;
    }

    &.success {
        opacity: 0.5;
    }

    .form-option {
        display: flex;
        margin-bottom: 1rem;

        span{
            flex-grow: 1;
            margin: 1rem 0;
            border-bottom: solid .1rem $gray500;
        }

        .opt {
            flex-grow: 0;
            border: none;
            margin: 0 1.5rem;
        }
    }
}