@import 'src/vars';

#remember_me {
    margin-right: 1rem;
}

.wr-header-btn {
    border: none;
    background: transparent;
    color: $link;
    padding: 0;

    &:hover {
        color: $linkHover;
    }
}

.wr-login-form {
    margin: 2rem 4rem 2rem 4rem;

    p {
        margin-top: 2rem;
    }
}
.navbar-right:not(&:last-child) {
    margin-right: 1rem;
}

.num-collection {
    color: #FFF;
    font-feature-settings: 'tnum';
    margin-left: .5rem;

    &:before {
        content: '(';
        color: $link;
        padding-right: .1rem;
    }
    &:after {
        content: ')';
        color: $link;
        padding-left: .1rem;
    }
}