@import 'src/vars';

#remember_me {
    margin-right: 1rem;
}

.custom-report {
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

.wr-header-btn {
    border: none;
    background: transparent;
    color: $gray600;
    padding: 0 1rem;

    &:hover {
        text-decoration: underline;
    }
}

.wr-login-modal {
    .modal-body {
        padding: 0;
    }

    .anon-cta {
        background: $gray200;
        padding: 1.5rem 3rem;

        h5:nth-child(1n) {
            margin-top: 1.5rem;
            margin-bottom: 0;
        }
    }
}

.wr-login-form {
    margin: 2rem 4rem 2rem 4rem;

    p {
        margin-top: 2rem;
    }
}

.num-collection {
    font-feature-settings: 'tnum';
    margin-left: .5rem;

    &:before {
        content: '(';
        padding-right: .1rem;
    }
    &:after {
        content: ')';
        padding-left: .1rem;
    }
}


.navbar-user-links {
    list-style-type: none;
    margin: 0 1.5rem 0 0;
    padding: 0;

    & > li > a {
        display: inline;
        font-size: 1em;
        padding: 0;
        padding: .2rem .6rem .3rem .6rem;
    }
}