@import 'src/vars';

.custom-report {
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

.wr-header-btn {
    border: none;
    background: transparent;
    color: $gray600;
    padding: 0 rem(1rem);

    &:hover {
        text-decoration: underline;
    }
}

.wr-login-modal {
    .modal-body {
        padding: 0;
    }

    .anon-cta {
        background: $gray200;
        padding: rem(1.5rem) rem(3rem);

        h5:nth-child(1n) {
            margin-top: rem(1.5rem);
            margin-bottom: 0;
        }
    }
}

.wr-login-form {
    margin: rem(2rem) rem(4rem) rem(2rem) rem(4rem);

    #remember_me {
        margin-right: rem(1rem);
    }

    p {
        margin-top: rem(2rem);
    }
}

.num-collection {
    font-feature-settings: 'tnum';
    margin-left: rem(.5rem);

    &:before {
        content: '(';
        padding-right: rem(.1rem);
    }
    &:after {
        content: ')';
        padding-left: rem(.1rem);
    }
}


.navbar-user-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li:not(:last-of-type) {
        margin-right: rem(5rem);
        font-size: rem(1.6rem);
    }

    .custom-report {
        color: $gray600;
    }

    .login-link {
        padding: rem(.7rem) rem(1rem);
    }

    .dropdown {
        #user-dropdown {
            border: none;
            display: flex;
            align-items: center;

            svg {
                margin-right: rem(.5rem);
            }

            .caret {
                margin-left: rem(.5rem);
            }
        }

        .dropdown-menu {
            border-radius: rem(.3rem);

            .display {
                padding: rem(.2rem) rem(2rem);
                margin: rem(.5rem) 0;

                .sm-label {
                    font-size: 70%;
                }

                &.login-display {
                    h5 {
                        margin: 0;
                    }
                    .username {
                        font-size: rem(1.1rem);
                        color: $gray600;
                    }
                }
            }

            .space-display {
                position: relative;
                height: rem(1rem);
                border: solid rem(.1rem) $gray600;

                span {
                    height: 100%;
                    position: absolute;
                    background: $gray500;
                }
            }
        }
    }
}