@import 'src/vars';

.extract-selector {
    .btn-primary.dropdown-toggle {
        border: 0;
        padding: 0;
        height: rem(3.2rem);
        font-size: rem(1rem);

        &:hover, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus, &:focus {
            border: none;
            box-shadow: none !important;
        }

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        padding: rem(1.5rem);
        border-radius: 0;
        min-width: rem(35rem);
    }

    .archive-toggle {
        transition: border-color $quickShift ease-in-out;
        white-space: initial;
        border: solid rem(.1rem);
        display: flex;
        border-color: rgb(204,204,204);
        margin-top: rem(1.5rem);

        .checkbox-block {
            transition: background-color $quickShift ease-in-out;
            width: rem(7.5rem);

            display: flex;
            justify-content: center;
            align-items: flex-start;
            background-color: rgb(204,204,204);
            margin-right: rem(1rem);

            input {
                margin-top: rem(1rem);
                font-size: rem(5rem);
            }
        }

        &.on {
            border-color: rgb(228, 121, 46);

            .checkbox-block {
                background-color: rgb(228, 121, 46);
            }
        }

        & > label {
            padding: rem(.5rem) 0;
            font-weight: normal;
        }
    }

    img {
        width: rem(1.6rem);
        height: rem(1.6rem);
    }

    .ra-collection {
        text-decoration: underline;
        margin-left: rem(.5rem);
        white-space: normal;
    }

    .ra-dropdown-menu h5 {
        margin: 0;
    }

    .ra-info {
        display: flex;
        border-left: rem(1rem) solid rgb(242,242,242);
        padding-left: rem(1.5rem);
        margin-top: rem(1.5rem);

        & > div:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-right: rem(1rem);
        }

        & > div:last-of-type {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .ra-mode-badge.extract {
        background-color: #265a88;
        margin-right: rem(.5rem);
    }

    .ra-mode-row {
        display: flex;
        align-items: flex-start;
    }

    .ra-recording-block {
        margin-top: rem(1.5rem);

        h5 {
            display: inline-block;
        }
    }

    .ra-replay-info-label {
        color: rgb(153,153,153);
        font-size: rem(1.2rem);
        font-weight: 300;
        letter-spacing: rem(.1rem)
    }

    .ra-resources {
        border: solid rem(.1rem) rgb(204,204,204);
        padding: rem(.5rem) rem(1rem);
        margin-top: rem(1.5rem);

        & > ul {
            padding: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
    }

    .ra-source-name {
        white-space: normal;

        a {
            color: #000;
            text-decoration: underline;

            .glyphicon-new-window {
                margin-left: rem(.5rem);
            }

            &:hover {
                color: #337ab7;
                text-decoration: none;
            }
        }
    }

    &.sources-widget {
        // min-width: rem(15rem);
        // padding: 0 rem(1.5rem) 0 rem(.8rem);
        // height: 100%;

        ul {
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0 rem(1rem);

            li {
                font-size: rem(1.1rem);

                &.ts {
                   font-weight: 300;
                }

                &.mnt-label {
                    font-weight: 400;
                    letter-spacing: rem(.1rem);
                }
            }
        }
    }
}
