
.indexingContainer + .wr-content,
.collectionCover + .wr-content,
.wr-coll-detail {
  margin-top: 9rem;
}

/* animations */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
