@import 'src/vars';

.supporter-announce {
    border-bottom: solid rem(.2rem) $pine;
    display: flex;
    flex-direction: column;

    .banner {
        background: $pine;
        height: rem(7.5rem);

        .wrapper {
            width: calc(100% - 3rem);
            height: 100%;
            margin-left: rem(1.5rem);
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                margin: 0 auto;
                color: $white;
                text-align: center;
            }

            .dismiss {
                border: none;
                background: transparent;

                path {
                    fill: $white;
                }
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: rem(1.5rem) 5%;

        p {
            width: 70%;
        }

        .signup-link {
            border-left: solid 1px;
            margin-left: rem(3rem);
            padding-left: rem(3rem);
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                border-radius: rem(2.7rem);
                padding: rem(0.7rem) rem(3rem);
                font-size: rem(1.15rem);
                background: $pine;
                border: none;
                color: #FFF;
                font-size: rem(1.8rem);
                text-decoration: none;
            }
        }
    }
}