@import 'src/vars';

.add-to-lists-modal {
    width: 30vw;
    max-width: 45rem;

    h4 {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            label {
                margin-left: 1rem;
            }
        }
    }
}

.wr-delete-modal {
    label {
        display: block;
        margin-top: 2.5rem;
    }

    input {
        width: 100%;
    }
}

.table-header-modal {
    max-width: 30vw;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;

            input {
                margin-right: 1rem;
            }
        }
    }
}

.wr-coll-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 2rem 2.5rem 0 2.5rem;
    height: 100%;

    .grid-wrapper {
        position: relative;
        flex-grow: 1;

        .wr-coll-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

            display: grid;
            grid-template-rows: 3rem;
            grid-column-gap: 1.5rem;
            grid-template-columns: auto 1fr;
            grid-template-areas:
                "sidebar utilities"
                "sidebar table";

            font-family: $sans;

            &.with-lists {
                grid-template-rows: 4.5rem;
                grid-template-areas:
                    "sidebar lists-modifier"
                    "sidebar table";
            }

            .wr-coll-sidebar-container {
                grid-area: sidebar;
                position: relative;

                // &:before, &:after {
                //     content: '';
                //     position: absolute;
                //     left: 0;
                //     width: calc(100% - 1.5rem);
                //     height: 3rem;
                //     z-index: 20;
                //     pointer-events: none;
                // }

                // &:before {
                //     top: 0;
                //     background: linear-gradient(0deg, rgba(255,255,255,0), #FFF 85%);
                // }

                // &:after {
                //     bottom: 0;
                //     background: linear-gradient(180deg, rgba(255,255,255,0), #FFF 85%);
                // }

                .wr-coll-sidebar-stretch {
                    display: flex;
                    flex-direction: column;

                    position: absolute;
                    top: 0;
                    bottom: 0;
                    //border-right: 1px solid $slate;
                    padding-right: 1.5rem;
                    width: 100%;
                    overflow: auto;

                    // top buffer for fade
                    //padding-top: 2rem;

                }

                // & > .wr-coll-sidebar:not(:first-of-type) {
                //     border: solid .4rem $brightGreen;
                //     border-width: .4rem 0 0 0;
                //     margin: 2.5rem 0;
                // }
            }

            .wr-coll-utilities {
                grid-area: utilities;

                nav {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    & > * {
                        margin-right: 2.5rem;

                        &.glyphicon {
                            font-size: 1.8rem;
                        }
                    }

                    .search-box {
                        margin: 0 0 0 auto;
                        width: 30%;
                        max-width: 30rem;
                        min-width: 10rem;
                    }

                    .query-box {
                        margin: 0 0 0 auto;
                        width: 40%;
                        max-width: 35rem;
                        min-width: 20rem;

                        .input-group-addon {
                            background-color: $brightGreen;
                        }
                    }
                }
            }

            .lists-modifier {
                grid-area: lists-modifier;

                .lists-header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    background-color: $listsBlue;
                    font-size: 1.4rem;
                    padding: 1.5rem 1rem;

                    svg {
                        width: 1rem;
                        height: 1rem;
                        margin-left: .2rem;
                    }
                }
            }

            .wr-coll-detail-table {
                grid-area: table;
                position: relative;
                padding-right: 1.5rem;

                &.with-lists {
                    border: solid 0 $listsBlue;
                    border-width: 0 .4rem;
                }

                .table-header-menu {
                    position: absolute;
                    right: -.5rem;
                    top: 1rem;
                }

                .ReactVirtualized__Table__headerColumn {
                    display: flex;
                    align-items: center;
                }

                .ReactVirtualized__Table__row {
                    transition: background $tableRowFade ease-in-out;
                    border: solid 0 #CCCFD5;
                    border-width: 0 0 .1rem 0;
                    cursor: context-menu;

                    a { color: $blue; }

                    &.selected {
                        background-color: $dark-gray;
                        color: #FFF;
                        fill: #FFF;

                        a:link { color: #FFF; }
                        a:visited{ color: #FFF; }
                    }

                    &:not(.selected):hover {
                        background: #eee;
                    }

                    .ReactVirtualized__Table__rowColumn {
                        a {
                            display: inline-block;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}