@import 'src/vars';

.add-to-lists-modal {
    width: 30vw;
    max-width: 45rem;

    h4 {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            label {
                margin-left: 1rem;
            }
        }
    }
}

.drag-preview {
    pointer-events: none;
    position: fixed;
    z-index: 100;
    font-size: 1.8rem;
    background: #FFF;
    padding: 0 .8rem;
    border: solid .4rem $success-color;
    font-weight: 600;
    color: $gray600;
    border-radius: 2.7rem;
}

.table-header-modal {
    max-width: 30vw;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            text-transform: uppercase;

            input {
                margin-right: 1rem;
            }
        }
    }
}

.wr-coll-detail {
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 0rem .5rem 0 0;
    font-family: $sans;

    &.with-list {
        .wr-coll-detail-table .ReactVirtualized__Table__headerColumn > div {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.5pt;
        }
    }

    .wr-sidebar {
        padding: 0;

        @media (max-width: 500px) {
            display: none;
        }

        .wr-sidebar-stretch {
            padding: 0;
            overflow: visible;
        }

        .resizable-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-height: 0;
        }
    }
}

@media(max-width: 768px){
    .table-header-modal {
        max-width: 90vw;
    }
}
