@import 'src/vars';

.bookmark-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1.5rem;
    //user-select: none;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        button {
            padding: 0;
        }

        svg {
            vertical-align: bottom;
        }
    }

    .list-header {
        border: solid .1rem $gray500;
        border-width: 0 0 .1rem 0;
        padding: 0 1rem;
        max-height: 30rem;
        overflow: auto;

        h4 {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.2rem;
            margin: 1rem 0 0.5rem 0;

            & > svg {
                width: 1.5rem;
                height: 1.5rem;
                flex-shrink: 0;
                margin-right: 1.5rem;
                align-self: center;
                g {
                  fill: $gray600;
                }
            }
        }

        .wr-editor {
            width: 100%;
        }
    }

    .bookmarks {
        position: relative;
        flex-grow: 1;
        // sidebar handle buffer
        margin-right: .4rem;

        .row-index-container {
            align-self: flex-start;
            margin-top: .6rem;
        }
    }

    .ReactVirtualized__Table__row {
        transition: background $tableRowFade ease-in-out,
                    color $tableRowFade ease-in-out;
        color: $bookmarkListDefault;
        cursor: pointer;
        padding-left: .75rem;
        position: relative;

        &:before {
            transition: background-color $quickShift ease-in-out;
            position: absolute;
            left: 0;
            content: '';
            width: .75rem;
            height: 100%;
        }

        &.odd {
            background-color: $table-zebra;
        }

        &:focus {
            outline-width: 0;
        }

        .bookmark-title {
            h2 {
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0;
                line-height: 1.3rem;
            }

            span {
                font-size: 1rem;
            }
        }

        &.last-selected {
            background-color: $blue-deselect;
            color: #FFF;
        }

        &.selected {
            background-color: $blue;
            color: #FFF;
        }

        &:hover {
            &:not(.selected){
                &:before {
                    background: $tr-selected;
                }
            }

            &.selected {
                &:before {
                    background: $tr-highlight-selected;
                }
            }
        }
    }

}
