footer {
    width: 100%;
    height: 98px;
    padding-bottom: 24px;
}

.footer-label {
    position: relative;
    font-size: 9px;

    & > div {
        margin-left: 2px;
    }

    & > a {
        display: block;
    }
}
.rhizome-logo {
    padding-top: 5px;
}
.project-info {

    a {
        margin-right: 10px;

        &:hover {
            svg path {
                fill: #337ab7;
            }

            svg circle {
                stroke: #337ab7;
            }
        }

        &.divider:before {
            content:'';
            display: inline-block;
            width: 1px;
            height: 15px;
            margin-right: 10px;
            background: #000;
            vertical-align: sub;
        }

        svg {
            width: 16px;
            height: 16px;
            vertical-align: text-top;
        }
    }
}

@media (max-width: 767px) {
    .project-info {
        text-align: center;
    }
    .footer-label {
        padding: 10px 0;
        text-align: center;
    }
}

@media (min-width: 767px) {
    footer .container .row {
        display: flex;
        align-items: flex-end;
    }
}