
#browserMsg, #message {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.cbrowser .navbar-default {
    background: #FFF;
    box-shadow: none;
}
.cbrowser .navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#noVNC_screen {
    height: 100%;

    .canvas {
        height: 100%;
    }

    .canvas > div {
        justify-content: center;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            position: relative;
            overflow: hidden !important;
        }
    }

    canvas {
        position: absolute;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            transform: translate(-50%, 0);
        }
    }
}

#browser-countdown-label {
    float: right;
    display: none;
}

#browser-countdown {
    font-weight: bold;
}

#browser {
    width: 100%;
}

// #noVNC_screen > .canvas {
//     height: 100%;
//     display: flex;
//     justify-content: center;
// }

.rb-countdown, .rb-message {
    position: absolute;
    max-width: 40rem;
    top: 1.5rem;
    right: 1.5rem;
    box-shadow: .2rem .2rem .8rem rgba(0,0,0,0.4);
    z-index: 1000;
}

#noVNC_mouse_capture_elem {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}