{% if is_out_of_space() %}
    {% set disabled_class = "disabled" %}
{% endif %}

{% if is_anon() %}
	<form class="start-recording-homepage">
	    <div class="input-group col-md-8 col-md-offset-2">
	        <input name="url" type="text" class="form-control {{ disabled_class }}" placeholder="Url to record" required>
	        <label for="url" class="control-label sr-only">Url</label>
	        <span class="input-group-btn {{ disabled_class }}">
	            <button type="submit" class="btn btn-default">Record</button>
	        </span>
	    </div>
	</form>
{% else %}
	<form class="start-recording-homepage">

		<div class="input-group col-md-8 col-md-offset-2">
			<div class="input-group-btn">
			  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-collection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="dropdown-toggle-label">Collection </span><span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
				{% for collection in collections %}
					<li>
						<a href="#" class="collection-select" data-collection-id="{{ collection.id }}">{{ collection.title }}</a>
					</li>
				{% endfor %}
			    <li role="separator" class="divider"></li>
			    <li>
	                <a href="#" data-toggle="modal" data-target="#create-modal" role="button">
						<span class="glyphicon glyphicon-plus right-buffer-sm"></span>New Collection
	                </a>
			    </li>
			  </ul>
			</div>

			<label for="title" class="sr-only">Recording title:</label>
		    <input name="title" type="text" class="form-control {{ disabled_class }}" placeholder="Recording title" value="{{ rec_title }}" required>
		</div>

		<div class="input-group col-md-8 col-md-offset-2 top-buffer">
		    <input name="url" type="text" class="form-control {{ disabled_class }}" placeholder="Url to record" required>
		    <label for="url" class="control-label sr-only">Url</label>
		    <span class="input-group-btn {{ disabled_class }}">
		        <button type="submit" class="btn btn-default">Record</button>
		    </span>
		</div>
	</form>

	{% include '/create_collection_modal.html' %}
{% endif %}