<div class="col-md-10">
	<div class="row left-buffer">

		<div class="pull-left">
			<span class="glyphicon glyphicon-lg glyphicon-record glyphicon-recoding-status top-buffer-sm Blink" aria-hidden="true"></span>
		</div>

		<div class="pull-left left-buffer">
			<span class="recorder-status strong">Recording</span>

			{% include 'breadcrumbs.html' %}
		</div>

		<div class="pull-right top-buffer-md">
			<span class="page-count"></span>

			<span class="size-counter size-counter-active hidden">
				<span class="current-size"></span>
			</span>
		</div>
	</div>

	<form class="recording-in-progress row left-buffer">
		<div class="input-group has-feedback ">
			<span class="page-index input-group-addon"></span>

			<span class="page-list-toggle glyphicon glyphicon-triangle-bottom form-control-feedback form-control-left-addon-feedback" aria-label="List pages"></span>

			<input type="text" class="pages-combobox form-control form-control-left-addon-input" name="url" value="{{ url }}" autofocus required>

			<span class="input-group-addon">
				<button type="submit" class="">
					Autoscroll
				</button>

				<button type="submit" class="">
					Snapshot
				</button>
			</span>
		</div>
	</form>
</div>

<div class="recording-actions text-center col-md-2">

	<div class="row">
		<form class="stop-recording top-buffer">
			<button type="submit" class="btn btn-default">
				Finish
			</button>
		</form>

		<a href="#" data-toggle="modal" data-target="#report-modal" class="doesnt-look-right">Doesn't look right?</a>
	</div>
</div>
