<form action="/recordings/{{ info['rec_id']}}/pages" method="post" class="navbar-left container-fluid form-horizontal col-xs-12 recording-in-progress" role="">
	<div class="form-group form-group-sm col-xs-12 recorder-form-group">
		<div class="url col-xs-11">
			<input name="url" type="url" required value="{{ url }}" class="form-control input-sm" autofocus>
		</div>
		<div class="col-xs-1">
			<button type="submit" class="pull-right btn btn-default">Go</button>
		</div>
	</div>
	<div class="form-group form-group-sm col-xs-12 recorder-form-group container-fluid">
		<div class="title">
			<label for="title" class="control-label col-xs-1">Recording:</label>
			<div class="col-xs-5">
				<input name="title" type="text" value="{{ info['rec_title'] }}" required class="form-control input-sm" readonly>
			</div>
		</div>
		<div class="collection">
			<label for="collection" class="control-label col-xs-1">Collection:</label>
			<div class="col-xs-5">
				<input name="collection" type="text" value="{{ info['coll_title'] }}" required class="form-control input-sm" readonly>
			</div>
		</div>
		<div class="size-counter col-xs-12">
			size: <span class="current_size">0</span> / <span class="total_size">500</span> MB
		</div>
	</div>	
</form>

<div class="navbar-right">
	<form class="stop-recording">
		<button type="submit">Stop</button>
	</form>

	<a href="#" data-toggle="modal" data-target="#report-modal">Doesn't look right?</a>
</div>

