<div class="container-fluid navbar-left col-xs-10 col-xs-offset-1">
	<form class="form-horizontal start-recording">
		<div class="form-group-sm new-recording-form-group col-xs-12">
			<div class="url col-xs-12">
				<input name="url" type="url" required class="form-control input-sm" placeholder="Url to record" autofocus>
			</div>
		</div>
		<div class="form-group-sm col-xs-12 new-recording-form-group">
			<div class="title">
				<label for="title" class="control-label col-xs-1">Recording:</label>
				<div class="col-xs-5">
					<input name="title" type="text" required value="My First Recording" class="form-control input-sm">
				</div>
			</div>
			<div class="collection">
				<label for="collection" class="control-label col-xs-1">Collection:</label>
				<div class="col-xs-5">
					<input name="collection" type="text" required value="anonymous" class="form-control input-sm" readonly>
				</div>
			</div>
		</div>

		<button type="submit" class="hidden"></button>

	</form>
</div>

<div class="recording-actions navbar-right col-xs-1">
	<form class='start-recording'>
		<button type="submit" class="btn btn-default">Record</button>
	</form>
</div>
