<div class="col-md-10">
	<div class="row left-buffer">

		<div class="pull-left">
			<span class="glyphicon glyphicon-lg glyphicon-modal-window glyphicon-recording-status top-buffer-sm" aria-hidden="true"></span>
		</div>

		<div class="pull-left left-buffer">
			<span class="recorder-status strong">New recording</span>
		</div>

		<div class="pull-left top-buffer-sm left-buffer">
			<label for="rec-title" class="sr-only">Recording title</label>
		    <input name="rec-title" type="text" class="form-control input-sm title-inline" placeholder="Recording title" value="{{ rec_title }}" required>
		</div>
	</div>

	<form class="start-recording row left-buffer top-buffer-sm">
		<div class="form-group-recorder-url">
			<label for="url" class="sr-only">Url</label>
			<input name="url" type="text" class="form-control input-sm" placeholder="Url to record" autofocus required>
		</div>
	</form>

</div>

<div class="recording-actions text-center col-md-2">
	<div class="row">
		<form class="start-recording top-buffer">
			<button type="submit" class="btn btn-default">
				Start
			</button>
		</form>

		<div class="start-recording-spacer"></div>
	</div>
</div>
