<div class="new-recording container-fluid navbar-left col-xs-10">
	<form class="form-horizontal start-recording">
		<div class="form-group new-recording-form-group col-xs-12">
			<label for="url" class="control-label col-xs-1">Url:</label>
			<div class="col-xs-11">
				<input name="url" type="text" class="form-control input-sm" placeholder="Url to record" autofocus required>
			</div>
		</div>
		<div class="form-group col-xs-12 new-recording-form-group">
			<div class="title">
				<label for="title" class="control-label col-xs-1">Title:</label>
				<div class="col-xs-5">
				    <input name="title" type="text" class="form-control input-sm" placeholder="Recording title" value="{{ rec_title | default('My First Recording')  }}" required>
				</div>
			</div>
			<div class="collection">
				<label for="collection" class="control-label col-xs-1">Collection:</label>
				<div class="col-xs-5">
				    <input name="collection" type="text" value="{{ coll_title | default('anonymous') }}" class="form-control input-sm" readonly required>
				</div>
                                {% if curr_user != '@anon' and is_owner() and not coll %}
                                {% endif %}
			</div>
		</div>

		<button type="submit" class="hidden"></button>

	</form>
</div>

<div class="recording-actions text-center col-xs-2">
	<div class="start-recording-spacer"></div>
	<form class="start-recording">
		<button type="submit" class="btn btn-default">Record</button>
	</form>
</div>
