<div class="col-md-10">
	<div class="row left-buffer">
		<div class="pull-left">
			<span class="glyphicon glyphicon-lg glyphicon-import glyphicon-recoding-status top-buffer-sm" aria-hidden="true"></span>
		</div>

		<div class="pull-left left-buffer">
			<span class="recorder-status strong">Patching page in</span>

			{% include 'breadcrumbs.html' %}
		</div>

		<div class="pull-right top-buffer-md">
			<span class="page-count"></span>

			<span class="size-counter size-counter-active hidden">
				<span class="current-size"></span>
			</span>
		</div>

	</div>

	<form class="row left-buffer">
		<div class="input-group">
			<span class="input-group-addon page-index"></span>

			<input type="text" class="form-control pages-combobox" name="url" value="{{ url }}" autofocus required disabled>

			<span class="input-group-addon">
				<button type="submit" class="">
					Autoscroll
				</button>
			</span>
		</div>
	</form>
</div>

<div class="recording-actions text-center col-md-2">

	<div class="row">
		<form class="finish-patching top-buffer">
			<button type="submit" class="btn btn-default">
				Finish
			</button>
		</form>

		<a href="#" data-toggle="modal" data-target="#report-modal" class="doesnt-look-right">Doesn't look right?</a>
	</div>
</div>