{% if curr_mode and curr_mode != 'live' %}
<div class="col-md-11">
    <form class="{{ 'content-form' if curr_mode != 'new' else 'start-recording' }} form-group-recorder-url">
        <div class="banner-status">
            {% if curr_mode != "new" %}
            <div class="pull-right">
                <a href="#" data-toggle="modal" style="margin-right: 25px" data-target="#report-modal" class="left-buffer doesnt-look-right">Doesn't look right?</a>
            </div>
            {% endif %}

            {% if curr_mode == "record" %}
            <span class="glyphicon glyphicon-lg glyphicon-dot-sm glyphicon-recording-status Blink" aria-hidden="true"></span>
            <span class="recorder-status Blink">Recording</span>
            {% elif curr_mode == "replay" or curr_mode == "replay-coll" %}
            <span class="glyphicon glyphicon-lg glyphicon-play-circle glyphicon-recording-status" aria-hidden="true"></span>
            <span class="recorder-status">Replaying</span>
            {% elif curr_mode == "patch" %}
            <span class="glyphicon glyphicon-lg glyphicon-import glyphicon-recording-status Blink" aria-hidden="true"></span>
            <span class="recorder-status Blink">Record Missing</span>
            {% elif curr_mode == "new" %}
            <span class="glyphicon glyphicon-lg glyphicon-modal-window glyphicon-recording-status top-buffer-sm" aria-hidden="true"></span>
            <span class="recorder-status">Create New Recording</span>
            {% endif %}

            {% if curr_mode == 'new' %}
            <label for="rec-title" class="sr-only">Recording title</label>
            <input name="rec-title" type="text" class="left-buffer form-control input-sm title-inline" placeholder="Recording title" value="{{ rec_title }}" required>
            {% else %}
            <span class="size-counter size-counter-active">
                <span class="left-buffer badge current-size" data-size="{{ info.size }}"></span>
            </span>
            <span class="left-buffer bookmark-count">0 bookmarks</span>
            <button id="autoscroll" type="button"
                    class="left-buffer btn btn-default btn-xs" data-toggle="button"
                    aria-pressed="false" autocomplete="off">Autoscroll</button>

            {% if can_write() %}
            <button id="snapshot" type="button"
                    class="left-buffer btn btn-default btn-xs"
                    autocomplete="off">
                <span class="glyphicon glyphicon-camera glyphicon-button"></span>Snapshot</button>

            {% if (curr_mode == "replay" or curr_mode == "replay-coll") %}
            <button type="button" class="left-buffer btn btn-default btn-xs patch-page">
                Patch
            </button>
            {% endif %}
            {% endif %}

            {% endif %}


            {% if browser %}
            <span id="browser-countdown-label">Browser Time Left: <span id="browser-countdown"></span></span>
            {% endif %}

            {#
            <!-- Disabled for now -->
            <button id="load-all" type="button"
                    class="left-buffer btn btn-default btn-xs">
                <span class="glyphicon glyphicon-th glyphicon-button"></span>Load All</button>
            #}

        </div>

        <div class="input-group containerized">
            {% include '/containerized_browser_select.html' %}
            <input type="text" class="url-input-recorder form-control" name="url" data-value-encoded="{{ url }}" data-target-decoded="value" value="" {% if not browser %}autofocus{% endif %} required>
            <input class="hidden" type="submit">
            <span id="replay-date" class="replay-date"></span>
            <div class="input-group-addon"></div>
        </div>
    </form>

</div>

<div class="recording-actions text-center col-md-1">
    <form class="{{ 'content-action' if curr_mode != 'new' else 'start-recording' }} top-buffer">
        <button type="submit" class="btn btn-default">
            {{ 'Finish' if curr_mode != 'new' else 'Start' }}
        </button>
    </form>
</div>

{% if can_write() %}
{% include 'snapshot_modal.html' %}
{% endif %}

{% endif %}


