<div class="col-md-10">
	<div class="row left-buffer">
		<div class="pull-left">
			<span class="glyphicon glyphicon-lg glyphicon-play-circle glyphicon-recording-status top-buffer-sm" aria-hidden="true"></span>
		</div>

		<div class="pull-left left-buffer">
			<span class="recorder-status strong">Replaying</span>

			{% include 'breadcrumbs.html' %}
		</div>

		<div class="pull-right top-buffer-md">
			<span class="bookmark-count"></span>

			<span class="current-size" data-size="{{ info.size }}"></span>
		</div>

	</div>

	<form class="replay-recording row left-buffer form-group-recorder-url">
		<div class="input-group">

			<input type="text" class="url-input-recorder form-control" name="url" value="{{ url }}" autofocus required>

			<input class="hidden" type="submit">

			<div class="input-group-addon">
                            <button type="button" class="btn btn-default btn-xs patch-page">
                                    Patch
                            </button>

                            <span data-toggle="buttons">
                            <label class="btn btn-default btn-xs">
                                <span id="automate-l">Autoscroll</span>
                                <input id="automate" type="checkbox" autocomplete="off">
                            </label>
                            </span>
			</div>
		</div>
	</form>
</div>

<div class="recording-actions text-center col-md-2">

	<div class="row">
			<form class="add-to-recording top-buffer">
				<button type="submit" class="btn btn-default">
					Add to Recording
				</button>
			</form>

		<a href="#" data-toggle="modal" data-target="#report-modal" class="doesnt-look-right">Doesn't look right?</a>
	</div>
</div>
