@import 'src/vars';

#confirm-remove {
    cursor: pointer;
}

.rm-error {
    color: $warning;
}

.wr-remove-widget {
    button {
        transition: fill $midShift ease-in-out;
        margin: 0 .5rem;

        &.remove-widget-icon {
            transition: fill $slowShift ease-in-out;

            &:hover {
                fill: red;
            }
        }
    }
}
