@import 'src/vars';

.wr-remove-widget {
    button {
        transition: fill $midShift ease-in-out;

        &.remove-widget-icon {
            transition: fill $slowShift ease-in-out;

            &:hover {
                fill: red;
            }
        }

        margin: 0 .5rem;
    }
}