@import 'src/vars';

.standalone-dropdown-label{
    margin:0.5em 0;
    padding-right:0;
}

.rb-dropdown, .patch-selector  { //.extract-selector

    .rb-dropdown .dropdown-toggle {
        background-image: none;
        background-color: #F8F8F8;
    }

    .rb-dropdown .open > .dropdown-toggle, .rb-dropdown .dropdown-toggle:active,
    .rb-dropdown .dropdown-toggle.active, .rb-dropdown .dropdown-toggle:hover {
        background-color: #F7F7F7;
    }

    .dropdown-header {
        padding: rem(.5rem) 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    h6 {
        margin: 0;
        font-size: rem(1.6rem);
        color: #353535;
        font-weight: bold;
    }

    .row {
        padding: rem(1rem) 0;
        margin: 0 rem(-1.5rem) 0 rem(-1.5rem);
        display: flex;
        width: auto;

        &:first-child {
            padding: rem(.5rem) 0;
        }
    }

    .btn img {
        margin-right: rem(.5rem);
    }
}

.record-action button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: rem(2.7rem);
    border-bottom-right-radius: rem(2.7rem);
    border-left-width: 0;
}

.start-recording-homepage {
    button {
        float: right;
    }

    .actions {
        display: flex;
        justify-content: flex-end;

        button + button {
            margin-right: rem(.5rem);
        }
    }

    button#prepare {
        margin-top: rem(1.5rem);
        padding: rem(1rem) rem(2rem);
        margin-right: 8px;
    }

    .Collapsible__trigger {
        cursor: pointer;
    }

    h4 {
        font-size: rem(1.4rem);
        font-weight: 600;
    }

    .input-group {
        padding: 0 rem(1.5rem);
    }

    .wr-editor {
        width: 100%;
        max-width: inherit;
        margin-bottom: rem(1.5rem);
    }

    .anon-button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rb-dropdown {
       .dropdown-menu {
           width: 100%;

           .container {
               width: 100%;
           }
       }
    }

    textarea {
        width: 100%;
        padding: rem(.5rem);
    }
}

.main-bar .container {
    width: 65vw;
}

.session-settings {
    display: flex;

    & > div:not(.divider) {
        width: 100%;
        flex-grow: 1;
    }

    .divider {
        margin: 0 rem(2rem);
        border: solid 1px #CCC;
    }

    .cookie-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button + button {
            margin-top: rem(.5rem);
        }
    }
}
