@import 'src/vars';

.webview-wrapper {
    position: relative;
    flex-grow: 1;

    #replay {
        width: 100%;
        height: 100%;
    }

    &.loading:after {
        content: 'loading...';
        position: absolute;
        left: 0;
        bottom: 0;
        background: $brightGreen;
        padding: .2rem .5rem;
    }
}