@import 'src/vars';

.conifer-announce {
    display: flex;
    flex-direction: column;
    background: rgba($pine-sap, 0.25);

    .banner {
        background: linear-gradient(90deg, #0000ee, $pine 50%);
        background-image: url('../../../shared/images/Donation-Bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: rem(7.5rem);

        .wrapper {
            width: calc(100% - 3rem);
            height: 100%;
            margin-left: rem(1.5rem);
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                margin: 0 auto;

                text-align: center;
                color: $white;
                text-shadow: 0 0 4px rgba($gray700, 0.5);
            }

            .dismiss {
                border: none;
                background: transparent;

                path {
                    fill: $white;
                    transition: fill $quickShift ease-in-out;
                }

                &:hover path {
                    fill: $redwood;
                }
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: rem(1.5rem);

        p {
            width: 70%;
        }

        .signup-link {
            border-left: solid 1px;
            margin-left: rem(3rem);
            padding-left: rem(3rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
