li.coll-nav {
    font-size: 18px;
}

.navbar-brand {
    padding-right: 8px;
}

li.coll-nav a {
    padding-left: 8px;
    padding-right: 8px;
}

li.coll-nav.active2 a {
    font-weight: bold;
}

li.coll-nav a:before {
    margin-top: 12px;
    margin-right: 16px;
    font-size: 18px;
    color: #ccc;
    font-weight: bold;
    content: "/"
}

p.status-badge {
    font-size: 14px;
    color: white !important;
}

.replay-page {
    color: white !important;
}

.navbar {
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
}

.navbar .userinfo {
    font-size: 20px;
    margin-top: 9px;
    margin-bottom: 0px;
    color: black;
}

.navbar .userinfo a {
    color: black;
}

.navbar .nav-search {
    margin-top: 12px;
    width: 100%;
    max-width: 33%;
    margin-right: 12px;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

#login {
    display: inline;
}

#register {
    display: inline;
    color: white;
}


