<p>Hello {{name}}</p>

<p>Congrats, you are receiving this email because you are now invited to register for an account at <b>beta.webrecorder.io</b></p>

<p>To start the registration, please goto:</p>
<p><b><a href="{{host}}/_register?invite={{invite}}">Register</a></b></p>

<p>(If the above link is not working, point your browser to the following url: {{host}}/_register?invite={{invite}})
</p>

<p>You can now create your very own web archive!</p>

<p>To start off, you can use upto <b>50MB</b> and create upto <b>10 Collections</b>
, public or private. We hope to be able to expand these options in the future.</p>

<p>As this is still an early beta, we would really appreciate any feedback you have from using the service. We are especially interested in any issues / bugs that you may run into so that we can make the service better. The UI is definitely still a work in progress!</p>

<p>To make it easier to report issues, there is a <i>Doesn't Look Right</i> button which you can use to report anything that doesn't look right!</p>

<p>All the content you archive is available for you download via the <i>Storage</i> tab in your collections. As this is a beta, we also encourage you
to make local copies of anything important that you have archived, because Lots of Copies Keep Stuff Safe!</p>

<p>Please contact us at <a href="mailto:support@webrecorder.io">support@webrecorder.io</a> if you have any questions or concerns, or would like to provide any feedback for the project.</p>

<h4>Ilya Kreymer</h4>
<h4>Dragan Espenschied</h4>
<h4>--webrecorder.io project</h4>

