<p>Hello {{name}}</p>

<p>Congrats, you are receiving this email because you are now invited to register for an account at <b>beta.webrecorder.io</b></p>

<p>To start the registration, please goto:</p>
<p><b><a href="{{host}}/_register?invite={{invite}}">Register</a></b></p>

<p>(If the above link is not working, point your browser to the following url: {{host}}/_register?invite={{invite}})
</p>

<p>As this is still a beta, we would really appreciate any feedback you have from using the service.</p>

<p>We are especially interested in any issues / bugs that you may run into so that we can make the service better.</p>

<p>To make it easier to report issues, there is a <b>Doesn't look right</b> no the toolbar to report any recording or playback issues. Please use this button to report anything that doesn't look right.</p>

<h4>--webrecorder.io project</h4>

