<p>Hello {{username}}</p>

<p>You are receiving this email because you registered for an account at <b>webrecorder.io</b>
on {{creation_date}}</p>

<p>Since your username is <b>{{username}}</b>, your collections will be located at
<a href="https://webrecorder.io/{{username}}"><b>/{{username}}</a> once you complete this registration.</p>

<p>To complete this registration, please click:</p>
<p><b><a href="http://localhost:8088/_valreg/{{registration_code}}?username={{username}}">Confirm</a></b></p>

<p>If the above link is not working, point your browser to the following url: http://localhost:8088/_valreg/{{registration_code}}?username={{username}}
</p>

<p>Happy Archiving!</p>

<h4>--webrecorder.io project</h4>

