<!DOCTYPE html>
<html>
<body>
<h2>WarcsForAll Archive</h2>

{% if user %}
Currently Logged In As: {{ user }}&nbsp;<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
{% endif %}

This archive contains the following collections:

<ul>
{% for route in routes %}
  {{ route.handler }}
  {% if route | is_wb_handler %}
    <li>
    <a href="{{ '/' + route.path }}">{{ '/' + route.path }}</a>
    {% if route.user_metadata.title is defined %}
    ({{ route.user_metadata.title }})
    {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
</body>
</html>
