<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_parent" class="navbar-brand" href="/">{{ metadata.product | default('webrecorder.io')}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user %}
                <li class="coll-nav {{ 'active2' if not state and not coll else '' }}">
                    <a target="_parent" href="/{{ user }}" title="Return to {{user}} Archive">{{ user }}</a>
                </li>
                {% endif %}                

                {% if coll %}
                <li class="coll-nav {{ 'active2' if not state else '' }}">
                    <a target="_parent" href="/{{ path }}" title="Return to {{coll}} Collection">{{ coll }}</a>
                </li>
                {% endif %}

                {% if state == 'rec' %}
                <p class="status-badge navbar-text label label-primary">Recording</p>
                
                {% elif state == 'play' %}
                <p id="status-text" class="status-badge navbar-text label label-success">Playback</p>
                {% endif %}

                {# remove for now
                <li style="margin-left: 40px" class="navbar-btn">
                    <span class="btn-group navbar-btn" data-toggle="buttons">
                        <label class="btn btn-xs btn-default"><span id="automate-l" >Autoscroll</span>
                            <input id="automate" type="checkbox" autocomplete="off"/>
                        </label>
                    </span>
                </li>
                #}                
            </ul>
            {% if curr_user %}
            <p class="navbar-text navbar-right">(<a target="_parent" href="/_logout" class="navbar-link">Logout</a>)</p>
            <p class="navbar-text navbar-right userinfo">
                <a target="_parent" href="/{{ curr_user }}"><span class="glyphicon glyphicon-user"></span></a>
                <a target="_parent" href="/{{ curr_user }}"><b>{{ curr_user }}</b></a>
            </p>
            {% else %}
            <p class="navbar-text navbar-right">
                <a id="login" target="_parent" href="/_login" class="btn btn-default btn-sm navbar-link">Login</a>
            </p>
            {% endif %}
            
            {% if coll %}
            <form class="navbar-right nav-search" onsubmit="return false">
                <div class="input-group input-group-sm">
                    
                    <input id="theurl" type="text" placeholder="Enter url here to record or play back" class="input-small form-control">
                    
                    <span class="input-group-btn">
                        {% if can_write() %}
                        <button class="btn btn-primary btn-xs" id="rec" data-path-prefix="/{{path}}/record/" type="submit">
                            <span class="glyphicon glyphicon-dot"></span><span></span>
                        </button>
                        {% endif %}
                        <button class="btn btn-success btn-xs" id="play" data-path-prefix="/{{path}}/" type="submit">
                            <span class="glyphicon glyphicon-play"></span><span></span>
                        </button>
                    </span>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</nav>


