<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_parent" class="navbar-brand" title="Return to {{ metadata.product | default('webrecorder.io')}}" href="/">
                {% if user %}
                <span class="glyphicon glyphicon-home">
                    {% else %}
                    {{ metadata.product | default('webrecorder.io')}}
                    {% endif %}
                </span></a>
            <!--<a target="_parent" class="navbar-brand" href="/"><img style="width: 32px; height: 32px" src="/static/__shared/logo.png"/></a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user %}
                <li class="coll-nav {{ 'active2' if not state and not coll else '' }}">
                    <a target="_parent" href="/{{ user }}" title="Return to {{user}} Archive">{{ user }}</a>
                </li>
                {% endif %}                

                {% if coll %}
                <li class="coll-nav {{ 'active2' if not state else '' }}">
                    <a target="_parent" href="/{{ path }}" title="Return to {{coll}} Collection">{{ coll }}</a>
                </li>
                {% endif %}
                

                {% if state %}
                <p class="navbar-text">{#
                    <span id="status-rec" class="glyphicon glyphicon-dot-sm pulse" style="display: none; color: red"></span>
                    #}
                    {% if can_write() %}
                    <span id="status-text" class="badge" style="margin-right: 4px"></span>
                    {% endif %}
                </p>
                
                <p class="navbar-text">
                    <a id="finish" target="_parent" href="/{{path}}#records" title="Return to Archive" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-share-alt" style="margin-right: 4px"></span>Return to Collection</a>
                </p>

                {#
                <li style="margin-left: 40px" class="navbar-btn">
                    <button id="links-btn" class="btn btn-xs btn-default" data-toggle="modal" data-target="#links-modal">
                        <span class="glyphicon glyphicon-list"></span> <span>Links...</span>
                    </button>
                </li>
                #}

                <li style="margin-left: 4px" class="navbar-btn">
                    <div style="display: inline" class="btn-group navbar-btn" data-toggle="buttons">
                        <label class="btn btn-xs btn-default"><span id="automate-l" >Auto Scroll</span>
                            <input id="automate" type="checkbox" autocomplete="off"/>
                        </label>
                    </div>
                    <p class="navbar-text" id="auto-info"></p>
                </li>

                
                <li style="margin-left: 4px" class="navbar-btn">
                    <button id="snapshot" class="btn btn-xs btn-default" style="display: none" title="Static Snapshot">
                        <span class="glyphicon glyphicon-camera"></span>
                    </button>
                    <span id="snapshot-label" style="display: none; font-size: 12px" class="label label-success">Snapshot</span>
                </li>
                

                {#
                <li style="margin-left: 4px" class="navbar-btn">
                    <button id="annotate" class="btn btn-xs btn-default">
                        <span>Annotate</span>
                    </button>
                </li>
                #}

                {#
                <li class="btn-group btn-group-xs navbar-btn">          
                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench"></span><span>Tools</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a id="links-btn" href="#" data-toggle="modal" data-target="#links-modal">Links...</a></li>
                        <li><a id="annotate" href="#">Annotate</a></li>
                    </ul>
                </li>
                #}


                <li style="margin-left: 16px" class="navbar-btn">
                    <button id="notright" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#report-modal">
                        <span>Doesn't look right?</span>
                    </button>
                </li>

                {% endif %}

            </ul>
            {% if curr_user %}
            <p class="navbar-text navbar-right userset">
                <a target="_parent" title="Logout" href="/_logout" class="navbar-link">
                    <span class="glyphicon glyphicon-log-out" title="Logout"></span></a></p>
            <p class="navbar-text navbar-right userset">
                <a target="_parent" href="/{{ curr_user }}/_settings"><span title="Settings" class="glyphicon glyphicon-cog"></span></a>
            </p>
            <p class="navbar-text navbar-right userinfo">
                <a target="_parent" href="/{{ curr_user }}"><span class="glyphicon glyphicon-user"></span></a>
                <a target="_parent" href="/{{ curr_user }}"><b>{{ curr_user }}</b></a>
            </p>
            {% else %}
            <p class="navbar-text navbar-right">
                <a id="register" target="_parent" href="/_register" class="btn btn-info btn-sm navbar-link">Register</a>
            </p>
            <p class="navbar-text navbar-right">
                <a id="login" target="_parent" href="/_login" class="btn btn-default btn-sm navbar-link">Login</a>
            </p>
            {% endif %}

        </div>
        {% if state %} 
        <form class="navbar-left nav-url-form " data-path-prefix="/{{path + '/' + state if state != 'replay' else path}}/"> 
            <div class="input-group input-group-sm" style="width: 100%">
                <div class="input-group-btn">
                    <button id="curr-state" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="display-badge">Recording</span><span class="caret"></span></button>
                    <ul class="state-drop dropdown-menu" role="menu">
                        {% if can_write() %}
                        <li><a id="record" class="label text-left label-primary dropdown-badge" href="#">New Recording</a></li>
                        <li><a id="patch" class="label label-info dropdown-badge" href="#">Patching</a></li>
                        {% endif %}
                        <li><a id="live" class="label label-default dropdown-badge" href="#">Live Site</a></li>
                        <li><a id="replay" class="label label-success dropdown-badge" href="#">Replay</a></li>
                    </ul>
                </div>
                <span class="input-group-addon hidden" id="capture-text"></span>
                <input id="theurl" type="text" style="width: 100%" placeholder="Enter url here to record or play back" class="input-small input-sm form-control"/>
            </div>
        </form>
        {% endif %}
    </div>
</nav>


