<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_parent" class="navbar-brand" href="/">{{ metadata.product | default('webrecorder.io')}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user %}
                <li class="coll-nav {{ 'active2' if not state and not coll else '' }}">
                    <a target="_parent" href="/{{ user }}" title="Return to {{user}} Archive">{{ user }}</a>
                </li>
                {% endif %}                

                {% if coll %}
                <li class="coll-nav {{ 'active2' if not state else '' }}">
                    <a target="_parent" href="/{{ path }}" title="Return to {{coll}} Collection">{{ coll }}</a>
                </li>
                {% endif %}

                {% if state == 'rec' %}
                <p class="status-badge navbar-text label label-primary">
                    <span class="pulse glyphicon glyphicon-dot-sm" style="margin-right: 4px"></span>
                    Recording
                </p>

                <p class="navbar-text">
                    <span id="curr_size_info" class="badge" style="margin-right: 4px"></span>
                </p>


                <p class="navbar-text">
                    <a id="finish" target="_parent" href="/{{path}}#records" title="Browse All Records" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-tasks" style="margin-right: 4px"></span>Browse All</a>
                </p>


                {% elif state == 'play' %}
                <p id="status-text" class="status-badge navbar-text label label-success">Playback</p>
                {% endif %}


                {% if state %}
                {#
                <li style="margin-left: 40px" class="navbar-btn">
                    <button id="links-btn" class="btn btn-xs btn-default" data-toggle="modal" data-target="#links-modal">
                        <span class="glyphicon glyphicon-list"></span> <span>Links...</span>
                    </button>
                </li>
                #}

                <li style="margin-left: 4px" class="navbar-btn">
                    <div style="display: inline" class="btn-group navbar-btn" data-toggle="buttons">
                        <label class="btn btn-xs btn-default"><span id="automate-l" >Automate</span>
                            <input id="automate" type="checkbox" autocomplete="off"/>
                        </label>
                    </div>
                    <p class="navbar-text" id="auto-info"></p>
                </li>

                {#
                <li style="margin-left: 4px" class="navbar-btn">
                    <button id="annotate" class="btn btn-xs btn-default">
                        <span>Annotate</span>
                    </button>
                </li>
                #}

                <li class="btn-group btn-group-xs navbar-btn">          
                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench"></span><span>Tools</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a id="links-btn" href="#" data-toggle="modal" data-target="#links-modal">Links...</a></li>
                        <li><a id="annotate" href="#">Annotate</a></li>
                    </ul>
                </li>

                {% endif %}

            </ul>
            {% if curr_user %}
            <p class="navbar-text navbar-right">(<a target="_parent" href="/_logout" class="navbar-link">Logout</a>)</p>
            <p class="navbar-text navbar-right userinfo">
                <a target="_parent" href="/{{ curr_user }}"><span class="glyphicon glyphicon-user"></span></a>
                <a target="_parent" href="/{{ curr_user }}"><b>{{ curr_user }}</b></a>
            </p>
            {% else %}
            <p class="navbar-text navbar-right">
                <a id="register" target="_parent" href="/_register" class="btn btn-info btn-sm navbar-link">Register</a>
            </p>
            <p class="navbar-text navbar-right">
                <a id="login" target="_parent" href="/_login" class="btn btn-default btn-sm navbar-link">Login</a>
            </p>
            {% endif %}

        </div>
        {% if state %} 
        <form class="navbar-left nav-url-form form-inline" data-path-prefix="/{{path + '/record' if state == 'rec' else path}}/"> 
            <input id="theurl" type="text" style="width: 100%" placeholder="Enter url here to record or play back" class="input-small input-sm form-control"/>
        </form>
        {% endif %}
    </div>
</nav>


