{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

<!--<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css"/>-->
<link rel="stylesheet" href="/static/__shared/external/dataTables.bootstrap.css"/>

<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
<script type="text/javascript" language="javascript" src="/static/__shared/external/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/__shared/external/dataTables.bootstrap.js"></script>

<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<script src="/static/__shared/external/jquery-ui.min.js"></script>

<script src="/static/__shared/external/jquery.selectBoxIt.min.js"></script>
<link rel="stylesheet" href="/static/__shared/external/jquery.selectBoxIt.css"/>

<style>
    table.dataTable td, table.dataTable th {
        font-size: 18px;
        font-weight: bold;
    }
    .wr-table {
        display: table;
        float: none;
        vertical-align: bottom;
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .wr-cell {
        display: table-cell;
        float: none;
        vertical-align: bottom;
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .wr-cell:first-of-type {
        border-bottom: 1px solid #ddd;
    }
    .selectboxit-container {
        margin-top: -5px;
    }
    ul.nav-tabs span.glyphicon {
        margin-right: 4px;
    }
</style>

<script>
    function ts_to_date(ts)
    {
        if (ts.length < 14) {
            return ts;
        }

        var datestr = (ts.substring(0, 4) + "-" + 
                       ts.substring(4, 6) + "-" +
                       ts.substring(6, 8) + "T" +
                       ts.substring(8, 10) + ":" +
                       ts.substring(10, 12) + ":" +
                       ts.substring(12, 14) + "-00:00");

        return new Date(datestr).toLocaleString();
    }

    var pagesTable = undefined;

    $(function() {
        $('a[data-toggle="tab"][href="#pages"]').on('show.bs.tab', show_pages);

        // Tab Nav
        $('#thetab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            window.location.hash = e.target.hash;
        });

        var start_tab = "#pages";

        if (window.location.hash.match('#')) {
            start_tab = window.location.hash;
        }

        $('#thetab a[href=' + start_tab +']').tab('show');
    });

    function show_pages() {
        if (pagesTable) {
            pagesTable.ajax.reload( null, false );
            return;
        }

        var prefix = "/{{ path }}/";

        var render_title = function (data, type, full, meta) {

            var url = prefix;
            if (full['ts']) {
                url += full['ts'] + "/";
            }
            url += full['url'];

            if (meta.col == 0) {
                var title = data;
                if (!title) {
                    title = full['url'];
                }
            } else if (meta.col == 1) {
                var title = ts_to_date(data);
            } else {
                title = data;
            }

            return '<a href="' + url + '">' + title + '</a>';
        }

        pagesTable = $("#pageTable").DataTable( {
            "ajaxSource": "/_listpages?coll={{ path }}",
            "order": [[ 1, "desc" ]],
            "columns": [
                { "data": "title" },
                { "data": "ts" },
            ],
            "columnDefs": [ {
                "targets": [0, 1],
                "render": render_title,
            }],
        });

        // Select
        $("#pageTable_length select").selectBoxIt({native: true});
    }
</script>
{% endblock %}


{% block content %}
<div class="row wr-table">
    <div class="col-md-4 wr-cell">
        <h1>{{ title | default(coll) }}&nbsp;<small>/{{ coll }}</small></h1>
    </div>
    <div class="col-md-8 wr-cell">
        <!-- Nav tabs -->
        <ul id="thetab" class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#pages" aria-controls="pages" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-file"></span>Pages
                </a>
            </li>
            <li role="presentation">
                <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-search"></span>Search
                </a>
            </li>
            {% if can_admin() %}
            <li role="presentation">
                <a href="#files" aria-controls="files" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-hdd"></span>Storage
                </a>
            </li>

            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-cog"></span>Settings
                </a>
            </li>
            {% endif %}
            <li role="presentation" class="pull-right">
                <div style="margin: 10px 15px; display: inline-block">
                    {% if is_public %}
                    <span class="glyphicon glyphicon-globe"></span>Public
                    {% else %}
                    <span class="glyphicon glyphicon-lock"></span>Private
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</div>


<div role="tabpanel" style="margin-top: 20px">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="pages">
            <table id="pageTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Recorded on</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="search">Search</div>
        <div role="tabpanel" class="tab-pane" id="files">Files</div>
        <div role="tabpanel" class="tab-pane" id="files">Storage</div>
    </div>
</div>


{% endblock %}
