{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

<!--<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css"/>-->
<link rel="stylesheet" href="/static/__shared/external/dataTables.bootstrap.css"/>

<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
<script type="text/javascript" language="javascript" src="/static/__shared/external/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/__shared/external/dataTables.bootstrap.js"></script>

<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<script src="/static/__shared/external/jquery-ui.min.js"></script>

<script src="/static/__shared/external/jquery.selectBoxIt.min.js"></script>
<link rel="stylesheet" href="/static/__shared/external/jquery.selectBoxIt.css"/>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>


<style>
    table.dataTable td, table.dataTable th {
        font-size: 14px;
        font-weight: bold;
    }
    .dataTables_empty {
        text-align: center;
    }
    .selectboxit-container {
        margin-top: -5px;
    }
    ul.nav-tabs span.glyphicon {
        margin-right: 4px;
    }
</style>

<script>
    var coll_path = "{{ path }}";
    var user = "{{ user }}";
    var coll = "{{ coll }}";
    var can_admin = {{ 'true' if can_admin() else 'false' }}
    var can_write = {{ 'true' if can_write() else 'false' }}
</script>

<script src="/static/__shared/coll.js"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="page-header" style="margin-top: 10px">
        <h1 style="display: inline">{{ title }}&nbsp;<small>/{{ coll }}</small>
        </h1>
        <span style="font-size: 14px" class="pull-right">
            <div style="margin: 18px 20px; display: inline-block">
                {% include 'frag_accessswitch.html' %}
            </div>
        </span>
    </div>
</div>
{% if can_write() %}
<div class="row" style="margin-bottom: 20px">
    <div class="col-md-offset-2 col-md-8">
        <form id="dorecord" onsubmit="return false">
            <div class="input-group">
                <input id="theurl" name="theurl" type="text" placeholder="Enter a url to record here" class="input-large form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary url-rec-play" type="submit" data-path-prefix="/{{path}}/record/">
                        <span class="glyphicon glyphicon-dot-lg"></span> <span>Record</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endif %}
<div class="row">
    <div>
        <!-- Nav tabs -->
        <ul id="thetab" class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-home"></span>About
                </a>
            </li>
            <li role="presentation">
                <a href="#records" aria-controls="records" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-file"></span>Records
                </a>
            </li>
            {#
            <li role="presentation">
                <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-search"></span>Search
                </a>
            </li>
            #}
            {% if can_admin() %}
            <li role="presentation">
                <a href="#files" aria-controls="files" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-hdd"></span>Storage
                </a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-cog"></span>Settings
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>


<div role="tabpanel" style="margin-top: 20px">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="about">
            {% if can_write() %}
            <button id="home-edit" class="btn btn-default btn-sm pull-right" data-toggle="button" aria-pressed="false">Edit</button>
            {% endif %}

            <div id="home-markdown" style="display: none">{{desc}}</div>
            <div id="home-view"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="records">
            <table id="pageTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Recorded on</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="search">Search</div>
        <div role="tabpanel" class="tab-pane" id="files">
            <table id="warcsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Last Modified</th>
                        <th>Size</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <div class="row col-md-6">
                <label for="set-coll-name">Collection Title:</label>
                <input type="text" id="set-coll-name" value="{{title}}" placeholder="Enter a title for this collection" class="pull-left form-control"/>
            </div>
            <div class="clearfix"></div>
            <div class="row col-md-6" style="margin-top: 50px">
                {% include 'frag_accessswitch.html' %}
            </div>

            <div class="clearfix" style="margin-bottom: 150px"></div>
            <div class="row col-md-6">
                <div class="alert alert-danger">
                    <b>Permenantely delete this collection?</b>
                    <p>This action can not be undone!</p>
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">Delete Collection</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Collection?
            </div>
            <div class="modal-body">
                Are you sure you want to delete the collection <b>{{title}}</b> (/{{coll}})?
                If you continue, all archived data will be permanently deleted.
                Be sure to download the WARC files if you would like to keep them.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form style="display: inline" method="post" action="/_delete?coll={{path}}">
                    <button type="submit" class="btn btn-danger btn-ok" id="confirm-delete">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
