@import 'src/vars';

#wr-tw {
    display: inline-block;
    width: rem(7.6rem);
    height: rem(3.7rem);
    float: left;
}
#wr-fb {
    float: left;
    margin-left: rem(.5rem);
}

.wr-tools {
    margin-top: rem(-4rem);
    height: rem(4rem);
    background: #F3F3F3;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;

    &.animate {
        transition: margin-top $slowShift ease-in-out;
    }

    &.open {
        margin-top: 0;
        border-bottom: solid 1px #ccc;
    }

    .share-container {
        margin-left: auto;
    }
}

.wr-controls.public .recording-actions {
    position: absolute;
    top: 0;
    right: rem(1.5rem);
}

.recording-actions {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    & > *:not(:last-child) {
        margin-right: rem(.5rem);
    }

    .btn svg {
        width: rem(1.6rem);
        height: rem(1.6rem);
        vertical-align: middle;
    }

    .clipboard-btn {
        padding: rem(.5rem) rem(1.5rem);
        vertical-align: middle;
    }

    .autopilot-btn {
        transition: color $quickShift ease-in-out;

        svg {
            vertical-align: middle;
            height: rem(1.5rem);
            margin-right: rem(.5rem);

            path {
                transition: fill $midShift ease-in-out;
            }
        }

        &.special-behavior {
            color: $deep-pine;

            svg {
                path {
                    fill: $deep-pine;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .recording-actions {
        order: 2;
        -ms-flex-order: 2;
        margin-left: auto;
    }
}
