{% extends "base_bootstrap.html" %}
{% block head %}

{{ super() }}
<script>
    wbinfo = {}
    wbinfo.outer_prefix = decodeURI("{{ top_prefix }}");
    wbinfo.url = "{{ url }}";
    wbinfo.capture_url = wbinfo.url;
    wbinfo.timestamp = "{{ ts }}";
    wbinfo.state = "{{ curr_mode }}";
    wbinfo.info = {{ info | default('{}') | tojson }};
</script>

{% assets "main-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}

{% assets "browser-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="/static/browsers/browser_controller.js"></script>

<script>
    window.cnt_browser = "{{ browser }}";

    window.reqid = "{{ reqid }}";

    $(function() {
        var params = {}
        params.static_prefix = "/static/browsers/";
        params.api_prefix = "/api/browsers";

        if (!window.location.port) {
            params.proxy_ws = "_websockify?port=";
        }

        params.on_countdown = function(seconds, countdownText) {
            if (seconds <= 300) {
                $("#browser-countdown-label").show();
                $("#browser-countdown").text(countdownText);
            }

            if (seconds <= 0) {
                $(".content-action").submit();
            }
        }

        params.inactiveSecs = 30;

        var cb = new CBrowser("#browser", params);
    });
</script>

{% endblock %}

{% block body %}

{% include 'header.html' %}

<div id="browser" class="browser"></div>

{% endblock %}

