{% extends "base_bootstrap.html" %}
{% block head %}

{{ super() }}
<script>
    wbinfo = {}
    wbinfo.outer_prefix = decodeURI("{{ top_prefix }}");
    wbinfo.url = "{{ url }}";
    wbinfo.capture_url = wbinfo.url;
    wbinfo.timestamp = "{{ ts }}";
    wbinfo.state = "{{ curr_mode }}";
    wbinfo.info = {{ info | default('{}') | tojson }};

    window.cnt_browser = "{{ browser }}";

    window.reqid = "{{ reqid }}";

    window.inactiveSecs = {{ inactive_time if inactive_time else 0 }};

</script>

{% assets "main-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}

{% assets "browser-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="/static/browsers/browser_controller.js"></script>

{% endblock %}

{% block body %}

{% include 'header.html' %}

<div id="message" class="browser">{{ message }}</div>
<div id="browser" class="browser"></div>

<div class="modal fade" id="clipboard-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Clipboard</h4>
            </div>
            <div class="modal-body">
                <p>Clipboard for remote browser. You may use this to transfer text to and from the remote browser</p>
                <textarea id="clipboard" style="width: 100%; min-height: 200px" autofocus></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include 'reporterror.html' %}

{% endblock %}

