{% extends "base_bootstrap.html" %}
{% block head %}

{{ super() }}
<script src="/static/__shared/novnc/util.js"></script>
<script>
    wbinfo = {}
    wbinfo.outer_prefix = decodeURI("{{ top_prefix }}");
    wbinfo.url = "{{ url }}";
    wbinfo.capture_url = wbinfo.url;
    wbinfo.timestamp = "{{ ts }}";
    wbinfo.state = "{{ curr_mode }}";
    wbinfo.info = {{ info | default('{}') | tojson }};
</script>
<script>
    window.STATIC_PREFIX = "/static/__shared/";
    {% if browser_data %}
    window.cnt_browser = "{{ browser_data.id }}";
    {% endif %}
    var browser = "{{ browser }}";
    var url = "{{ url }}";
    var curr_ts = "{{ ts }}";
    var upsid = "{{ upsid }}";
</script>

{% assets "main-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}

{% assets "browser-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{#
<script src="/static/__shared/collections_model.js"></script>
<script src="/static/__shared/recordings_model.js"></script>
<script src="/static/__shared/recordings.js"></script>
<script src="/static/__shared/browser_controller.js"></script>

<script src="/static/__shared/times_and_sizes_formatter.js"></script>
#}
{% endblock %}

{% block body %}

{% include 'header.html' %}

<div class="browser">
    <div id="browserMsg" class="loading">Initializing Browser...</div>
    <div id="noVNC_screen">
        <canvas id="noVNC_canvas" style="display: none">
            Canvas not supported.
        </canvas>
    </div>
</div>

{% endblock %}

