<div class="row top-buffer-lg">

    <div class="col-md-2 recording-panel">

        {% include 'new_recording_button.html' %}

        <div class="recording-selector">
            <div class="card card-selected card-top" data-recording-id="$all">
                <div class="checkbox-column">
                    <input type="checkbox" checked aria-label="Show all recordings in bookmarks table">
                </div>
                <div class="content-column">
                    <div class="recording-title">All recordings</div>
                </div>
            </div>

            {% for recording in collection.recordings %}
                {% include 'recording_card.html' %}
            {% endfor %}
        </div>
    </div>

    <div class="col-md-10 bookmarks-panel">
        <div style="display: inline-block" class="pull-left">
        <h3 class="top-buffer-none pull-left">Bookmarks for <em><span class="recording-filter-list" data-recordings-in-content-panel="$all">All recordings</span></em>
        </h3>
        {% if is_owner() %}
        <h5>
        <input type="checkbox" checked="checked" name="show-hidden" id="show-hidden" style="margin-left: 8px; margin-right: 8px"><label for="show-hidden">Include Hidden Bookmarks</label>
        </h5>
        {% endif %}
        </div>

        {% include 'bookmarks_table.html' %}
    </div>
</div>
