{% extends "main_bootstrap.html" %}
{% block head %}

{{ super() }}

<script src="/static/__shared/external/jquery-ui.min.js"></script>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<script src="/static/__shared/external/jquery.dataTables.min.js"></script>
<script src="/static/__shared/external/dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="/static/__shared/external/dataTables.bootstrap.css"/>

<script src="/static/__shared/editor.js"></script>

<script src="/static/__shared/collection_info.js"></script>

<script>
    var can_admin = {{ 'true' if can_admin() else 'false' }};
    var can_write = {{ 'true' if can_write() else 'false' }};
</script>


{% endblock %}

{% block content %}

<div class="row">
    <div class="page-header" style="margin-top: 10px">
        <h1 style="display: inline"><span id="coll-title">{{ collection.title }}</span>&nbsp;
            <div class="pull-right">
                {% include 'new_recording_button.html' %}
                {% if can_admin() %}
                    <a href="{{ collection.download_url }}" class="btn btn-primary btn-sm">Download</a>
                    <button id="delete-coll-btn" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">Delete</button>
                {% endif %}
            </div>

            <div>
                <small>/{{ collection.id }}</small>
            </div>
        </h1>

    </div>
</div>

<div class="row">
    <span style="font-size: 14px" class="pull-right">
        <div style="margin: 18px 20px; display: inline-block">
            {% set is_public = collection['r:@public'] %}
            {% include 'frag_accessswitch.html' %}
        </div>
        <div style="margin-right: 20px; text-align: right">
            Size: <b data-size="{{ collection.size }}"></b>
        </div>
    </span>

    {% if can_write() and not is_anon() %}
        <div id="about">
            <div id="home-markdown" style="display: none">{{ collection.desc | default('Collection Desc TODO') }}</div>
            <div id="home-view"></div>

        </div>
        <button id="home-edit" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false">Edit</button>
    {% endif %}

    {% if is_anon() %}
        <p>This is a temporary, anonymous collection created in Webrecorder.</p>
        <p>These recordings are accessible only to you and will expire in <b data-anon-timer="{{ anon_ttl }}"></b></p>

        <div>To create permanent, shareable collections <a href="_register">Sign Up</a> or <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></div>
    {% endif %}

</div>

<div class="row top-buffer">
    <table class="table table-striped table-recordings">
        <caption><h4>Recordings</h4></caption>
        <thead>
            <tr>
                <th><!-- Details control --></th>
                <th>Name</th>
                <th>Last Recorded</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in collection.recordings %}
            {% set path = get_path(user, coll, rec.id) %}
            <tr>
                <td class="details-control" aria-role="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                        <span class="sr-only">Details</span>
                    </span>
                    {% include 'recording_details.html' %}
                </td>
                <td><a href="{{ path }}">{{ rec.title }}</a></td>
                <td data-time-sec="{{ rec.updated_at }}" data-order="{{ rec.updated_at }}"></td>
                <td data-size="{{ rec.size }}" data-order="{{ rec.size }}"></td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path }}">
                        <span class="glyphicon glyphicon-globe glyphicon-button"></span>Browse
                    </a>
                    {% if can_admin() %}
                        <a class="btn btn-default btn-xs" href="{{ path }}/$download">
                            <span class="glyphicon glyphicon-download glyphicon-button"></span>Download
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Confirm Delete -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Collection?
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the collection <b>{{ collection.title }}</b> {{ get_path(user, coll) }}?</p>
                <p>If you confirm, all recordings will be permanently deleted.</p>
                <p>Be sure to download the collection first if you would like to keep any data.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form class="delete-coll-form" style="display: inline" method="post" action="/_delete_coll?user={{ user }}&coll={{ coll }}">
                    <button type="submit" class="btn btn-danger btn-ok" id="confirm-delete">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    init_markdown_editor("/api/v1/collections/{{ coll }}/desc?user={{ user }}");
</script>



{% endblock %}

