<div class="row top-buffer">
    <div class="col-md-2 recording-selector-panel">
        
        <div class="card card-selected" data-recording-id="$all">
            <span class="recording-title"><strong>All recordings</strong></span>
        </div>

        {% for recording in collection.recordings %}
            {% set recording_path = get_path(user, coll, recording.id) + '/' %}

            <div class="card" data-recording-id="{{ recording.id }}" data-recording-title="{{ recording.title }}">
                <div class="recording-title top-buffer-sm"><strong><a href="{{ recording.path }}">{{ recording.title }}</a></strong></div>

                <div class="recording-info top-buffer-sm">
                    <span class="bookmark-count">{{ recording.pages | count }} bookmarks</span>
                    <strong>/</strong>
                    <span class="current-size" data-size="{{ recording.size }}"></span>
                </div>

                <div class="card-time-range top-buffer-sm">
                    <span data-time-sec="{{ recording.created_at }}"></span>
                    -
                    <span data-time-sec="{{ recording.updated_at }}"></span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-10 recording-info-content-panel">
        <h3>Showing bookmarks for <em><span class="recording-filter-list" data-recordings-in-content-panel="$all">All recordings</span></em></h3>
        <table class="table table-striped table-bookmarks" data-page-length="25">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Last Recorded</th>
                    <th>Url</th>
                    <th>Recording</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recording in collection.recordings %}
                    {% set collection_path = get_path(user, coll) + '/' %}
                    {% set recording_path = get_path(user, coll, recording.id) + '/' %}

                    {% for bookmark in recording.pages %}
                        {% set bookmark_title = bookmark.title if bookmark.title else bookmark.url %}
                        {% set bookmark_timestamp = bookmark.timestamp if bookmark.timestamp else '' %}
                        {% set bookmark_path = collection_path + bookmark_timestamp + '/' + bookmark.url %}
                        {% set hidden_class = "hidden-bookmark-row" if bookmark.hidden == '1' else "" %}

                        <tr class="{{ hidden_class }}">
                            <td>{{ bookmark_title }}</td>
                            <td data-time-ts="{{ bookmark_timestamp }}"></td>
                            <td><a href="{{ bookmark_path }}">{{ bookmark.url }}</a></td>
                            <td><a href="{{ recording_path }}">{{ recording.title }}</a></td>
                            <td>
                                {% include 'bookmark_row_actions.html' %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
