{% extends "main_bootstrap.html" %}
{% block head %}

{{ super() }}

<script src="/static/__shared/external/jquery-ui.min.js"></script>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<script src="/static/__shared/external/jquery.dataTables.min.js"></script>
<script src="/static/__shared/external/dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="/static/__shared/external/dataTables.bootstrap.css"/>

<script src="/static/__shared/editor.js"></script>

<script src="/static/__shared/collection_info.js"></script>

<script>
    var can_admin = {{ 'true' if can_admin() else 'false' }};
    var can_write = {{ 'true' if can_write() else 'false' }};
</script>


{% endblock %}

{% block content %}

<div class="row">
    <div class="page-header top-buffer-md">
        <h1>
            <span class="editable-title">{{ collection.title }}</span>&nbsp;

            {% include 'edit_title_in_place.html' %}

            {% include 'collection_info_buttons.html'%}
        </h1>

        <div class="top-buffer-sm">
            {% include 'recordings/breadcrumbs.html' %}
        </div>
    </div>
</div>

<div class="row">
    <span style="font-size: 14px" class="pull-right">
        <div style="margin: 18px 20px; display: inline-block">
            {% set is_public = collection['r:@public'] %}
            {% include 'frag_accessswitch.html' %}
        </div>
        <div style="margin-right: 20px; text-align: right">
            Size: <b data-size="{{ collection.size }}"></b>
        </div>
    </span>

    {% if can_write() and not is_anon() %}
        <div id="about">
            <div id="home-markdown" style="display: none">{{ collection.desc | default('Collection Desc TODO') }}</div>
            <div id="home-view"></div>

        </div>
        <button id="home-edit" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false">Edit</button>
    {% endif %}

    {% if is_anon() %}
        <p>This is a temporary, anonymous collection created in Webrecorder.</p>
        <p>These recordings are accessible only to you and will expire in <b data-anon-timer="{{ anon_ttl }}"></b></p>

        <div>To create permanent, shareable collections <a href="/_register">Sign Up</a> or <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></div>
    {% endif %}
</div>

{% include 'collection_info_browser.html' %}

{% include 'confirm_delete_collection_modal.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        init_markdown_editor("/api/v1/collections/{{ coll }}/desc?user={{ user }}");
    </script>
    <script src="/static/__shared/edit_title_in_place.js"></script>
{% endblock %}
