{% extends "main_bootstrap.html" %}

{% block head %}
{{ super() }}
<script>
    $(function() {
        if (window.top != window) {
            $(".navbar").hide();

            window.parent.postMessage({"is_error": true, "url": "{{ url }}"}, "*");
        }
    });
</script>
{% endblock %}

{% block content %}
{% if status == 404 %}
    <h1>Content Not Found</h1>

    <p>The url <b>{{ url }}</b> was not found in the archive.</p>

    {% if (type == 'replay' or type == 'replay-coll') and can_write() %}
    <input type="hidden" name="url" value="{{ url }}">
    <b><a target="_parent" href="{{ '//' + app_host if app_host else '' }}/$patch/{{ coll }}/{{ url }}" class="">Record this page?</a></b>
    {% endif %}
{% elif status == 402 %}
    <p><a target="_parent" href="{{ get_path(user, coll, rec) }}">View Recording Info</a></p>
{% else %}
    <h2>This site could not be loaded</h2>

    <p><b>{{ url }}</b></p>

    <p>Please double check that this url is valid</p>

    <p><b>Details:</b></p>
    <p><code>{{ error }}</code></p>
{% endif %}

{% endblock %}
