<div class="row top-buffer-md">
    <div class="col-md-10 col-md-offset-1">
        <form method="post" id="create-coll" action="/_create" class="form-horizontal">
            <span class="form-group col-md-5">
                <label for="collection">Collection Name:</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="" value="New Collection" aria-describedby="addon2" required>
            </span>

            <span class="col-md-6 col-md-offset-1">
                <label for="public"><span class="glyphicon glyphicon-globe" style="margin-right: 4px"></span>Make public (visible to all)?</label>
                <input type="checkbox" class="ispublic" name="public" id="is_public" data-on-color="success" data-inverse="true"  data-on-text="YES" data-off-text="NO"/>
            </span>

            <div id="create-coll-error" class="upload-error" style="display: flex"></div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        </form>
    </div>
</div>
