<footer class="footer top-buffer">
    <div class="container top-buffer bottom-buffer">
        <div class="row">
            <div class="col-xs-8">
                <small>
                    <a href="mailto:support@webrecorder.io">support@webrecorder.io</a><br>
                    <a href="https://github.com/webrecorder/webrecorder">Github</a>
                    <a class="left-buffer" href="https://twitter.com/webrecorder_io">Twitter</a><br>
                    <a href="/_policies">Terms and Policies</a>
                    <a class='left-buffer' href="/_faq">FAQ</a>
                </small>
            </div>
            <div class="col-xs-2 col-xs-offset-2 footer-label">
                <div>A Project By</div>
                <a href="https://rhizome.org" target="_blank">
                    <img class="rhizome-logo" src="/static/__shared/rhizome_logo_sm.png" alt="rhizome.org logo" style="padding-top: 16px">
                </a>
            </div>
        </div>
    </div>
</footer>
