<footer class="footer top-buffer">
    <div class="container top-buffer bottom-buffer">
        <div class="row">
            <div class="col-xs-8">
                <small>
                    <a href="mailto:support@webrecorder.io">support@webrecorder.io</a><a class="left-buffer" href="https://github.com/webrecorder/webrecorder">Github</a><a class="left-buffer" href="https://twitter.com/webrecorder_io">Twitter</a>
                </small>
            </div>
            <div class="col-xs-2">
                <a href="https://mellon.org/grants/grants-database/grants/rhizome-communications-inc/41500666/">
                    <img class="mellonfdn-logo" src="/static/__shared/mellon-fdn.svg" width="120" target="_blank" title="Andrew W. Mellon Foundation">
                </a>
            </div>
            <div class="col-xs-2">
                <a href="https://rhizome.org" target="_blank"><img class="rhizome-logo" src="/static/__shared/rhizome_logo_sm.png" alt="rhizome.org logo"></a>
            </div>
        </div>
    </div>
</footer>
