<footer class="footer top-buffer">
    <div class="container top-buffer">
        <div class="pull-left">
            <small>
                <a href="mailto:support@webrecorder.io">support@webrecorder.io</a><a class="left-buffer" href="https://github.com/webrecorder/webrecorder">Github</a><a class="left-buffer" href="https://twitter.com/webrecorder_io">Twitter</a>
             </div>
            <div class="pull-right">
                <a href="https://rhizome.org" target="_blank"><img src="/static/__shared/rhizome_logo_sm.png" alt="rhizome.org logo"></a>
            </div>
        </div>
    </div>
</footer>
