<form id="doaction" class="nav-url-form"> 
    <div class="input-group" style="width: 100%">
        <input id="theurl" type="text" style="width: 100%" placeholder="Enter a url here" class="form-control"/>
        <span class="input-group-btn">
            <button id="preview-button" class="btn btn-default" style="display: none; border-radius: 4px" type="submit">
                <span class="glyphicon glyphicon-step-forward"></span>
                <span>Preview</span>
            </button>
            <button id="rec-button" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-dot-lg"></span>
                <span>Record</span>
            </button>
        </span>
    </div>
    <div class="checkbox pull-right" style="margin-top: 4px">
        <label>
            <input id="preview-toggle" type="checkbox">Preview before recording
        </label>
    </div>
</form>

