<form id="doaction" class="nav-url-form" data-path-prefix="/"> 
    <div class="input-group" style="width: 100%">
        <input id="theurl" type="text" style="width: 100%" placeholder="Enter a url here" class="form-control"/>
        <span class="input-group-btn">
            <button id="preview-button" class="btn btn-default" style="display: none" type="submit">
                <span>Preview</span>
            </button>
            <button id="rec-button" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-dot-lg"></span>
                <span>Record</span>
            </button>
        </span>
    </div>
    <div class="checkbox">
        <label>
            <input id="preview-toggle" type="checkbox">Preview first before recording
        </label>
    </div>
</form>

