{% extends "base_bootstrap.html" %}
{% block head %}
<style>
    html, body
    {
        height: 100%;
        margin: 0px;
        padding: 0px;
        border: 0px;
        overflow: hidden;
    }

   .wb_iframe
    {
        width: 100%;
        height: 100%;
        padding: 0px 0px 0px 0px;
        overflow: scroll !important;
        top: 96px;
        /*padding-bottom: 100px !important;
        margin-top: -9px;*/
        position: fixed;
        border: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
</style>

{% assets "frame-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}



{#
<link rel='stylesheet' href='{{ wbrequest.host_prefix }}/{{ static_path }}/scroll-webkit.css'/>
#}

<script>
    wbinfo = {}
    wbinfo.outer_prefix = decodeURI("{{ top_prefix }}");
    wbinfo.prefix = decodeURI("{{ wbrequest.wb_prefix }}");
    wbinfo.coll = "{{ wbrequest.coll }}";
    wbinfo.url = "{{ url }}";
    wbinfo.capture_url = wbinfo.url;
    wbinfo.timestamp = "{{ wbrequest.wb_url.timestamp }}";
    wbinfo.is_frame = true;
    wbinfo.frame_mod = "{{ wbrequest.options.frame_mod }}";
    wbinfo.replay_mod = "{{ wbrequest.options.replay_mod }}";
    wbinfo.state = "{{ curr_mode }}";
    wbinfo.info = {{ info | default('{}') | tojson }};
</script>

{#
<script src='{{ wbrequest.host_prefix }}/{{ static_path }}/wb.js'> </script>
<script src='{{ wbrequest.host_prefix }}/{{ static_path }}/wb_frame.js'> </script>

<script src="/static/__shared/times_and_sizes_formatter.js"></script>
<script src="/static/__shared/collections_model.js"></script>
<script src="/static/__shared/recordings_model.js"></script>
<script src="/static/__shared/recordings.js"></script>

<script src="/static/__shared/automate.js"></script>
#}

{% assets "frame-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if curr_mode == "new" %}
<script src="/static/__shared/newrecording.js"></script>
{% endif %}

{% endblock %}

{% block body %}

{% if not is_embed %}
{% include 'header.html' %}
{% endif %}

<iframe id="replay_iframe" src="{{ wbrequest.wb_prefix + embed_url if embed_url else '' }}" onload="" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe"></iframe>

{% if not is_embed %}
{% include 'links.html' %}
{% include 'reporterror.html' %}

{% else %}
<style>
.embed-footer {
    position: fixed;
    bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0px 8px 0px;
    width: 100%;
    z-index: 100000000;
    min-height: 53px;

}

.embed-footer a {
    font-weight: bold;
    color: white;
}

.replay-wrap {
    display: none;
}

</style>

<div class="embed-footer" lang="en">
<div class="replay-wrap">
<span>This is an archived page from <span id="replay-date" style="font-weight: bold"></span></span>
<div style="font-size: 12px">Archived with <a target="_blank" href="https://webrecorder.io/">Webrecorder</a></div>
</div>
</div>

{% endif %}

{% endblock %}
