<header>
    <div class="navbar navbar-default navbar-static-top">
        <nav class="container-fluid header-webrecorder">
            {% include 'recordings/breadcrumbs.html' %}

            <!-- Countdown Timer -->
            <li class="navbar-left wr-timer" style="display: none">Temporary collection will expire after: <b data-anon-timer="{{ anon_ttl }}"></b>
            </li>

            <div class="navbar-user-links navbar-right">
                {% include 'user_management_links.html' %}
            </div>
        </nav>

        {% include 'recordings/recorder.html' %}

    </div>
</header>
