<header>
	<div class="navbar navbar-default navbar-static-top">
		<nav class="header-webrecorder col-md-12">
			<div class="branding col-md-1">
				{% include 'branding.html' %}
			</div>

			<div class="col-md-8">
	            <!-- Countdown Timer -->
	            <div class="navbar-left wr-timer collapse">Temporary collection will expire after <b data-anon-timer="{{ anon_ttl }}"> of inactivity</b>
	            </div>
			</div>

			<div class="navbar-user-links navbar-right col-md-3">
				{% include 'user_management_links.html' %}
			</div>
		</nav>

	{% include 'recordings/recorder.html' %}

	</div>
</header>