<header>
	<div class="navbar navbar-default navbar-static-top">
		<nav class="header-webrecorder col-xs-12">
			<div class="branding col-xs-1">
				{% include 'branding.html' %}
			</div>

			<div class="breadcrumbs col-xs-8">
				{% include 'breadcrumbs.html' %}

	            <!-- Countdown Timer -->
	            <li class="navbar-left wr-timer" style="display: none">Anonymous Session Expires in: <b data-anon-timer="{{ anon_ttl }}"></b>
	            </li>
			</div>

			<div class="user-management-links navbar-right col-xs-3">
				{% include 'user_management_links.html' %}
			</div>
		</nav>

	{% include 'recordings/recorder.html' %}

	</div>
</header>