{% if anon_user and anon_ttl and anon_ttl > 0 %}
    {% set path = get_path(anon_user, 'temp') %}
    {% set recording_string = "recording" if (anon_recordings == 1) else "recordings" %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    You have a <a href="{{ path }}"><b>Temporary Collection</b></a>
                    with {{ anon_recordings }} {{ recording_string }}, expiring in <b data-anon-timer="{{ anon_ttl }}"></b>
                </div>
                <div class="panel-body">
                    <div class="top-buffer-md">
                        <ul>
                            <li>
                                <a href="/_register" target="_parent" ><strong>Sign Up</strong></a> or <a href="/_login_modal" class="login-link" >Login</a> to keep your collection and give it a permanent address.
                            </li>
                            <li>
                                Continue recording by entering another URL below and clicking <b>Record</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif curr_user %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    You are logged-in as <b><a href="/{{ curr_user }}">{{ curr_user }}</a></b>
                </div>
                <div class="panel-body">
                    <div class="top-buffer-md">
                        <ul>
                            <li>
                                Browse: There are <a href="/{{ curr_user }}"><b>{{ num_collections }} Collections</b></a> in your archive.
                            </li>
                            <li>
                                Record: Enter a url, choose a collection (or create a new one), then click <b>Record</b> to begin.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
