{% extends "main_bootstrap.html" %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h1 style="line-height: 1.5em; font-weight: bold">Welcome to Webrecorder</h1>
        <h4>An open-source web archiving platform and service for all!</h4>
        <h4>Easily create high-fidelity, standards compliant archives of the web as you browse.</h4>
    </div>
</div>

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-offset-2 col-md-8">
        {% if curr_user %}
        <div class="well">
            <p class="text-center">You are logged in as <b>{{ curr_user }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/{{curr_user}}"><b>View Your Archive</b></a></p>
        </div>
        {% else %}
        
        {% if anon_size and anon_pages %}
        <div class="alert alert-info" role="alert">
            Anonymously recorded <b>{{ anon_pages }}</b> page(s). <b><a href="/replay#records">Browse</a></b> or <b><a href="/replay#files">Download</a></b> or <b><a href="/replay#settings">Delete Now</a></b> (Will automatically expire in 30 minutes.)
        </div>
        {% endif %}
        
        <h4 style="line-height: 2em">Try now:</h4>
        <div class="well">
            {% include 'frag_recordbar.html' %}
        </div>
        <h4>To keep your archive online, <a href="/_register">sign up</a> for an account.</h4>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h4>A project of <a href="https://rhizome.org" target="_blank"><img src="/static/__shared/rhizome_logo_sm.jpg" style="vertical-align: bottom"/></a></h4>
    </div>
</div>

<div class="row" style="margin-top: 40px">
    <div class="col-md-10 col-md-offset-2">
        <form style="display: inline" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3K3VE3HG8KR44">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Donate"
                   style="vertical-align:middle;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        to support <a href="https://github.com/webrecorder/webrecorder">Webrecorder</a> and related open-source web archiving tools.<br/>
        <p style="margin-left: 100px"><i>Donations will be tax-deductible.</i></p>
        <!--<p style="margin-left: 100px">(<a href="https://github.com/ikreymer/webarchiveplayer">WebArchivePlayer</a>, <a href="https://github.com/ikreymer/pywb">pywb</a>, <a href="https://github.com/ikreymer/browsertrix">Browsertrix</a>)</p>-->
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
