{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

{% endblock %}

{% block body %}

<div class="homepage-user-links row right-padding top-buffer right-buffer left-buffer">
    {% include 'user_management_links.html' %}
</div>

<div class="container wr-content">
    {% block message %}

    {{ super() }}

    {% endblock %}

    {% block content %}
    <div class="row top-buffer">
        <h1 class="text-center"><strong>webrecorder.io</strong></h1>
    </div>

    {% include 'temporary_collection_info.html' %}

    <div class="row top-buffer-lg bottom-buffer-lg">
        {% include 'recordings/homepage_recorder.html' %}
    </div>

    {% if is_anon and invites_enabled %}
    <div class="row top-buffer">
        <div class="col-md-offset-1 col-md-10">
            <h4>We are inviting users to build their own archives as we test this service.</h4>
            <h4><a href="/_register">Request an invite to sign-up</a></h4>
        </div>
    </div>
    {% endif %}
    {% endblock %}
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% endblock %}
