{% if anon_size and anon_recordings %}
    <div class="alert alert-info" role="alert">
        <div class="form-group">
            {% set path = get_path(anon_user, 'temp') %}
            <h5>You have recorded <a href="{{ path }}"><b data-size="{{ anon_size }}"></b></a> in <a href="{{ path }}"><b>{{ anon_recordings }}</b></a> recording(s)</h5>
            <input style="" id="coll-move" type="radio" name="move-temp" value="1" aria-label="Move" required="true">
<h5 style="display: inline">Add recordings to new collection in my account.</h5></input><br/>
            <input style="" id="coll-delete" type="radio" name="move-temp" value="0" aria-label="Delete" required="true">
<h5 style="display: inline">Delete this temporary collection.</h5></input>

           <div class="help-block with-errors"></div>
        </div> 

        <div class="form-group">
            <label for="collection_name" class="sr-only">Collection Name</label>
            <input type="text" id="to-coll" name="to-coll" class="form-control" value="Imported: Temporary Collection" placeholder="New Collection Name" required="true">
            <div class="help-block with-errors"></div>
        </div>
    </div>
{% endif %}


