{% extends "main_bootstrap.html" %}

{% block content %}

<div class="container-fluid top-buffer-lg">
    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <strong class="left-buffer">Did you know?</strong>
      </div>
      <div class="panel-body">
        <p>You can start recording in one quick step!</p>
        <p>Enter a special address in your browser's URL bar, with the format:</p>
        <p><samp>http://webrecorder.io/<code>my-username</code>/<code>my-collection-name</code>/<code>my-recording-name</code>/record/<code>http://my-url-to-record.com</code></samp></p>
      </div>
    </div>
</div>

{% endblock %}
