<a class="btn btn-default btn-xs" href="{{ path }}/{{ page.url }}">
    <span class="glyphicon glyphicon-play-circle glyphicon-button"></span>
    Replay
</a>

{% if can_write() %}
		<button class="btn btn-default btn-xs hide-page" data-page-url="{{ page.url }}" data-page-ts="{{ page.timestamp }}" data-page-hidden="{{ page.hidden | default('0') }}">
        {% if page.hidden != '1' %}
        <span class="glyphicon glyphicon-remove-circle glyphicon-button"></span>Hide Page</button>
        {% else %}
        <span class="glyphicon glyphicon-ok-circle glyphicon-button"></span>Show Page</button>
        {% endif %}
{% endif %}