<a class="btn btn-default btn-xs" href="{{ path }}/{{ recording.pages[0].url if recording.pages|length > 0 else '' }}">
    <span class="glyphicon glyphicon-play-circle glyphicon-button"></span>
    Replay
</a>

{% if can_write() %}
        {% if is_out_of_space() %}
    	    {% set disabled_class = "disabled" %}
    	{% endif %}
        <a class="btn btn-default btn-xs {{disabled_class}}" href="{{ path }}/$add">
            <span class="glyphicon glyphicon glyphicon-record glyphicon-button"></span>
            Record
        </a>
        
        {% if can_admin() %}
            <a class="btn btn-default btn-xs" href="{{ path }}/$download">
                <span class="glyphicon glyphicon-download glyphicon-button"></span>
                Download
            </a>
        {% endif %}


        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm-delete-recording-modal-{{ recording.id }}">
            <span class="glyphicon glyphicon-trash glyphicon-button"></span>
            Delete
        </button>

        {% include 'confirm_delete_recording_modal.html' %}
{% endif %}
