{% set duration = recording.updated_at - recording.created_at %}
{% set bookmark_count = recording.pages | count %}
{% set bookmark_plural = "bookmark" if bookmark_count == 1 else "bookmarks" %}
{% set editing_id = "recording-title-" + recording.id %}

{% if can_write() or bookmark_count > 0 %}
<div class="card" data-recording-id="{{ recording.id }}" data-recording-title="{{ recording.title }}">
    <div class="checkbox-column">
        <div class="btn btn-xs filter-label icon-button">
        </div>
    </div>

    <div class="content-column">
        {% if can_admin() %}
        {% include 'editable_recording_title.html' %}
        <div class="dropdown"><span class="editable-title recording-title" data-editing-id="{{ editing_id }}">{{ recording.title }}</span>
            <button class="btn btn-default btn-xs sub-menu icon-button dropdown-toggle" id="dropdown-{{ recording.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon glyphicon-triangle-bottom"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-{{ recording.id }}">
                <li>
                    <a class="edit-title" data-editing-id="{{ editing_id }}" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Rename…</a>
                </li>

                {% if not is_anon() %}
                <li>
                    <a href="#" data-toggle="modal" data-target="#move-modal" data-move-rec-id="{{ recording.id }}" data-recording-title="{{ recording.title }}"><span class="glyphicon glyphicon-pencil glyphicon-export" aria-hidden="true"></span>Move to Collection…</a>
                </li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ recording.download_url }}"><span class="glyphicon glyphicon-pencil glyphicon-cloud-download" aria-hidden="true"></span>Download Recording</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#confirm-delete-recording-modal-{{ recording.id }}"><span class="glyphicon glyphicon-pencil glyphicon-trash" aria-hidden="true"></span>Delete</a>
                </li>
            </ul>
        </div>
        {% else %}
        <span class="editable-title recording-title" data-editing-id="{{ editing_id }}">{{ recording.title }}</span>
        {% endif %}

        <div class="recording-stats text-left right-buffer-sm">
            <small>
                <span class="bookmark-count" data-bookmark="{{ bookmark_count }}">{{ bookmark_count }} {{ bookmark_plural }}</span>&nbsp; &nbsp;
                <span class="current-size text-right" data-size="{{ recording.size }}"></span>
            </small>
        </div>

        <div class="recording-time-info top-buffer-sm text-left right-buffer-sm">
            <small><span data-time-sec="{{ recording.updated_at }}"></span></small>
        </div>

        <div class="recording-time-info text-left right-buffer-sm">
            <small><span data-time-duration="{{ duration }}"></span></small>
        </div>

        {% include 'confirm_delete_recording_modal.html' %}
    </div>
</div>
{% endif %}
