{% extends "main_bootstrap.html" %}
{% block head %}

{{ super() }}

<script src="/static/__shared/external/jquery-ui.min.js"></script>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<!--
<script src="/static/__shared/recording_info.js"></script>
-->

<script>
    var can_admin = {{ 'true' if can_admin() else 'false' }};
    var can_write = {{ 'true' if can_write() else 'false' }};
</script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="page-header" style="margin-top: 10px">
        {% if is_anon() %}
        <div class="text-center">
            <p>This recording is part of a temporary, anonymous collection created in Webrecorder.</p>
            
            <p>The pages below are available only to you and will expire in <strong data-anon-timer="{{ anon_ttl }}"></strong>
            </p>

            <p>To create permanent, shareable collections <a href="_register">Sign Up</a> or <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></p>
        </div>
        {% endif %}

        <h1 style="display: inline"><span id="rec-title">{{ recording.title }}</span>&nbsp;
            <div class="pull-right">
                {% if can_write() %}
                <button id="add-to-recording" class="btn btn-primary btn-sm show-recorder">Add To Recording</button>
                {% endif %}

                {% if can_admin() %}
                <a href="{{ recording.download_url }}" class="btn btn-primary btn-sm" role="button">Download</a>

                <button id="delete-rec-btn" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">Delete</button>
                {% endif %}
            </div>

            <div>
                <small><a href="{{ get_path(user, coll) }}">/{{ collection.id }}</a>/{{ recording.id }}</small>
            </div>

        </h1>
    </div>
</div>

<span style="font-size: 14px" class="pull-right">
    <div>
        Space Used: <b data-size="{{ recording.size }}"></b>
    </div>
</span>


<div class="row">
    <table id="page_list" class="table table-striped">
        <caption><h4>Pages</h4></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Recorded On</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            {% set path = get_path(user, coll, rec) + '/' %}
            {% for page in pages %}
            <tr>
                <td><a href="{{ path + page.url }}">{{ page.title if page.title else page.url }}</a></td>
                <td data-time-ts="{{ page.timestamp }}"></td>
                <td><a href="{{ path + page.url }}">{{ page.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Confirm Delete -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Recording?
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the recording? <b>{{ recording.title }}</b> {{ get_path(user, coll, rec) }}?</p>
                <p>If you confirm, all archived data will be permanently deleted.</p>
                <p>Be sure to download the recording first if you would like to keep any data.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form class="delete-rec-form" style="display: inline" method="post" action="/_delete_rec/{{ rec }}?user={{ user }}&coll={{ coll }}">
                    <button type="submit" class="btn btn-danger btn-ok" id="confirm-delete">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

