{% extends "main_bootstrap.html" %}
{% block head %}

{{ super() }}

<script src="/static/__shared/external/jquery-ui.min.js"></script>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<!--
<script src="/static/__shared/recording_info.js"></script>
-->

<script>
    var can_admin = {{ 'true' if can_admin() else 'false' }};
    var can_write = {{ 'true' if can_write() else 'false' }};
</script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="page-header top-buffer-md">
        <h1 style="display: inline"><span id="rec-title">{{ recording.title }}</span>&nbsp;
            <div class="pull-right">
                {% include 'add_to_recording_button.html' %}

                {% if can_admin() %}
                    <a href="{{ recording.download_url }}" class="btn btn-primary btn-sm" role="button">Download</a>

                    <button id="delete-rec-btn" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-recording-modal-{{ recording.id }}">Delete</button>
                {% endif %}
            </div>
        </h1>

        <div class="top-buffer-sm">
            {% include 'recordings/breadcrumbs.html' %}
        </div>
    </div>
</div>

<span style="font-size: 14px" class="pull-right">
    <div>
        Size: <b data-size="{{ recording.size }}"></b>
    </div>
</span>

{% if is_anon() %}
    <div class="row">
        <p>This recording is part of a temporary, anonymous collection created in Webrecorder.</p>

        <p>The pages below are available only to you and will expire in <strong data-anon-timer="{{ anon_ttl }}"></strong>
        </p>

        <p>To create permanent, shareable collections <a href="/_register">Sign Up</a> or <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></p>
    </div>
{% endif %}

<div class="row">
    <table class="table table-striped">
        <caption><h4>Bookmarks</h4></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Recorded On</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set recording_path = get_path(user, coll, rec) + '/' %}

            {% for bookmark in pages %}
                {% set bookmark_title = bookmark.title if bookmark.title else bookmark.url %}
                {% set bookmark_timestamp = bookmark.timestamp if bookmark.timestamp else '' %}
                {% set bookmark_path = recording_path + bookmark.url %}
                {% set hidden_class = "hidden-bookmark-row" if bookmark.hidden == '1' else "" %}

                <tr class="{{ hidden_class }}">
                    <td>{{ bookmark_title }}</td>
                    <td data-time-ts="{{ bookmark_timestamp }}"></td>
                    <td><a href="{{ bookmark_path }}">{{ bookmark.url }}</a></td>
                    <td>
                        {% include 'bookmark_row_actions.html' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'confirm_delete_recording_modal.html' %}

{% endblock %}

