{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

{% endblock %}

{% block content %}
<div class="row">
    {% if (not email or not invite) and not skip_invite %}
    <div class="col-sm-8 col-md-6 col-md-offset-2">
        <h2>Webrecorder Invite Request</h2>

        <h4>For now, the Webrecorder beta is available on a limited basis.</h4>
        <h4>To request an invite, please fill out the form below.</h4>
        <h4>You'll receive an invitation
            code allowing you to register as soon as we are ready!</h4>
    </div>
    <div class="col-sm-6 col-md-4 col-md-offset-2">
        <form id="invite" action="/_invite" method="post" role="form" data-toggle="validator" data-delay="1000">
            <div class="form-group">
                <label for="username" class="sr-only">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" data-delay="1000" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="desc" class="sr-only">Other Comments:</label>
                <textarea type="text" id="desc" name="desc" class="form-control" maxlength="100" placeholder="Field of interest / other comments (optional)"></textarea>
                <div class="help-block with-errors"></div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Request Invite</button>
        </form>
    </div>

    {% else %}

    <div class="col-sm-8 col-md-6 col-md-offset-2">
        <h2>Webrecorder Account Sign-Up</h2>

        <h4>Create your own web archive as you browse!</h4>
        <br/>
        <h4>To begin, please fill out the registration form below.</h4>
        <br/>
   </div>

    <div class="col-sm-6 col-md-4 col-md-offset-2">
        <form id="register" method="post" role="form" data-toggle="validator" data-delay="1000">
            <div class="form-group">
                <h5 class="">Choose a username for your archive </h5>

                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="username"
                       pattern="[A-Za-z0-9][\w-]{2,15}" data-error="Usernames must be 3-16 characters, and start with letter or digit and contain only letters, digit or -" autofocus="true" data-delay="1000" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="username" class="sr-only">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name (Optional)" data-delay="1000"/>
            </div>

            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ email }}" placeholder="Your Email" required>
                <div class="help-block with-errors"></div>
            </div>

            <input type="hidden" name="invite" value="{{invite}}"/>

            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" data-minlength="8" name="password" class="form-control" placeholder="Password"
                       pattern="(?=.*[\d\W])(?=.*[a-z])(?=.*[A-Z]).{8,}" data-error="Password must be at least 8 characters and contain lower, uppercase, and either digits or symbols" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="password" class="sr-only">Confirm Password</label>
                <input type="password" id="confirmpassword" data-minlength="8" data-match="#password" name="confirmpassword" class="form-control"
                       placeholder="Confirm Password" pattern="(?=.*[\d\W])(?=.*[a-z])(?=.*[A-Z]).{8,}" data-error="Password must be at least 8 characters and contain lower, uppercase, and either digits or symbols" data-match-error="Password confirmation does not match" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="move-temp-cont">
            {% include 'move_temp_form.html' %}
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

            <p style="margin-top: 2em"><small>By registering, you agree to our <a href="/_policies">terms of service</a>, including that we may use the provided email address to contact you from time to time in reference to the service and your account.</small></p>

        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
