<!-- Report -->
<div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="report-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>This Page Doesn't Look Right? Let Us Know!</h4>
                <p>Some pages are tricky for Webrecorder to capture and replay. Our goal is to make it work as best as possible on any page!</p>
                <p>Please indicate anything that may have gone wrong on this page. Your feedback will help make Webrecorder better!</p>
            </div>
            <form method="post" action="/_reportissues" id="report-form">
                <div class="modal-body">
                    <div>
                        <input type="checkbox" name="loading" value="true"/>&nbsp;Page not loading
                    </div>
                    <div>
                        <input type="checkbox" name="missing" value="true"/>&nbsp;Missing content (Images, Video)
                    </div>
                    <div>
                        <input type="checkbox" name="video" value="true"/>&nbsp;Video/Audio not playing
                    </div>
                    <div>
                        <input type="checkbox" name="embed" value="true"/>&nbsp;Embedded content issues
                    </div>
                    <div>
                        <input type="checkbox" name="scrolling" value="true"/>&nbsp;Scrolling issues
                    </div>
                    <div>
                        <input type="checkbox" name="leak" value="true"/>&nbsp;Some items not archived, loading from live web
                    </div>
                    <div style="margin-top: 10px">
                        <label for="other" class="sr-only">Additional Info:</label>
                        <textarea name="desc" placeholder="Additional Info (optional)" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <p id="report-thanks" class="pull-left"></p>
                    <button id="report-form-submit" type="submit" class="btn btn-primary">Submit Report</button>
                </div>
            </form>
        </div>
    </div>
</div>   
