{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

<!--<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css"/>-->
<link rel="stylesheet" href="/static/__shared/external/dataTables.bootstrap.css"/>

<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
<script type="text/javascript" language="javascript" src="/static/__shared/external/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/__shared/external/dataTables.bootstrap.js"></script>

<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<script src="/static/__shared/external/jquery-ui.min.js"></script>

<script src="/static/__shared/external/jquery.selectBoxIt.min.js"></script>
<link rel="stylesheet" href="/static/__shared/external/jquery.selectBoxIt.css"/>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>


<style>
    table.dataTable td, table.dataTable th {
        font-size: 14px;
        font-weight: bold;
    }
    .dataTables_empty {
        text-align: center;
    }
    .selectboxit-container {
        margin-top: -5px;
    }
    ul.nav-tabs span.glyphicon {
        margin-right: 4px;
    }
</style>

<script>
    var coll_id = "{{ coll_id }}";
    var coll_path = "{{ path }}";
    {#
    var coll_size = {{ coll_size if coll_size else '0' }};
    var max_size = {{ max_size if max_size else '0' }};
    #}
    var can_admin = {{ 'true' if can_admin() else 'false' }};
    var can_write = {{ 'true' if can_write() else 'false' }};
</script>

<script src="/static/__shared/editor.js"></script>
<script src="/static/__shared/coll.js"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="page-header" style="margin-top: 10px">
        <h1 style="display: inline"><span id="coll-title">{{ title }}</span>&nbsp;
            {% if not is_anon() %}
            <small>/{{ coll }}</small>
            {% endif %}
        </h1>
        <span style="font-size: 14px" class="pull-right">
            <div style="margin: 18px 20px; display: inline-block">
                {% include 'frag_accessswitch.html' %}
            </div>
        </span>
    </div>
</div>

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-offset-2 col-md-8">
        {% if can_write() %}
        {% include 'frag_recordbar.html' %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div>
        <!-- Nav tabs -->
        <ul id="thetab" class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-list-alt"></span>About
                </a>
            </li>
            <li role="presentation">
                <a href="#records" aria-controls="records" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-book"></span>Records
                </a>
            </li>
            {#
            <li role="presentation">
                <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-search"></span>Search
                </a>
            </li>
            #}
            {% if can_admin() %}
            <li role="presentation">
                <a href="#files" aria-controls="files" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-hdd"></span>Storage
                </a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-cog"></span>Settings
                </a>
            </li>
            <p class="pull-right" style="margin-right: 15px">Space Used: <b class="formatbytes">{{ coll_size }}</b>&nbsp;/&nbsp;<b class="formatbytes">{{ max_size }}</b>
            </p>
            {% if anon_ttl %}
            <p class="pull-right" style="margin-right: 40px"><i>Expires in <span id="expire">{{ anon_ttl }}</span></i></p>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>


<div role="tabpanel" style="margin-top: 20px">
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- About Tab -->
        <div role="tabpanel" class="tab-pane" id="about">
            {% if can_write() and not is_anon() %}
            <button id="home-edit" class="btn btn-default btn-sm pull-right" data-toggle="button" aria-pressed="false">
                Edit</button>
            {% endif %}

            <div id="home-markdown" style="display: none">{{desc}}</div>
            <div id="home-view"></div>
        </div>
        <!-- Records Tab -->
        <div role="tabpanel" class="tab-pane" id="records">
            <div style="margin-bottom: 12px">The following pages were recorded in this collection:</div>
            <table id="pageTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Recorded on</th>
                    </tr>
                </thead>
            </table>
        </div>
        
        <!-- Search Tab -->
        <div role="tabpanel" class="tab-pane" id="search">Search</div>
        
        <!-- Storage Tab -->
        <div role="tabpanel" class="tab-pane" id="files">
            <div style="margin-bottom: 15px">All archived data is stored in standard <b>WARC format</b> files. You can browse WARC files locally by using <a href="https://github.com/ikreymer/webarchiveplayer"><b>WebArchivePlayer</b></a></div>
            <div class="coll-download"><a href="/_dlall?coll={{coll_id}}">Download WARC For Collection</a>&nbsp;&nbsp;(<span style="" id="total-warc-size"></span>)</div>

            <div style="margin-bottom: 15px">Download individual WARC files in this collection:</div>
            <table id="warcsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Last Modified</th>
                        <th>Size</th>
                    </tr>
                </thead>
            </table>
        </div>
        
        <!-- Settings Tab -->
        <div role="tabpanel" class="tab-pane" id="settings">
            <div class="row col-md-6">
                {% if not is_anon() %}
                <form id="update-title-form">
                    <label for="new_title" width=>Collection Title:</label>
                    <div class="input-group">

                        <input type="text" id="new-title" value="{{title}}" placeholder="Enter a title for this collection" class="form-control"/>
                        <span class="input-group-btn">
                            <button id="update-title" type="submit" class="btn btn-default" type="button">Update</button>
                        </span>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div class="row col-md-6" style="margin-top: 50px">
                {% include 'frag_accessswitch.html' %}
            </div>

            <div class="clearfix" style="margin-bottom: 150px"></div>
            <div class="row col-md-6">
                <div class="alert alert-danger">
                    <b>Permanantely delete this collection?</b>
                    <p>This action can not be undone!</p>
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">Delete Collection</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Collection?
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the collection <b>{{title}}</b> {{ '(/' + coll + ')' if coll != '@anon' else '' }}?</p>
                <p>If you confirm, all archived data will be permanently deleted.</p>
                <p>Be sure to download the WARC files if you would like to keep them.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form style="display: inline" method="post" action="/_delete_coll?coll={{coll_id}}">
                    <button type="submit" class="btn btn-danger btn-ok" id="confirm-delete">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
