{% if anon_size and anon_recordings %}
    {% set path = get_path(anon_user, 'temp') %}
    {% set recording_string = "recording" if (anon_recordings == 1) else "recordings" %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Congratulations! You have a
                        <ol class="breadcrumb breadcrumb-webrecorder">
                            <li><a href="{{ path }}">Temporary Collection</a></li>
                        </ol>
                    with {{ anon_recordings }} {{ recording_string }}.
                </div>
                <div class="panel-body">
                    <div class="top-buffer-md">
                        This collection will expire after <b data-anon-timer="{{ anon_ttl }}"></b> of inactivity.
                    </div>
                    <div class="top-buffer-md">
                        You can:
                        <ul>
                            <li>
                                <a href="/_register" target="_parent" ><strong>Sign Up</strong></a> or <a href="#" data-toggle="modal" data-target="#login-modal">Login</a> to give your collection a shareable, permanent address on <a href="/">webrecorder.io</a>
                            </li>
                            <li>
                                Browse and replay your <ol class="breadcrumb breadcrumb-webrecorder">
                                <li><a href="{{ path }}">Temporary Collection</a></li>
                                </ol>
                            </li>
                            <li>
                                Continue recording by entering another url below and clicking <b>Record</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif curr_user %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    You are logged-in as <b><a href="/{{ curr_user }}">{{ curr_user }}</a></b>
                </div>
                <div class="panel-body">
                    You can:
                    <div class="top-buffer-md">
                        <ul>
                            <li>
                                Browse your archive: There are <a href="/{{ curr_user }}"><b>{{ num_collections }} Collections</b></a> in your archive.
                            </li>
                            <li>
                                Quick Record: Enter a url, choose a collection (or create a new one), then click <b>Record</b> to begin.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
