{% extends "main_bootstrap.html" %}

{% block content %}
<div class="row">
    <h2>Url Search Results</h2>
    {% if cdx_lines|length == 0 %}
    <p>No recorded versions of <b data-value-encoded="{{ url }}"></b> found.</p>
    {% else %}
    <p>Showing recorded versions of <b data-value-encoded="{{ url }}"></b></p>
    <table id="page_list" class="table table-striped">
        <caption><h3>Url Results</h3></caption>
        <thead>
            <tr>
                <th>Url</th>
                <th>Recorded On</th>
                <th>From Recording</th>
            </tr>
        </thead>
        <tbody>
            {% set path = get_path(user, coll) + '/' %}
            {% for cdx in cdx_lines %}
            {% set linkurl = path + cdx.timestamp + '/' + cdx.url %}
            <tr>
                <td><a href="{{ linkurl }}" data-value-encoded="{{ cdx.url }}"></a></td>
                <td><a href="{{ linkurl }}" data-time-ts="{{ cdx.timestamp }}"></a></td>
                <td><a href="{{ path + cdx.rec }}">{{ rec_titles[cdx.rec] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}
