{% if curr_user %}
    <ul class="nav">
        <li class="navbar-text navbar-right">
            <a target="_parent" title="Logout" href="/_logout">
            <span class="glyphicon glyphicon-log-out" title="Logout"></span></a>
        </li>
        <li class="navbar-text navbar-right">
            <a target="_parent" href="/{{ curr_user }}/_settings"><span title="Settings" class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="navbar-text navbar-right">
            <a target="_parent" href="/{{ curr_user }}">
                <span class="glyphicon glyphicon-user right-buffer-sm"></span>{{ curr_user }}
            </a>
        </li>
    </ul>
{% else %}
    <ul class="nav">
        <li class="navbar-right">
            <a class="login-link" href="/_login_modal">Login</a>
        </li>
        <li class="navbar-right">
            <a href="/_register" target="_parent" >Sign Up</a>
        </li>
    </ul>
{% endif %}
