{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<link href="/static/__shared/external/bootstrap-switch.css" rel="stylesheet">
<script src="/static/__shared/external/bootstrap-switch.js"></script>

<script src="/static/__shared/editor.js"></script>
<script src="/static/__shared/user.js"></script>


{% endblock %}

{% block content %}

<div class="jumbotron">
    <div id="about">
        {% if is_owner() %}
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#create-modal" role="button">
                    <span class="glyphicon glyphicon-plus" style="margin-right: 4px"></span>New Collection
                </a>
            </div>
        {% endif %}

        <div id="home-markdown" style="display: none">{{ user_info.desc | default('User Info TODO') }}</div>
        <div id="home-view"></div>
    </div>

    {% if is_owner() %}
        <button id="home-edit" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false">Edit</button>

        <div class="pull-right space-usage-info">
            <strong>Space Used:</strong>
            <span data-size={{user_info.size}}></span>
            <div class="progress space-usage">
                <div class="progress-bar" role="progressbar" data-current-size="{{user_info.size}}" data-max-size="{{user_info.max_size}}" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
    {% endif %}

    <ul class="list-group top-buffer">
        {% for coll in colls | sort(attribute='title') %}
        {% set is_public = coll['r:@public'] %} 
        <li class="list-group-item">
            <a href="/{{ user }}/{{ coll.id }}" style="font-size: 20px">{{ coll.title | default(coll.id) }}</a>
            {% if is_public %}
            <span class="pull-right glyphicon glyphicon-globe" title="Public Collection -- Visible to Everyone" style="font-size: 14px; margin-top: 5px; margin-left: 12px;"></span>
            {% else %}
            <span class="pull-right" style="font-size: 14px; margin-top: 5px; margin-left: 26px;"></span>
            {% endif %}
            <p class="colls-size pull-right" data-size="{{ coll.size }}" style="font-size: 14px; margin-top: 4px"></p>
        </li>
        {% endfor %}
    </ul>
    {% if not colls %}
    <p class="text-center" style="font-style: italic">
        {% if is_owner() %}
        No Collections (Yet)
        {% else %}
        No Available Collections
        {% endif %}
    </p>
    {% endif %}
</div>

<script>
    init_markdown_editor("/api/v1/users/{{ user }}/desc");
</script>

{% endblock %}

{% block body %}
    {{ super() }}
    {% include 'create_collection_modal.html' %}
{% endblock %}


