{% if curr_user %}
    <p class="navbar-text navbar-right userset">
        <a target="_parent" title="Logout" href="/_logout" class="navbar-link">
            <span class="glyphicon glyphicon-log-out" title="Logout"></span></a></p>
    <p class="navbar-text navbar-right userset">
        <a target="_parent" href="/{{ curr_user }}/_settings"><span title="Settings" class="glyphicon glyphicon-cog"></span></a>
    </p>
    <p class="navbar-text navbar-right userinfo">
        <a target="_parent" href="/{{ curr_user }}"><span class="glyphicon glyphicon-user"></span></a>
        <a target="_parent" href="/{{ curr_user }}"><b>{{ curr_user }}</b></a>
    </p>
{% else %}
    <p class="navbar-right">
        <a id="login" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
    </p>
    <p class="navbar-right">
        <a id="register" target="_parent" href="/_register" class="">Sign Up</a>
    </p>
{% endif %}
