{% extends "main_bootstrap.html" %}

{% block head %}

{{ super() }}

<link href="/static/__shared/external/bootstrap-markdown.min.css" rel="stylesheet">
<script src="/static/__shared/external/marked.min.js"></script>
<script src="/static/__shared/external/bootstrap-markdown.js"></script>

<script src="/static/__shared/editor.js"></script>

{% endblock %}

{% block content %}

<div class="jumbotron">
    {% if is_owner() %}
    <button id="home-edit" class="btn btn-success btn-sm pull-right" data-toggle="button" aria-pressed="false">Edit</button>
    {% endif %}

    <div id="about">
        <div id="home-markdown" style="display: none">{{ user_info.desc | default('User Info TODO') }}</div>
        <div id="home-view"></div>
    </div>

    <ul class="list-group text-center">
        {% for coll in colls | sort(attribute='title') %}
        {% if is_owner() or coll['r:@public'] %}
        <li class="list-group-item">
            <a href="/{{ user }}/{{ coll.id }}" style="font-size: 20px">{{ coll.title | default(coll.id) }}</a>
            {% if coll['r:@public'] %}
            <span class="pull-right glyphicon glyphicon-globe" title="Public Collection -- Visible to Everyone" style="font-size: 14px; margin-top: 5px; margin-left: 12px;"></span>
            {% else %}
            <span class="pull-right" style="font-size: 14px; margin-top: 5px; margin-left: 26px;"></span>
            {% endif %}
            <p class="colls-size pull-right" data-size="{{ coll.size }}" style="font-size: 14px; margin-top: 4px"></p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% if not colls %}
    <p class="text-center" style="font-style: italic">
        {% if is_owner() %}
        No Collections (Yet)
        {% else %}
        No Available Collections
        {% endif %}
    </p>
    {% endif %}

    {% if is_owner() %}
    <p class="pull-right"><a class="btn btn-sm btn-default" href="/{{ user }}/_settings" role="button">
        <span class="glyphicon glyphicon-cog" style="margin-right: 4px"></span>Account Settings</a></p>
    <p><a class="btn btn-primary btn-sm" href="/_create" role="button">
        <span class="glyphicon glyphicon-plus" style="margin-right: 4px"></span>Create New Collection</a></p>
    {% endif %}
</div>

<script>
    $(function() {
        $(".colls-size").each(function(i, elem) {
            $(elem).text(format_bytes($(elem).attr("data-size")));
        });
    });

    init_markdown_editor("{{ user }}");
</script>

{% endblock %}
