{% set recording_column_index = 6 if is_owner() else 4 %}
{#
{% if is_owner() %}
        <input type="checkbox" checked="checked" name="show-hidden" id="show-hidden" style="margin-left: 8px; margin-right: 8px"><label for="show-hidden">Include Hidden Bookmarks</label>
{% endif %}
 #}
<table class="table table-noborder table-striped table-hover table-bookmarks"
       data-page-length="25"
       data-recording-column-index="{{  recording_column_index }}">
    <thead>
        <tr>
            {% if can_admin() %}
            <th class="bookmark-hidden-switch">
                <input type="checkbox" class="left-buffer-sm" id="show-hidden" name="show-hidden" data-inverse="true" data-size="mini" data-on-text="&#xe105;" data-off-text="&#xe106;" data-on-color="default" data-handle-width="10" checked="checked">
            </th>
            <th class="bookmark-edit-title"></th>
            {% endif %}
            <th class="bookmark-title"><span>Bookmarks</span></th>
            <th class="bookmark-browser">Browser</th>
            <th class="timestamp">Timestamp</th>
            <th class="bookmark-url">URL</th>
            <th class="bookmark-recording-title">Recording</th>
        </tr>
    </thead>
    <tbody>
        {% for recording in collection.recordings %}
            {% set collection_path = get_path(user, coll) + '/' %}
            {% set browsers = get_browsers() %}

            {% for bookmark in recording.pages %}
                {% set browser = browsers[bookmark.browser] if bookmark.browser in browsers else None %}
                {% set bookmark_id = bookmark.url + ' ' + bookmark.timestamp + ' ' + (browser.id if browser else '-') %}
                {% set title = bookmark.title if bookmark.title else "No Title" %}
                {% set timestamp = bookmark.timestamp if bookmark.timestamp else '' %}
                {% set path = collection_path + timestamp + '/' + bookmark.url %}
                {% set cb_path = collection_path + timestamp + ('$br:'+browser.id if browser else '') + '/' + bookmark.url %}
                {% set hidden = "1" if bookmark.hidden == '1' else "0" %}

                {% set editing_id = "bookmark-" + recording.id + "-" + timestamp + "-" + bookmark.url %}
                {% set title_label = "Bookmark Title" %}
                {% set save_function = "bookmark" %}

                {% if is_owner() or bookmark.hidden != '1' %}
                    <tr data-bookmark-timestamp="{{ timestamp }}"
                        data-bookmark-url="{{ bookmark.url }}"
                        data-bookmark-hidden="{{ hidden }}"
                        data-bookmark-browser="{{ browser.id if browser else '-' }}"
                        data-recording-id="{{ recording.id }}" >

                        {% if can_admin() %}
                            <td class="bookmark-hidden-switch">
                                {% include 'bookmark_hidden_switch.html' %}
                            </td>

                            <td class="bookmark-edit-title">
                                <button type="button" class="edit-title right-buffer-sm btn btn-default btn-xs icon-button"
                                        aria-label="Edit bookmark title"
                                        title="Edit bookmark title"
                                        data-editing-id="{{ editing_id }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>

                                {% include 'edit_title_form.html' %}

                            </td>
                        {% endif %}

                        <td class="bookmark-title">
                            <span class="editable-title" data-editing-id="{{ editing_id }}" class="collapse"><a href="{{ path }}">{{ title }}</a></span>
                        </td>

                        <td class="rec-browser{% if not browser %} empty{% endif %}">
                            {% if browser %}
                                <a href="{{ cb_path }}" title='{{ browser.name|capitalize }} version {{ browser.version }}'>
                                    <img src='/api/browsers/browsers/{{ browser.id }}/icon'>
                                    v{{ browser.version }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="timestamp" data-order="{{ timestamp }}" data-time-ts="{{ timestamp }}"></td>
                        <td class="bookmark-url">
                          <a href="{{ path }}"
                             {% if '?' in bookmark.url %}title="{{ bookmark.url }}"{% endif %}
                             data-value-encoded="{{ bookmark.url|trunc_url }}"
                             data-target-decoded=""></a></td>
                        <td class="bookmark-recording-title">{{ recording.title }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
