
<ol class="breadcrumb navbar-left wr-breadcrumb">
    <li>
        {% if not is_home %}
        <a target="_parent" class="branding" title="Return to {{ metadata.product | default('Webrecorder')}}" href="/">
            {{ metadata.product }}
        </a>
        {% else %}
        <span>{{ metadata.product }}</span>
        {% endif %}
    </li>

    {% if user and not is_anon() %}
    <li>
        {% if coll %}
        <a target="_parent" href="/{{ user }}" title="Return to archive: {{ user }}" class="archive-breadcrumb">{{ user }}</a>
        {% else %}
        <span>{{ user }}</span>
        {% endif %}
    </li>
    {% endif %}

    {% if coll %}
    <li>
        <a target="_parent" id="coll-breadcrumb-link" href="{{ get_path(user, coll) }}" data-collection-id="{{ coll }}" data-value-encoded="{{ coll_title }}" data-target-decoded="" class="collection-breadcrumb"></a>
        <span style="display: none" id="coll-breadcrumb-text" data-value-encoded="{{ coll_title }}" data-target-decoded=""></span>
    </li>
    {% endif %}

    {% if rec and rec != '*' %}
    <li>
        <a target="_parent" id="rec-breadcrumb-link" href="{{ get_path(user, coll, rec) }}" data-recording-id="{{ rec }}" data-value-encoded="{{ rec_title }}" data-target-decoded="" class="recording-breadcrumb"></a>
    </li>
    {% elif curr_mode == 'new' %}
    <li><span>Create a new recording</span></li>
    {% elif not rec and not url %}
    <li style="display: none"><span class="recording-filter-list" data-recordings-in-content-panel="$all"></span></li>
    {% endif %}
</ol>

