{% extends "base_bootstrap.html" %}
{% block head %}
<meta property="og:url" content="{{ get_share_url() }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Archived page from the &ldquo;{{ coll_title|urldecode|e }}'&rdquo; Collection on {{ get_app_host()|default('webrecorder.io', true) }}" />
<meta name="og:description" content="{{ info.coll_desc|e|default('Create high-fidelity, interactive recordings of any web site you browse.', true) }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@webrecorder_io" />
<meta name="twitter:title" content="Archived page from the &ldquo;{{ coll_title|urldecode|e }}&rdquo; Collection on {{ get_app_host()|default('webrecorder.io', true) }}" />
<meta name="twitter:description" content="{{ info.coll_desc|e|default('Create high-fidelity, interactive recordings of any web site you browse.', true) }}" />

{{ super() }}
<script>
    wbinfo = {}
    wbinfo.outer_prefix = decodeURI("{{ top_prefix }}");
    wbinfo.url = "{{ url }}";
    wbinfo.capture_url = wbinfo.url;
    wbinfo.timestamp = "{{ ts }}";
    wbinfo.state = "{{ curr_mode }}";
    wbinfo.info = {{ info | default('{}') | tojson }};

    window.cnt_browser = "{{ browser }}";

    window.reqid = "{{ reqid }}";

    window.inactiveSecs = {{ inactive_time if inactive_time else 0 }};

</script>

{% if curr_mode == 'replay' or curr_mode == 'replay-coll' %}
<script type="text/javascript">
    var recordings = {{ get_recs_for_coll() }};
</script>
{% endif %}

{% assets "main-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}

{% assets "browser-css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}

{% assets "browser-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="/static/browsers/browser_controller.js"></script>

{% endblock %}

{% block body %}

{% if not is_embed %}
{% include 'header.html' %}
{% endif %}

<div id="message" class="browser">{{ message }}</div>
<div id="browser" class="browser"></div>

<div class="modal fade" id="clipboard-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Remote Browser Clipboard</h4>
            </div>
            <div class="modal-body">
                <p>Any text selected in the remote browser will appear below.</p>
                <p>You can also enter text here to paste (Ctrl+V) into the remote browser.</p>
                <textarea id="clipboard" style="width: 100%; min-height: 200px" autofocus></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include 'reporterror.html' %}

{% endblock %}

