<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="create-label" aria-hidden="true">
    <div class="modal-dialog" style="">
        <div class="modal-content" style="padding-bottom: 40px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Create New Collection</h4>
            </div>
            {% include 'create_collection_form.html' %}
        </div>
    </div>
</div>

