<html>
<body>
<p>You are receiving this email because you have requested a password reset for your account.</p>

<p>If you did <b>not</b> request a password reset, your account is safe, but please report this incident to <a href="mailto:support@conifer.rhizome.org">support@conifer.rhizome.org</a></p>


<p>To reset your password, please follow <a href="{{ host }}/_resetpassword/{{reset_code}}?username={{username}}">this reset link</a></p>

<p>Or paste the link below into your browser:
{{ host }}/_resetpassword/{{reset_code}}?username={{username}}</p>

<p>The Conifer Team</p>

</body>
</html>
