<html>
<body>
<p>Hello {{username}},</p>

<p>Click the button below to complete your registration. If you did not sign up for Conifer, you can ignore this message.</p>
<p><b><a href="{{host}}/_valreg/{{registration_code}}?username={{username}}">Confirm</a></b>.</p>

<p>Or paste the link below into your browser:
{{host}}/_valreg/{{registration_code}}?username={{username}}
</p>

<p>Your username is <b>{{username}}</b>.</p>
<p>Your collections will be located at <a href="{{host}}/{{username}}"<b>{{host}}/{{username}}</b></a></p>

<p>Happy Archiving!</p>

<p>Please don't hesitate to contact us at <a href="mailto:support@conifer.rhizome.org">support@conifer.rhizome.org</a> if you have any questions, issues or comments.

<p>The Conifer Team</p>

</body>
</html>
