<html>
<body>

<p>Hello {{name}},</p>

<p>You are receiving this e-mail because you requested an account on webrecorder.io</p>

<p>We are now happy to announce that with the latest release of Webrecorder, anyone can sign-up for an account and receive up-to 5GB of storage.</p>

<p>You can visit <a href="https://webrecorder.io/_register">Webrecorder Registration</a> to register at any time.</p>

<p>For more details about this new release, you can <a href="http://rhizome.org/editorial/2016/aug/09/rhizome-releases-first-public-version-of-webrecorder/">read our post here</a></p>

<p>Feel free to contact us at <a href="mailto:support@webrecorder.io">support@webrecorder.io</a> if you have any questions or concerns, or would like to provide any feedback for the project.</p>

<p>Ilya Kreymer</p>
<p>Dragan Espenschied</p>
<p>Webrecorder and Rhizome.org</p>

<!-- For tests, actual invite link:
<p>To start the registration, please go to:</p>
<p><b><a href="{{host}}/_register?invite={{invite}}">Register</a></b></p>
-->

</body>
</html>

