<html>
<body>
<p>Hello {{username}},</p>

<p>You are receiving this email to confirm that you registered for an account at <b>Webrecorder</b></p>

<p>Since your username is <b>{{username}}</b>, your collections will be located at
<a href="{{host}}/{{username}}"<b>/{{username}}</b></a> once you complete this registration.</p>

<p>To complete this registration, please click:</p>
<p><b><a href="{{host}}/_valreg/{{registration_code}}">Confirm</a></b></p>

<p>If the above link is not working, point your browser to the following url: {{host}}/_valreg/{{registration_code}}
</p>

<p>Happy Archiving!</p>

<p>Please don't hesitate to contact us at <a href="mailto:support@webrecorder.io">support@webrecorder.io</a> if you have any questions, issues or comments!

<p>Ilya Kreymer, Dragan Espenschied</p>
<p>Webrecorder and Rhizome</p>

</body>
</html>
