<html>
<body>
<p>You are receiving this email because you or someone with your email or username has requested a password reset for your account</p>

<p>If you did not request a password reset, your account is safe but please report this incident to <a href="mailto:support@webrecorder.io">support@webrecorder.io</a></p>


<p>To reset your password, please follow <a href="{{ host }}/_resetpassword/{{reset_code}}?username={{username}}">this reset link</a></p>

<p>If the above link is not working, point your browser to the following url: {{ host }}/_resetpassword/{{reset_code}}?username={{username}}</p>

<p>Ilya Kreymer, Dragan Espenschied</p>
<p>Webrecorder and Rhizome</p>

</body>
</html>
