<!-- WB Insert -->
{% if not env.pywb_proxy_magic %}

{% assets "pywb-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% else %}

{% assets "proxy-js" %}
<script type="text/javascript" src="{{ host_prefix }}{{ ASSET_URL }}"></script>
{% endassets %}

{% endif %}

<script>
{% set urlsplit = cdx.url | urlsplit %}
  wbinfo = {}
  wbinfo.top_url = "{{ top_url }}";
{% if is_framed %}
  // Fast Top-Frame Redirect
  if (window == window.top && wbinfo.top_url) {
    var loc = window.location.href.replace(window.location.hash, "");
    loc = decodeURI(loc);
 
    if (loc != decodeURI(wbinfo.top_url)) {
        window.location.href = wbinfo.top_url + window.location.hash;
    }
  }
{% endif %}
  wbinfo.url = "{{ cdx.url }}";
  wbinfo.timestamp = "{{ cdx.timestamp }}";
  wbinfo.request_ts = "{{ wb_url.timestamp }}";
  wbinfo.prefix = decodeURI("{{ wb_prefix }}");
  wbinfo.mod = "{{ replay_mod }}";
  wbinfo.is_framed = {{ is_framed | tobool }};
  wbinfo.is_live = {{ is_live | tobool }};
  wbinfo.coll = "{{ coll }}";
  wbinfo.proxy_magic = "{{ env.pywb_proxy_magic }}";
  wbinfo.static_prefix = "{{ host_prefix }}/{{ static_path }}/bundle/";

{% if not wb_url.is_banner_only or env.pywb_proxy_magic %}
  wbinfo.use_wombat = true;
  wbinfo.use_auto_fetch_worker = true;
  wbinfo.auto_fetch_worker_prefix = "{{ host_prefix }}/static_cors/bundle/";

  wbinfo.wombat_ts = "{{ wombat_ts }}";
  wbinfo.wombat_sec = "{{ wombat_sec }}";
  wbinfo.wombat_scheme = "{{ urlsplit.scheme }}";
  wbinfo.wombat_host = "{{ urlsplit.netloc }}";

  wbinfo.wombat_opts = {};

  if (window && window._WBWombatInit) {
    window._WBWombatInit(wbinfo);
  }
{% else %}
window.devicePixelRatio = 1;
{% endif %}

</script>

<script>
wbinfo.state = "{{ curr_mode }}";
wbinfo.metadata = {{ cdx.metadata | default('{}') }};
</script>

<!-- Set canonical url -->
<link rel="canonical" href="{{ cdx.url }}"/>

{% if env.pywb_proxy_magic %}

<script>
wbinfo.proxy_user = "{{ user }}";
wbinfo.proxy_coll = "{{ coll }}";
wbinfo.proxy_rec = "{{ rec }}";
wbinfo.proxy_mode = "{{ type }}";
wbinfo.curr_browser = "{{ browser }}";

// for vi_ queries from vidrw
wbinfo.coll = "$video";
</script>

{% endif %}

<!-- End WB Insert -->

