{% if metadata.type != 'player' or curr_mode %}
<header>
    <div class="navbar navbar-default navbar-static-top">
        {% if metadata.type != 'player' %}
        <nav class="container-fluid header-webrecorder">
            {% include 'breadcrumbs.html' %}

            <!-- Countdown Timer -->
            <li class="navbar-left wr-timer" style="display: none">Temporary collection will expire after: <b data-anon-timer="{{ anon_ttl }}"></b>
            </li>


            <button type="button" class="navbar-toggle collapsed btn btn-sm" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div class="navbar-user-links navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% include 'user_management_links.html' %}
            </div>
        </nav>
        {% endif %}

        {% if curr_mode == 'new' %}
            <div class="container-fluid new-recording">
                <div class="col-sm-12">
                    <span class="glyphicon glyphicon-lg glyphicon-modal-window glyphicon-recording-status top-buffer-sm" aria-hidden="true"></span>
                    <span class="recorder-status">Create New Recording</span>

                    <label for="rec-title" class="sr-only">Recording title</label>
                    <input name="rec-title" type="text" class="left-buffer form-control input-sm title-inline" placeholder="Recording title" value="{{ rec_title }}" required>
                </div>
            </div>
        {% endif %}


        <div class="container-fluid wr-controls {% if not can_admin() %}public{% endif %}">
            {% include 'recorder.html' %}
        </div>

        {% if curr_mode and curr_mode != 'live' %}
            <div class='container-fluid wr-tools'>
                {% if curr_mode == 'replay' or curr_mode == 'replay-coll' %}
                    <strong>collection info:</strong>
                    <span class="left-buffer bookmark-count">0 bookmarks</span>
                    <span class="size-counter size-counter-active">
                        <span class="left-buffer badge current-size" data-size-display="{{ info.size }}"></span>
                    </span>
                    <span class="wr-divider"></span>
                {% endif %}
                <button id="autoscroll" type="button" class="btn btn-default btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">Autoscroll</button>

                {% if browser %}
                    <button type="button" data-toggle="modal" data-target="#clipboard-modal" class="left-buffer btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-copy glyphicon-button"></span>Clipboard</button>

                    <span id="browser-countdown-label">Browser Time Left: <span id="browser-countdown"></span></span>
                {% endif %}
            </div>
        {% endif %}
    </div>
</header>
{% endif %}
