{% if anon_size and anon_recordings %}
    <div class="alert alert-info" role="alert">
        <div class="form-group">
            {% set path = get_path(anon_user, 'temp') %}
            <h5>You have temporarily recorded <a href="{{ path }}"><b data-size-display="{{ anon_size }}"></b></a>.<br/>Would you like to import this collection into your account?</h5>
            <input style="" id="coll-move" type="checkbox" name="move-temp" value="1" aria-label="Move" checked="checked">
<h5 style="display: inline"><label for="coll-move">Yes, import <a href="{{ path }}"><b>{{ anon_recordings }} recording(s)</b></a> into my account.</h5></input><br/></label>
        </div>

        <div class="form-group">
            <label for="collection_name" class="">Collection Name:</label>
            <input type="text" id="to-coll" name="to-coll" class="to-coll form-control" value="New Collection" placeholder="New Collection Name" required="true">
            <div class="help-block with-errors"></div>
        </div>
    </div>
{% endif %}


