<div class="modal fade" id="move-modal" tabindex="-1" role="dialog" aria-labelledby="move-label" aria-hidden="true">
    <div class="modal-dialog" style="">
        <div class="modal-content" style="padding-bottom: 40px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><span class="glyphicon glyphicon-button glyphicon-export"></span>Move Recording</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-8">
                    <span>Move recording <b id="move-rec-title" data-move-rec-id=""></b> to:</span>
                    <span class="dropdown">
                        <button type="button" name="collection" class="btn btn-default dropdown-toggle dropdown-toggle-collection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="move-coll" data-move-to="" class="dropdown-toggle-label">Collection </span>&nbsp;<span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            {% for collection in collections | sort(attribute='title') %}
                            <li>
                                <a href="#" class="collection-select" data-collection-title="{{ collection.title|urlencode }}">{{ collection.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>

                <div class="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success btn-ok" id="confirm-move" disabled>Move</button>
                </div>
            </div>
        </div>
    </div>
</div>

