{% extends "main_bootstrap.html" %}

{% block head %}
{{ super() }}
<script>

    $(function() {
        if (window.top != window) {
            $("nav").hide();
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Url Not Found in this Collection</h2>
        <p>The url <b>{{ url }}</b> could not be found in this collection.</p>

        {% if curr_user == user %}
        <p>Would you like to <a target="_parent" href="/{{wbrequest.coll}}/record/{{url}}">record it now?</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

