{% extends "main_bootstrap.html" %}

{% block title %} | Viewing collections for tag{% endblock %}

{% block head %}

{{ super() }}

<script type="text/javascript">
    var data = {{ data }};
    var keys = {{ keys }};
</script>

<style type="text/css">
    body {
        margin-bottom: 0;
        overflow: hidden;
    }
</style>

{% endblock %}

{% block body %}

<div class='container-fluid paging-container'>
    <a class='home-link' href='/'><span class='glyphicon glyphicon-share-alt'></span> <span class='hidden-sm hidden-xs'>Webrecorder</span></a>
    <div class='input-group col-md-10 col-md-offset-1'>
        <div class='input-group-btn'>
            <button type="button" class="btn btn-default btn-prev disabled"><span class='glyphicon glyphicon-chevron-left'></span></button>
            {% if keys|length > 1 %}
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class='tagName'>{{ keys|first|replace('-', ' ') }}</span> <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for key in keys %}
                    <li><a href="#">{{ key|replace('-', ' ') }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <button type="button" class="btn btn-default disabled">{{ keys|first }}</button>
            {% endif %}
        </div>
        <div class='linklist'>
            <input type='text' class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" readonly/>
            <ul class="dropdown-menu">
            </ul>
            <span class='replay-date main-replay-date hidden-xs'></span>
        </div>
        <div class='input-group-btn'>
            <button type="button" class="btn btn-default btn-next"><span class='glyphicon glyphicon-chevron-right'></span></button>
        </div>
    </div>
</div>

<iframe  src="" onload="" seamless="seamless" frameborder="0" scrolling="yes" class="pager_iframe"></iframe>

{% assets "paging-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}

{% block footer %}
{% endblock %}