<div class="row">
    <h4 class="text-center" style="margin-bottom: 30px">Browse high-fidelity web archives</h4>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if upload_status and upload_status.size != upload_status.total_size %}
        <h4>Please wait while the archive is indexed...</h4>
        Now Indexing:
        <input type="text" id="upload-file" readonly style="font-weight: bold; background-color: white; width: 100%; border: 0px">
        <div class="upload-progress progress">
            <span class="upload-bar progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </span>
            <div class="upload-percent"></div>
        </div>
        <div id="upload-status"></div>
        <script>
        var upload_status = {{ upload_status | tojson }};
        $(function() { Uploader.initProgress("{{ curr_user }}", "@INIT", upload_status); });
        </script>
        {% else %}
        <h2 class="text-center"><a href="/{{ curr_user }}"><b>Browse Archive ({{num_collections}} Collections)</a></h2>
        {% endif %}
    </div>
</div>

