<div class="row" style="margin-top: 80px">
    <div class="col-md-6 col-md-offset-3 player-load-progress" style="display: none">
        <h4 id="player-msg">Please wait while the archive is indexed...</h4>
        <label id="upload-label" for="upload-file">Now Indexing:</label>
        <input type="text" id="upload-file" readonly style="font-weight: bold; background-color: white; width: 100%; border: 0px">
        <div class="upload-progress progress">
            <span class="upload-bar progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </span>
            <div class="upload-percent"></div>
        </div>
        <div id="upload-status"></div>
    </div>
</div>
<script>
$(function() {
    var upload_status = {{ upload_status | tojson }};
    Uploader.playerInitProgress(upload_status);
});
</script>

