<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-label" aria-hidden="true">
    <div class="modal-dialog" style="">
        <form id="upload-form" action="/_upload" method="post" enctype="multipart/form-data">
            <div class="modal-content" style="padding-bottom: 40px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><span class="glyphicon glyphicon-button glyphicon-upload"></span>Upload Web Archive to Webrecorder</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="upload-file">WARC/ARC file to upload: </label>

                            <div class="top-buffer-sm input-group">
                                <input type="text" id="upload-file" name="upload-file-text" class="form-control" name="warcfile" placeholder="Click Pick File to select a web archive file" required readonly style="background-color: white">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" id="choose-upload"><span class="glyphicon glyphicon-file glyphicon-button"></span>Pick File...</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="upload-progress progress">
                                <span class="upload-bar progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                </span>
                                <div class="upload-percent"></div>
                            </div>
                            <div id="upload-status"></div>
                            <input type="file" name="upload-file" id="choose-upload-file" style="display: none" accept=".gz,.warc,.arc,.har">
                            <input type="hidden" id="force-coll" name="force-coll" value="{{ collection.id if collection else ''}}">
                        </div>
                    </div>

                    {% if not is_anon() and collections %}
                    <div class="row">   
                        <div class="col-md-12 top-buffer">
                            <input id="upload-new" name="select-coll" type="radio" class="upload-choice" {{ 'checked' if not collection else ''}}><label for="upload-new">Automatically create new collection</label>
                        </div>
                    </div>

                    <div class="top-buffer">
                        <input id="upload-add" name="select-coll" type="radio" class="upload-choice" {{ 'checked' if collection else ''}}><label for="upload-add">Add to existing collection:</label>
                        <span class="dropdown">
                            <button type="button" name="collection" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="upload-coll" class="dropdown-toggle-label"></span>&nbsp;<span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                {% for collection in collections | sort(attribute='title') %}
                                <li>
                                    <a href="#" class="upload-collection-select" data-collection-id="{{ collection.id }}">{{ collection.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </span>
                    </div>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="upload-cancel btn btn-default" data-dismiss="modal">Cancel Upload</button>
                    <button type="submit" class="btn btn-success btn-ok" id="confirm-upload">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>




