{% if curr_user %}
    <ul class="nav">
        {% if not auto_login %}
        <li class="navbar-text navbar-right">
            <a target="_parent" title="Logout" href="/_logout">
                <span class="glyphicon glyphicon-log-out" title="Logout"></span><span class="visible-xs-inline-block left-buffer-sm">Log Out</span>
            </a>
        </li>
        {% endif %}

        {% if is_owner() %}
        <li class="navbar-text navbar-right">
            <a target="_parent" href="/_settings">
                <span class="glyphicon glyphicon-user right-buffer-sm"></span>{{ curr_user }}
            </a>
        </li>
        {% endif %}

        <li class="navbar-text navbar-right">
            <a target="_parent" href="/{{ curr_user }}">
                <span class="left-buffer-sm">My Collections (<span class="num-collections">{{ get_num_collections() }}</span>)</span>
            </a>
        </li>

        {% if curr_role == 'admin' %}
            <li class="navbar-text navbar-right">
                <a target="_parent" href="/admin/">
                    <span class="glyphicon glyphicon-wrench right-buffer-sm"></span>admin
                </a>
            </li>
        {% endif %}
    </ul>
{% else %}
    <ul class="nav">
        <li class="navbar-right">
            <a class="login-link" href="/_login_modal">Login</a>
        </li>
        <li class="navbar-right">
            <a href="/_register" target="_parent" >Sign Up</a>
        </li>
    </ul>
{% endif %}
