@import './vars';

html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  background-color: $white;
}

body {
  font-size: $font-size-base;
}

/*
 * Spacers and buffers
 *
 */
.top-buffer-none {
    margin-top: 0;
}

.top-buffer-sm {
    margin-top: .5rem;
}

.top-buffer-md {
    margin-top: 1rem;
}

.top-buffer {
    margin-top: 2rem;
}

.top-buffer-lg {
    margin-top: 4rem;
}

.left-buffer {
    margin-left: 2rem;
}

.left-buffer-sm {
  margin-left: .5rem;
}

.left-buffer-xs {
    margin-left: .1rem;
}

.right-padding {
  padding-right: 2rem;
}

.right-buffer {
  margin-right: 2rem;
}

.right-buffer-sm {
  margin-right: .5rem;
}

.bottom-buffer-lg {
  margin-bottom: 4rem;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-sm:before {
    content: "\25cf";
    font-size: 1.5em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-lg:before {
    content: "\25cf";
    font-size: 2em;
    vertical-align: sub;
    line-height: 0.1em;
}