@import './vars';

/* custom bootstrap */
@import './bootstrap';

.wr-content, .modal, .card, .conifer-announce {
    a:not(.dropdown-item), .button-link {
      &:link, &:visited {
        color: $slate;
        text-decoration: underline;
        transition: color $quickShift ease-in-out;
      }

      &:not(.dropdown-item):hover {
        color: $vivid-pine;
      }
    }
}

#app {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wr-overlay {
  position: absolute;
  z-index: 3000;
}

.alert {
  margin-top: rem(2.5rem);
}

.caret {
  transition: transform $quickShift ease-in-out;

  &:after {
      display: inline-block;
      vertical-align: 0.15em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
  }
}

.Collapsible__trigger .caret:after {
  transform: rotateZ(-90deg);
}
.Collapsible__trigger .caret-flip:after {
  transform: rotateZ(0deg);
}

.caret-flip {
  transform: rotateZ(0deg);
}

button.btn-cta {
  background: $pine;
  color: $slate;
  border: solid rem(.3rem) transparent;
  box-sizing: border-box;
  transition: border-color .25s ease-in-out;
  font-weight: 600;
  font-size: rem(1.4rem);

  &:hover {
    border: solid rem(.3rem) $dusty-pine;
  }
}

button.primary {
    background-color: $gray600;
    border: solid rem(.3rem) transparent;
    transition: border-color .25s ease-in-out;
    box-sizing: border-box;
    color: $white;
    font-weight: 600;
    font-size: rem(1.4rem);

    &:hover {
      border: solid rem(.3rem) $gray700;
    }
}

.wr-error-notice {
    position: fixed;
    top: 15vh;
    width: 50vw;
    left: 25vw;
}

.click-highlight {
  transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;
  border: solid rem(.1rem) transparent;
  border-radius: rem(.5rem);
  padding: rem(.3rem);
  cursor: pointer;

  &:hover {
    border-color: #E0E3E3;
    box-shadow: 0 0 rem(.5rem) #E0E3E3;
  }
}

.react-tabs__tab:first-of-type {
    margin-left: rem(1rem);
}

.form-group-recorder-url {
  display: flex;
}

/*
 * Spacers and buffers
 *
 */
.top-buffer-none {
    margin-top: 0;
}

.top-buffer-sm {
    margin-top: rem(.5rem);
}

.top-buffer-md {
    margin-top: rem(1rem);
}

.top-buffer {
    margin-top: rem(2rem);
}

.top-buffer-lg {
    margin-top: rem(4rem);
}

.left-buffer {
    margin-left: rem(2rem);
}

.left-buffer-md {
    margin-left: rem(1rem);
}

.left-buffer-sm {
  margin-left: rem(.5rem);
}

.left-buffer-xs {
    margin-left: rem(.1rem);
}

.right-padding {
  padding-right: rem(2rem);
}

.right-buffer {
  margin-right: rem(2rem);
}

.right-buffer-sm {
  margin-right: rem(.5rem);
}

.bottom-buffer-lg {
  margin-bottom: rem(4rem);
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-sm:before {
    content: "\25cf";
    font-size: 1.5em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-lg:before {
    content: "\25cf";
    font-size: 2em;
    vertical-align: sub;
    line-height: 0.1em;
}

.wr-divider {
    margin: 0 15px;
    width: 1px;
    height: 60%;
    background: #333;
}

.ra-mode-badge {
  padding: 0 rem(.5rem);
  font-size: rem(1.3rem);
  border-radius: rem(.2rem);
  text-transform: uppercase;
  color: #FFF;
  font-weight: 300;
  letter-spacing: rem(.1rem);
}

.wr-content {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  &.direction-override {
    flex-direction: row;
  }
}

.button-link {
    border: none;
    background: none;
    padding: 0;
    color: $pine;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        background: none;
    }
}

.rounded {
  color: $gray600;
  border-radius: 0;
  padding: rem(0.7rem) rem(3rem);
  font-size: rem(1.15rem);
  background: transparent;
}

.borderless {
    transition: opacity $slowShift ease-in-out;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.3;
    }
}

.borderless-input {
  transition: border $slowShift ease-in-out;
  border: none;
  background: none;
  border-bottom: solid 1px rgba(0,0,0,0);

  &:focus {
    border-bottom: solid 1px rgba(0,0,0,.4);
    outline: none;
  }
}

.check-mark.success {
  fill: $success-color;
}

/* collasible trigger animation */
.Collapsible__trigger {
    .glyphicon-triangle-right {
        transition: transform $slowShift ease-in-out;
    }

    &.is-open {
        .glyphicon-triangle-right {
            transform: rotateZ(90deg);
        }
    }
}


.on-boarding {
  margin: 0;
  width: 95vw;
  height: 90vh;

  display: flex;
  flex-direction: column;

  // don't slide-in onboarding modal
  transform: translate(0, 0) !important;

  .modal-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .modal-body {
      padding: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
        flex-grow: 1;
      }

    }
  }
}

#wr-popover-delete {
    max-width: rem(40rem);
    min-width: rem(20rem);

    h4 {
        font-weight: 300;
    }

    .warning {
        color: $warning;
        margin: rem(1rem) 0;
    }

    .action-row {
        display: flex;
        justify-content: flex-end;

        button + button {
            margin-left: rem(1rem);
        }
    }

    .wr-loader {
        vertical-align: middle;
        width: rem(1.8rem);
        height: rem(1.8rem);

        path {
            fill: #FFF;
        }
    }
}
