/* breakpoints */

$xs: 576px; // <=
$sm: 576px; // >=
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* fonts */
$font-size-base: 1.4rem;
$serif: "InknutAntiqua";
$sans: "HKGrotesk";

$mobile: 375px;

/* colors */
$collTrigger: rgb(0, 57, 229);
$blue: #0000ee;
$blue-deselect: #B4C1F5;
$dark-blue: #0129C4;
$bookmarkListDefault: rgb(100,100,100);
$brightGreen: #45A109;
$bright-green-highlight: #56BB13;
$buttonHover: #ececec;
$gray200: #F6F6F6;
$gray300: #EEEEEE;
$gray350: #D8D8D8;
$gray400: #E0E0E0;
$gray500: #CECECE;
$gray525: #9B9B9B;
$gray550: #7e7e7e;
$gray600: #6E6E6E;
$body-gray: #3E3E3E;
$header: #373944;
$link: #337ab7;
$linkHover: #74B9F3;
$listsBlue: #72D1FE;
$listsYellow: #F9FF95;
$mgmt-gray: #979797;
$sidebarBg: #FFF;
$slate: #8F9294;
$success-color: #7ED321;
$tableHeaderBg: #E0E0E0; //gray400
$tr-selected: #BABAC4;
$tr-highlight-selected: #0A0A97;
$white: #FFF;
$black: #000;
$yellow: rgb(255, 252, 108);
$warning: #d9534f;
$lightWarning: #FFF0F0;
$lightBlue: #F2F2FF;

$table-zebra: #F6F6F6; //gray200

$sidebarHeaderBg: #EDEDED;
$sidebarHeaderLabel: #6E6E6E;

/* css delays */
$quickShift: 125ms;
$midShift: 200ms;
$slowShift: 300ms;
$tableRowFade: 150ms;
