
/* fonts */
$font-size-base: 1.4rem;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$serif: "InknutAntiqua";
$sans: "HKGrotesk";

/* colors */
$collTrigger: rgb(0, 57, 229);
$blue: #0232F5;
$bookmarkListDefault: rgb(100,100,100);
$brightGreen: #A1F249;
$bright-green-highlight: #A2D66E;
$buttonHover: #ececec;
$light-gray: #CECECE;
$gray300: #EEEEEE;
$gray400: #E0E0E0;
$mid-gray: #7B7B7B;
$gray600: #6E6E6E;
$dark-gray: #3E3E3E;
$header: #373944;
$link: #337ab7;
$linkHover: #74B9F3;
$listsBlue: #72D1FE;
$listsYellow: #F9FF95;
$mgmt-gray: #979797;
$sidebarBg: #FFF;
$slate: #8F9294;
$success-color: green;
$tableHeaderBg: #D8D8D8;
$white: #FFF;
$yellow: #FFF900;

$sidebarHeaderBg: #EDEDED;
$sidebarHeaderLabel: #6E6E6E;

/* css delays */
$quickShift: 125ms;
$midShift: 200ms;
$slowShift: 300ms;
$tableRowFade: 150ms;
