
/* fonts */
$font-size-base: 1.4rem;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$serif: "InknutAntiqua";
$sans: "HKGrotesk";

/* colors */
$collTrigger: rgb(0, 57, 229);
$blue: #0232F5;
$bookmarkListDefault: rgb(100,100,100);
$brightGreen: #A1F249;
$buttonHover: #ececec;
$light-gray: #989898;
$dark-gray: #3E3E3E;
$header: #373944;
$link: #337ab7;
$linkHover: #74B9F3;
$listsBlue: #72D1FE;
$sidebarBg: #FFF;
$slate: #8F9294;
$success-color: green;
$tableHeaderBg: #D8D8D8;
$white: #FFF;
$yellow: #FFF900;

/* css delays */
$quickShift: 125ms;
$midShift: 200ms;
$slowShift: 300ms;
$tableRowFade: 150ms;
