@import 'src/vars';

.wr-uploading {
    cursor: 'wait';
}

.wr-radio-target {
    margin: rem(2rem) 0;

    label {
        margin-left: rem(.5rem);
    }
}

.wr-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: rem(2.5rem);
    overflow: hidden;
    margin-top: rem(2rem);
    border-radius: rem(.4rem);
    border: solid #CCC rem(.1rem);
    background: rgb(245, 245, 245);

    .progress {
        transition: width $slowShift ease-in-out;
        position: absolute;
        left: 0;
        height: rem(5rem);
        background: rgb(116, 180, 90);
    }

    .progress-readout {
        z-index: 10;
        font-size: rem(1.5rem);
    }
}