@import 'src/vars';

.app-header {
    .navbar-right:not(&:last-child) {
        margin-right: 1rem;
    }

    .wr-logomark {
        margin-right: 1rem;

        svg {
            height: 2.3rem;
            width: auto;
            vertical-align: middle;
        }
    }

    .navbar {
        transition: box-shadow $slowShift ease-in-out;
        min-height: .2rem;
        margin-bottom: .1rem;
        -webkit-box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
        box-shadow: inset 0 .1rem 0 rgba(255,255,255,.15),0 .3rem .6rem rgba(0,0,0,0.3);
        border: 0;
    }

    .navbar-header {
        display: flex;
        align-items: center;
    }

    .navbar-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-toggle {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
        color: $white;
        margin:0;
        z-index: 50;
    }

    .header-webrecorder {
        background-color: white;
        color: #ccc;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .collapse.in, .collapsing {
            margin-top: 1rem;

            .navbar-user-links > li > a {
                display: block;
                padding: 1rem 0;
                text-align: center;
            }
        }

        a:link,
        a:visited,
        .navbar-user-links>ul>li>a:link,
        .navbar-user-links>ul>li>a:visited {
            color: $gray600;
        }

        a:focus,
        a:hover,
        .navbar-user-links>ul>li>a:focus,
        .navbar-user-links>ul>li>a:hover {
            text-decoration: underline;
            background-color: inherit;
            color: $gray600;
        }

        a:active,
        .navbar-user-links>ul>li>a:active {
            outline: 0;
            color: $gray600;
        }
    }



    &.dark {
        .header-webrecorder {
            background-color: $body-gray;
            color: $white;

            a:link,
            a:visited,
            .navbar-user-links>ul>li>a:link,
            .navbar-user-links>ul>li>a:visited {
                color: $white;
            }

            a:focus,
            a:hover,
            .navbar-user-links>ul>li>a:focus,
            .navbar-user-links>ul>li>a:hover {
                color: $white;
            }

            a:active,
            .navbar-user-links>ul>li>a:active {
                color: $white;
            }
        }

        .wr-breadcrumb li span {
            color: $white;
        }

        .navbar-default .navbar-text {
            color: $white;
        }
    }

}
