@import 'src/vars';

.app-header {
    height: 5.5rem;

    .header-webrecorder {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 0 1.5rem;

        transition: background-color $quickShift ease-in-out;
        background-color: $deep-pine;

        .wr-logomark {
            margin-right: 1.5rem;
            align-self: flex-end;
            text-decoration: none;

            &.desktop {
                font-family: $serif;
                font-size: 1.8rem;
                text-decoration: none;
                color: $black;
            }

            .logo-anchor {
                display: flex;
                align-items: flex-end;

                svg {
                    height: 4.5rem;
                }

                h2 {
                    margin: 0;
                    font-family: $serif;
                    font-weight: 600;
                    color: $white;
                    font-size: 3.4rem;
                    margin-left: 1rem;
                }
            }

            svg {
                height: 3rem;
                width: 4.8rem;
                vertical-align: middle;
            }
        }

        .custom-report {
            color: $white;
        }

        .navbar-user-links>li>a:link,
        .navbar-user-links>li>a:visited {
            color: $white;
        }

        .navbar-user-links>li>a:focus,
        .navbar-user-links>li>a:hover {
            text-decoration: underline;
            background-color: inherit;
            color: $white;
        }

        .navbar-user-links>li>a:active {
            outline: 0;
            color: $white;
        }

        .space-usage {
            white-space: nowrap;
        }
    }



    &.dark {
        .header-webrecorder {
            background-color: $slate;
            color: $white;

            .wr-logomark.desktop {
                color: $white;
            }

            .navbar-user-links>li>a:link,
            .navbar-user-links>li>a:visited {
                color: $white;
            }

            .navbar-user-links>li>a:focus,
            .navbar-user-links>li>a:hover {
                color: $white;
            }

            .navbar-user-links>li>a:active {
                color: $white;
            }

            .navbar-user-links>li>button {
                color: $white;
            }

            .browser-nav {
                button {

                  &.arrow {
                    svg path {
                      fill: $gray500;
                    }

                    &.inactive {
                      path {
                        fill: $gray600;
                      }
                    }

                    &:not(.inactive):hover {
                      background: $gray600;
                    }
                  }
                }
            }

            .wr-collection-menu .dropdown {
                li {
                    a {
                        &:link, &:visited {
                            color: $white;
                        }

                        &:hover {
                            background-color: $pine;
                        }

                        &:focus {
                            background-color: $white;
                            color: $black;

                            svg {
                                path, polyline, polygon {
                                    stroke: $black;
                                }

                                .w-letter {
                                    fill: $black;
                                }
                            }
                        }
                    }
                }

                li:first-child {
                    a:hover {
                        background-color: inherit;
                    }
                }
            }

            .wr-breadcrumb li span {
                color: $white;
            }

            .navbar-default .navbar-text {
                color: $white;
            }

            #user-dropdown {
                background-color: transparent;
                color: $white;
            }

            .display {
                color: #333;
            }
        }
    }

}
