@import 'src/vars';

.tutorial {
    text-align: center;
    z-index: 99;

    button {
        text-align: center;
        border: none;
        color: $link;
        background: none;

        &:hover {
            color: $linkHover;
        }
    }

    & > div {
        margin-top: 1rem;
    }
}

.tagline h4 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
}