
$scalor: 0.99;
$opacity: 0;

.content-container {
    transform-origin: center top;
    transform: scale(1, 1);
    opacity: 1;
    font-size: 1.5rem;

    width: 90vw;
    margin: 1.5rem 5vw 5rem 5vw;

    &.transition {
        transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    }

    &.loading {
        transform: scale($scalor, $scalor);
        opacity: $opacity;
    }
}