
$buffer: .8rem;

.wr-resizeable {
    position: relative;

    .resizable-handle {
        position: absolute;
        z-index: 5;
        user-select: none;

        &.x {
            padding: 0 $buffer;
            top: 0;
            bottom: 0;
            right: -$buffer;
            cursor: ew-resize;

            &:after {
                content: '';
                display: block;
                width: .1rem;
                height: 100%;
                background-color: #CCC;
            }
        }

        &.y {
            padding: $buffer 0;
            left: 0;
            right: 0;
            bottom: -$buffer;
            cursor: ns-resize;
            margin-bottom: .5rem;

            &:after {
                content: '';
                display: block;
                height: .1rem;
                width: 100%;
                background-color: #CCC;
            }
        }
    }
}