@import 'src/vars';

.embed-footer {
    text-align: center;
    color: #FFF;
    background: $pine;
    padding: rem(.5rem) 0;
    order: 1;

    a {
        &:link, &:visited {
            color: #FFF;
        }
    }
}