.mode-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: darkred;
}

.wr-mode-selector.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1);
    top: 100%;
    left: auto;
}

.wr-mode-selector {
    display: flex;

    ul {
        margin: 0;
        padding: 1rem 0;

        & > li {
            list-style-type: none;
        }
    }

    .row {
        padding: 1rem 0;
        display: table;
        width: 100%;
    }

    li {
        word-wrap: break-word;
        white-space: normal;

        &:first-child {
            display: table-cell;
            float: none;
            text-align: center;
            vertical-align: middle;
        }

        h4 {
            margin: 0;
        }
    }

    .wr-mode-message {

        & > span {
            transition: opacity .2s ease-in-out, transform .2s ease-in-out;
            transition-delay: .045s;

            &:first-of-type {
                position: absolute;
                opacity: 0;
                transform: scale(1,1);
                left: 0;
                right: 0;
            }
        }

        &:hover > span + span, &:active > span + span {
            opacity: 0;
            transform: scale(0.9, 0.9)
        }

        &:hover > span:first-of-type, &:active > span:first-of-type {
            opacity: 1;
        }

        .glyphicon {
            vertical-align: text-top;
        }

        .glyphicon-stop {
            font-size: 1.3rem;
        }

        svg {
            width: 1.4rem;
            height: 1.4rem;
            vertical-align: text-top;
        }
    }

    .dropdown-toggle .glyphicon {
        vertical-align: middle;
    }

    .wr-mode:not(.disabled):not(.active) { cursor: pointer; }
    .wr-mode.active { background: #eef9ea; }
    .wr-mode.disabled { opacity: 0.6; filter: grayscale(100%); }
    .wr-mode:not(.disabled):not(.active):hover { background-color: #E3E3E3; }
}

.wr-mode-message {

}

.wr-modes {
    min-width: 35rem;
    position: relative;

    .wr-mode-icon {
        font-size: 2em;
    }

    svg {
        width: 2.8rem;
        height: 2.8rem;
    }
}

.wr-mode {
    position: relative;

    &.active:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 100%;
        left: 0;
        top: 0;
        background: #5fd85f;
    }
}
