@import 'src/vars';

.landing-header {
  z-index: 50;

  #help {
    position: absolute;
    top: rem(1.5rem);
    right: rem(1.5rem);
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-family: $sans;

    svg {
      margin-right: rem(.5rem);
    }
  }
}

nav.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(4rem);
  padding: 0 rem(.8rem);
  flex-shrink: 0;

  background: $sidebarBg;
  color: #e8e8e8;
  border-bottom: rem(.1rem) solid $gray350;

  .source {
    color: #000;
    flex-grow: 1;
    text-align: center;
  }

  .logos {
    display: flex;
    align-items: center;
  }

  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    vertical-align: middle;
    color: #000;
  }

  .player-functions button {
    transition: color $quickShift ease-in-out;
    &:hover {
      color: $pine;
    }
  }

  #help {
    svg {
      vertical-align: middle;
    }

    &:hover {
      svg {
        path {
          fill: $pine;
        }
      }
    }
  }

  .logotype {
    margin-left: rem(1rem);
  }

  .wrLogoImg {
    height: rem(2rem);
    padding-right: rem(.8rem);
  }

  .openFile {
    height: rem(3rem);
  }

  .halp {
    height: rem(2rem);
  }

}
