@import 'src/vars';

.table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.sorted {
        .row-index {
            opacity: 0;
        }
    }

    .collection-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: rem(2.8rem);
            font-weight: 400;
            color: $gray600;
            margin-left: rem(1.5rem);
        }


        .wr-coll-utilities {
            margin: rem(1.5rem) 0 rem(1.5rem) rem(1.5rem);
            width: 70%;
            min-width: rem(25rem);

            nav {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .search-box {
                    width: 100%;
                    margin-right: rem(.5rem);
                }
            }

            .big-query-warning {
                font-style: italic;
                color: $gray700;
            }
        }
    }

    .wr-coll-detail-table {
        flex-grow: 1;
        position: relative;
        padding-right: rem(1.5rem);
        padding-left: rem(1.5rem);

        .table-header-menu {
            position: absolute;
            right: rem(.2rem);
            top: rem(0.25rem);
        }

        .ReactVirtualized__Table__headerRow {
            font-size: rem(1rem);
            font-weight: 500;
            letter-spacing: 0.5pt;
        }

        .ReactVirtualized__Table__headerColumn {
            height: 100%;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &.hide-header {
              opacity: 0;
            }

            & > div{
                display: flex;
                align-items: center;
                padding: 0 rem(.5rem) 0 0;
                width: 100%;
                height: 100%;
                border-bottom: solid rem(.3rem) $pine;

                svg {
                    margin-left: auto;
                }
            }

            .header-handle {
                width: rem(1rem);
                height: 100%;
                margin-right: rem(.75rem);
                cursor: move;
                background-image: url('../../../shared/images/Table-Col-Header-Handle.svg');
                background-repeat: no-repeat;
                flex-shrink: 0;
                background-position: rem(.3rem) rem(.6rem);
            }
        }

        .ReactVirtualized__Table__row {
            transition: background $tableRowFade ease-in-out,
                        color $tableRowFade ease-in-out,
                        fill $tableRowFade ease-in-out;
            cursor: context-menu;
            font-size: rem(1.2rem);
            position: relative;
            background: $white;

            &:before {
                transition: background-color $quickShift ease-in-out;
                position: absolute;
                left: 0;
                content: '';
                width: rem(.75rem);
                height: 100%;
            }

            &:focus {
                outline: none;
            }

            &.odd {
                background-color: $table-zebra;
            }

            .ReactVirtualized__Table__rowColumn {
                margin-left: 0;

                &:first-of-type {
                    & > * {
                        padding: 0 rem(1.25rem);
                    }
                }

                .wr-remove-widget {
                    text-align: center;
                    opacity: 0;
                    transition: opacity $midShift ease-in-out;

                    button {
                        margin: 0;
                    }
                }

                .session-link {
                    &:link, &:visited {
                        transition: color $tableRowFade ease-in-out;
                        color: #333;
                    }
                }

                .row-index {
                    text-align: center;
                    transition: opacity $midShift ease-in-out;
                }
            }

            .page-title {
                font-size: rem(1.45rem);
            }

            svg {
                & > g {
                    transition: fill $tableRowFade ease-in-out;
                }
            }

            &:hover {
                &:not(.selected){
                    &:before {
                        background: $tr-selected;
                    }
                }

                &.selected {
                    &:before {
                        background: $tr-highlight-selected;
                    }
                }

                .wr-remove-widget {
                    opacity: 1;
                }
            }

            &.selected {
                background-color: $pine;
            }


            .ReactVirtualized__Table__rowColumn {
                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: rem(1rem);
                    color: $slate;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
