
@keyframes loader {
    0% { transform: rotateX(90deg) rotateY(-90deg); }
    50% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(90deg) rotateY(90deg); }
}

@keyframes color {
    @for $i from 0 through 10 {
        #{$i * 10%} { background-color: hsl(random(360), 75%, 75%); }
    }
}

$timing: .75s;
.loader {
    transition: opacity .3s ease-in-out;

    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;

    top: 1.75rem;
    right: 1.75rem;

    width: 4rem;
    height: 4rem;

    transform-origin: center center;
    animation: $timing linear infinite loader;
    animation-play-state: paused;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    $w: 2.5rem;
    li {
        width: $w;
        height: $w;

        border-radius: 50%;

        animation: $timing*10 infinite color;
        animation-timing-function:steps(1);
        animation-play-state: paused;
    }

    &.transition, &.active {
        animation-play-state: running;

        li {
            animation-play-state: running;
        }
    }
 }