
.wr-coll-meta {
    margin: 1.5rem 0;
}

.collection-title {
    font-size: 2rem;
}

.collection-list {

    li {
        margin: 0;

        &:hover {
            text-decoration: underline;
            background-color: #eee;
            cursor: pointer;
        }

        a {
            display: block;
            position: relative;
            padding: .8rem;
        }
    }
}
