.interstitial-page {
    background-color: #808080;
}

li.coll-nav {
    font-size: 18px;
}

.header-webrecorder {
    background-color: #222;
}

.header-webrecorder a {
    color: #429EEC;
}

.new-recording,
.browse-recording,
.recording-in-progress {
    margin-top: 5px;
}

.navbar-brand {
 /*   padding: 9px 4px 10px 0px;*/
    padding: 8px 4px 8px 4px;
    height: 40px;
}

.navbar {
    min-height: 20px;
}

.wr-user-links>li>a,
.wr-user-links>li>a:visited {
    display: inline;
    font-size: 1.0em;
    background-color: #222;
    padding: 0px;
    padding-right: 15px
}

.wr-user-links>li>a:focus,
.wr-user-links>li>a:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: #222;
}

.wr-user-links>li>a:active,
.wr-user-links>li>a:hover {
    outline: 0;
}

.breadcrumbs {
    margin-left: 5px;
    margin-top: -2px;
}

.wr-breadcrumb {
    background-color: #222;
    padding: 0px;
    padding-left: 5px;
    margin: 1px;
    border: none;
}

.wr-breadcrumb>li>a,
.wr-breadcrumb>li>a:visited {
    color: #ccc;
    text-decoration: underline;
}

.wr-breadcrumb>li>a:focus,
.wr-breadcrumb>li>a:hover {
    text-decoration: underline;
}

.wr-breadcrumb>li>a:active,
.wr-breadcrumb>li>a:hover {
    text-decoration: underline;
}

.wr-timer {
    color: #ccc;
    margin-left: 16px;
    margin-top: 1px;
    list-style: none;
    font-style: italic;
}

.new-recording-form-group,
.recording-in-progress-form-group,
.browse-recording-form-group {
    margin-bottom: 5px;
    height: 30px;
}

.new-recording-form-group .url,
.recording-in-progress-form-group .url,
.browse-recording-form-group .url {
    padding-right: 0px;
}

.recording-in-progress-form-group .title,
.browse-recording-form-group .title,
.recording-in-progress-form-group .collection,
.browse-recording-form-group .collection {
    margin-top: 3px;
}

.recording-info-value {
    font-size: 12px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 5px;
}

.start-recording-spacer {
    height: 20px;
}


.form-inline .homepage-url-input {
    width: 100%;
}

.doesnt-look-right {
    font-size: 11px;
}

/*
    https://github.com/twitter/typeahead.js/issues/378
    https://gist.github.com/joelhaasnoot/c7f3358726c22d489566
*/
.twitter-typeahead {
  width: 100%;
  position: relative;
}

.twitter-typeahead .tt-input,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    width: 100%;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
}
.tt-suggestion:hover,
.tt-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.hover a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

/*
    end https://github.com/twitter/typeahead.js/issues/378
    https://gist.github.com/joelhaasnoot/c7f3358726c22d489566
*/

li.coll-nav a {
    padding: 8px 4px 8px 4px;
}

li.coll-nav.active2 a {
    font-weight: bold;
}

li.coll-nav a:before {
    margin-top: 4px;
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
    font-weight: bold;
    content: "/"
}

.navbar-text {
    margin: 0px;
}

p.status-badge {
    font-size: 14px;
    color: white !important;
}

ul.state-drop {
    padding: 0px;
    text-align: left;
    /*margin-left: -20px;*/
}

.state-drop a {
    text-align: left;
    /*padding-left: 20px;*/
}

.display-badge {
    font-weight: 700;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: text-bottom;
    line-height: 1em;
    margin-right: 4px;
}

a.dropdown-badge {
    font-size: 14px;
    color: white !important;
    border-radius: 0px;
}

.replay-page {
    color: white !important;
}

.navbar {
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 3px 6px rgba(0,0,0,0.3);
}

.navbar .userset a {
    color: white;
}

.navbar .nav-search {
    margin-top: 12px;
    width: 100%;
    max-width: 30%;
    margin-right: 12px;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 2em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-sm:before {
    content: "\25cf";
    font-size: 1.5em;
    line-height: 0.3em;
}

.glyphicon.glyphicon-dot-lg:before {
    content: "\25cf";
    font-size: 2em;
    vertical-align: sub;
    line-height: 0.1em;
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

@keyframes pulse {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

#links-modal input[type=checkbox] {
    margin-right: 4px;
}

#links-selected-list {
    overflow-y: scroll; 
    max-height: 400px; 
    height: 100%
}

#links-toggle-all {
    margin-left: 16px;
}

.btn:focus {
    outline: none !important;
}

.btn .focus {
    outline: none !important;
}

.coll-download {
    padding: 10px 15px;
    margin: 15px 0px 15px 0px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid;
    text-align: center;
    border-radius: 6px;
}

.recording-blinker {
    display: inline-block;
    background-color: #a94442;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 1;
    margin: 5px;
}

/* Blink animation courtesy of: http://jsfiddle.net/mdz87jy1/ */
.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.glyphicon-button {
    top: 2px;
    margin-right: 3px;
}

.collection-list {
    margin-top: 20px;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-lg {
    margin-top: 40px;
}

.left-buffer {
    margin-left: 20px;
}

.space-usage {
    width: 25%;
    min-width: 150px;
}

.alert-during-recording {
    position: fixed;
    top: 20px;
    z-index: 2;
    height: 40px;
    display: none;
    padding: 10px;
}