@import 'src/vars';

.wr-list-header {
    .banner {
        display: flex;
        margin: 1.5rem 0 0 1.5rem;
        font-size: 1.2rem;

        svg {
            flex-shrink: 0;
            margin: .5rem 1rem 0 0;
        }

        h2 {
            display: inline-block;
            font-size: 2.4rem;
            font-weight: 300;
            color: $gray600;
            margin: 0;
        }
    }

    .list-metadata {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .Collapsible {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 .5rem 0 1.5rem;
            cursor: pointer;

            .click-highlight {
                display: inline-block;
            }
        }

        .list-sort-actions {
            display: flex;
            align-items: flex-end;
            transition: opacity $midShift ease-in-out;
            margin-right: 1.5rem;

            &.fade {
                opacity: 0;
            }

            button {
                width: max-content;
            }

            button + button {
                margin-left: 1.5rem;
            }
        }
    }
}
