
#indexingContainer {
  flex-grow: 1;
  padding-top: 9rem;
  background: #ECECEC;
  width: 100%;
  height: 100%;
  background-image: url('../../shared/images/Bg.png');
  background-repeat: repeat;
  animation: fadeIn 0.7s 1 normal;
}

.progress-window {
  padding: 2.5rem;
  width: 75vw;
  min-height: 30vh;
  margin: 0 auto;
  padding-bottom: 10rem;
  background: #FFF;
  font-family: sans-serif;
  margin-top: 2.5rem;
  font-family: "Helvetica Neue";

  h1 {
    font-weight: 300;
  }
}

.indexing-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    margin-top: 2rem;
    border-radius: .4rem;
    border: solid #CCC .1rem;
    background: rgb(245, 245, 245);

    .progress {
        transition: width .3s ease-in-out;
        position: absolute;
        left: 0;
        height: 5rem;
        background: rgb(116, 180, 90);
    }

    .progress-readout {
        z-index: 10;
        font-size: 1.5rem;
    }

}