youtube_dl
beaker
git+git://github.com/didip/beaker_extensions.git
bottle
uwsgi
gevent
boto
bottle-cork==0.12.0
#-e git+https://github.com/ikreymer/bottle-cork.git@template-args#egg=bottle-cork-0.11.1
git+http://github.com/ikreymer/warcsigner.git@py3#egg=warcsigner-0.4.0
#warcsigner==0.3.1
