@import 'src/vars';

.sidebar-coll-navigator {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(1rem);

    .overflow-wrapper {
        overflow: auto;
        padding: 0 rem(1.1rem) 0 rem(1.5rem);
        // sidebar handle buffer
        margin-right: rem(.4rem);

        .lists-header {
            h4 {
              font-size: rem(1.2rem);
              margin-top: rem(.5rem);
            }
        }

        ul {
            list-style-type: none;
            padding: 0 rem(1rem) 0 0;

            li {
                position: relative;
                padding-left: rem(.75rem);

                &:before {
                    transition: background-color $quickShift ease-in-out;
                    position: absolute;
                    left: 0;
                    content: '';
                    width: rem(.75rem);
                    height: 100%;
                }

                .wrapper {
                    transition: background-color $slowShift ease-in-out;
                    padding: rem(.4rem) 0 rem(.4rem) rem(1rem);

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    svg {
                        fill: $gray600;
                    }

                    .selected-item {
                        padding: 0;
                        text-align: left;
                    }

                    a, .selected-item {
                        display: block;
                        width: 100%;
                        padding: rem(0.3rem) 0;
                        margin: 0 rem(.5rem);
                        text-decoration: none;
                        color: $gray600;
                        font-weight: 500;
                        font-size: rem(1.4rem);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

               &:not(.all-pages) .wrapper:before {
                    content: '';
                    width: rem(1.8rem);
                    height: rem(1.8rem);
                    background-image: url('../../../shared/images/private-list.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-right: rem(.5rem);
                }

                &.is-public {
                    .wrapper {
                        &:before {
                            background-image: url('../../../shared/images/public-list.svg');
                        }

                        a, button {
                            color: $slate;
                        }
                    }
                }


                &.selected {
                    color: $slate;

                    &:before {
                        background-color: $pine;
                    }

                    a:visited, a:link, a:hover {
                        color: $slate;
                    }
                }

                &.divider {
                    margin: rem(1rem) 0;
                    background: $mgmt-gray;
                    height: rem(.1rem);
                }

                &:not(.divider):hover {
                    background: $gray300;

                    a {
                        color: #000;
                    }

                    .visiblity-toggle.public {
                        background-color: $bright-green-highlight;
                    }
                }
            }
        }
    }
}
