@import 'src/vars';

.help-container {
  background-image: url('../../../shared/images/Bg.png');
  background-repeat: repeat;
  padding-top: rem(2rem);

  .help {
    padding: 25px;
    width: 75vw;
    padding-bottom: rem(10rem);
    background: #FFF;
    font-family: $sans;
    margin: rem(2.5rem) auto;

    h3 {
      font-size: rem(2rem);
      margin: 0 0 rem(0.8rem) 0;
    }

    h4 {
      font-size: rem(1.1rem);
      margin: 0 0 rem(0.5rem) 0;
      font-weight: lighter;
    }

    h5 {
      font-size: rem(1.9rem);
      margin: rem(3rem) 0 rem(0.3rem) 0;
      color: $pine;

      &:first-child {
        margin: 0 0 rem(0.3rem) 0;
      }
    }

    p {
      font-size: rem(1.4rem);
      line-height: rem(2.2rem);
      margin: rem(1.2rem) auto;
    }

    li {
      font-size: rem(1.5rem);
      margin-bottom: rem(0.8rem);
    }

    a {
      color: #4D6AE1;
      text-decoration: none;

      &:hover{
        color: $blue !important;
        box-shadow: 0 rem(.3rem) 0 $pine;
      }

      &:active{
        color: $pine;
        box-shadow: 0 rem(.4rem) 0 $pine;
      }

      &:visited{
        color: #4D6AE1;
        text-decoration: none;
      }
    }
  }

  .support {
    margin-top: rem(2rem);
    font-style: italic;
    width: 70%;

    hr {
      border: transparent;
      border-top: rem(.1rem) solid #ccc;
      height: rem(.1rem);
    }

    p {
      font-size: rem(1.3rem);
    }
  }

  .debug-heading {
    display: inline-block;
  }

  .debug-toggle {
    transition: border-color 125ms ease-in-out,
                color 125ms ease-in-out;
    background: none;
    border: solid 1px black;
    color: black;
    margin-left: rem(1rem);
    border-radius: rem(.3rem);
    vertical-align: text-bottom;
    padding: 0 rem(.5rem);

    &:hover {
      color: blue;
      border-color: blue;
    }
  }

  .stdout-debug {
    transition: height 300ms ease-in-out;
    background-color: rgb(240,240,240);
    max-height: rem(50rem);
    margin-top: rem(1rem);

    &.open {
      overflow: auto;
    }

    &:not(.open) {
      overflow: hidden;
    }

    & > p {
      margin: 0;
      padding: rem(1.5rem);
    }
  }

}