@import 'src/vars';

.wr-mode-selector {
    .row {
        padding: rem(1rem) 0;
    }

    .recording-status {
        position: relative;
        height: b16(14px);
        width: b16(14px);
        top: b16(-1px);

        circle {
            fill: $warning;
        }
    }

    li {
        word-wrap: break-word;
        white-space: normal;

        &:first-child {
            display: table-cell;
            float: none;
            text-align: center;
            vertical-align: middle;
        }

        h4 {
            margin: 0;
        }
    }

    .wr-mode-message {
        border-right-width: 0;
        white-space: nowrap;

        #{$bs-button-interactive} {
            background-color: transparent;
            color: $slate;
            box-shadow: none;
        }

        & > span {
            transition: opacity $midShift ease-in-out, transform $midShift ease-in-out;
            transition-delay: .045s;

            &:first-of-type {
                position: absolute;
                opacity: 0;
                transform: scale(1,1);
                left: 0;
                right: 0;
            }
        }

        &:hover > span + span, &:active > span + span {
            opacity: 0;
            transform: scale(0.9, 0.9)
        }

        &:hover > span:first-of-type, &:active > span:first-of-type {
            opacity: 1;
        }

        svg {
            width: rem(1.2rem);
            height: 100%;
            vertical-align: middle;

            &.stop-icon {
                width: rem(1rem);
            }

            &.recording-status {
                top: b16(-2px);
                height: b16(10px);
                width: b16(10px);
            }
        }
    }

    .wr-mode:not(.disabled):not(.active) { cursor: pointer; }
    .wr-mode.active { background: $pine; }
    .wr-mode.disabled { opacity: 0.6; filter: grayscale(100%); }
    .wr-mode:not(.disabled):not(.active):hover { background-color: #E3E3E3; }
}

.wr-mode {
    min-width: rem(35rem);
    position: relative;

    h5 {
        font-size: rem(1.8rem);
        font-weight: normal;
    }

    &.active:before {
        content: '';
        position: absolute;
        display: block;
        width: rem(1rem);
        height: 100%;
        left: 0;
        top: 0;
        background: $dusty-pine;
    }

    .wr-mode-icon {
        font-size: rem(1em);
    }

    svg {
        width: rem(1.8rem);
        height: rem(1.8rem);
    }
}

.preview-mode {
    display: inline-block;
    border: solid rem(.1rem) $warning;
    width: rem(1.7rem);
    height: rem(1.7rem);
    border-radius: 50%;
}
